
/*homecare menu icon style*/
div.menu-container ul.menu-tree li#menu-basic-guest-network-li.fst a.fst span.icon, div.menu-container ul.menu-tree li#menu-advanced-guest-network-li.fst a.fst span.icon {
    background: url(../img/homecare.1704685849537.png) no-repeat -250px -194px;
}
div.menu-container ul.menu-tree li#menu-basic-guest-network-li.fst:hover a.fst span.icon, div.menu-container ul.menu-tree li#menu-advanced-guest-network-li.fst:hover a.fst span.icon, div.menu-container ul.menu-tree li#menu-basic-guest-network-li.fst.deployed a.fst span.icon, div.menu-container ul.menu-tree li#menu-advanced-guest-network-li.fst.deployed a.fst span.icon {
    background: url(../img/homecare.1704685849537.png) no-repeat -274px -194px;
}
div.menu-container ul.menu-tree li#menu-basic-guest-network-li.fst.selected a.fst span.icon, div.menu-container ul.menu-tree li#menu-advanced-guest-network-li.fst.selected a.fst span.icon {
    background: url(../img/homecare.1704685849537.png) no-repeat -250px -194px;
}
div.menu-container ul.menu-tree li#menu-basic-parental-control-li.fst a.fst span.icon, div.menu-container ul.menu-tree li#menu-advanced-parental-control-li.fst a.fst span.icon {
    background: url(../img/homecare.1704685849537.png) no-repeat -154px -194px;
}
div.menu-container ul.menu-tree li#menu-basic-parental-control-li.fst:hover a.fst span.icon, div.menu-container ul.menu-tree li#menu-advanced-parental-control-li.fst:hover a.fst span.icon, div.menu-container ul.menu-tree li#menu-basic-parental-control-li.fst.deployed a.fst span.icon, div.menu-container ul.menu-tree li#menu-advanced-parental-control-li.fst.deployed a.fst span.icon {
    background: url(../img/homecare.1704685849537.png) no-repeat -178px -194px;
}
div.menu-container ul.menu-tree li#menu-basic-parental-control-li.fst.selected a.fst span.icon, div.menu-container ul.menu-tree li#menu-advanced-parental-control-li.fst.selected a.fst span.icon {
    background: url(../img/homecare.1704685849537.png) no-repeat -154px -194px;
}
div.menu-container ul.menu-tree li#menu-advanced-qos-li.fst a.fst span.icon, div.menu-container ul.menu-tree li#menu-basic-qos-li.fst a.fst span.icon {
    background: url(../img/homecare.1704685849537.png) no-repeat -202px -194px;
}
div.menu-container ul.menu-tree li#menu-advanced-qos-li.fst:hover a.fst span.icon, div.menu-container ul.menu-tree li#menu-advanced-qos-li.fst.deployed a.fst span.icon, div.menu-container ul.menu-tree li#menu-basic-qos-li.fst:hover a.fst span.icon, div.menu-container ul.menu-tree li#menu-basic-qos-li.fst.deployed a.fst span.icon {
    background: url(../img/homecare.1704685849537.png) no-repeat -226px -194px;
}
div.menu-container ul.menu-tree li#menu-advanced-qos-li.fst.selected a.fst span.icon, div.menu-container ul.menu-tree li#menu-basic-qos-li.fst.selected a.fst span.icon {
    background: url(../img/homecare.1704685849537.png) no-repeat -202px -194px;
}
/*homecare menu icon style end*/