.slider {
  width: 200px;
  display: inline-block;
  vertical-align: text-top;
}

.slider > .dragger {
  background: url("../img/icons.png") no-repeat scroll -316px -1117px;
  width: 20px;
  height: 20px;
}

.slider > .track, .slider > .highlight-track {
  background: #ccc;
  border: 1px solid #ccc;
  height: 4px;
}

.slider > .highlight-track {
	background-color: #ffcb00;
	border-color: #ffcb00;
}

