@charset "utf-8";
input#t_list.button
{
	width:210px;
	background:url("../img/button210_normal.png") !important;
}
input#t_list.button:hover
{
	background:url("../img/button210_focus.png") !important;
}
input#t_list.button:disabled
{
	background:url("../img/button210_disable.png") !important;
}

input.button.T_addnew, input.button.T_ensel, input.button.T_dissel, input.button.T_delsel
{
	width:162px;
	margin-bottom:8px;
	background: url("../img/buttonXXL-normal.png") !important;
}
input.button.T_addnew:hover, input.button.T_ensel:hover, input.button.T_dissel:hover, input.button.T_delsel:hover
{
	background: url("../img/buttonXXL-focus.png") !important;
}
input.button.T_addnew:disabled, input.button.T_ensel:disabled, input.button.T_dissel:disabled, input.button.T_delsel:disabled
{
	background: url("../img/buttonXXL-disabled.png") !important;
}

input#t_copy1.button
{
	width:190px;
	background:url("../img/button190_normal.png") !important;
}
input#t_copy1.button:hover
{
	background:url("../img/button190_focus.png") !important;
}
input#t_copy1.button:disabled
{
	background:url("../img/button190_disable.png") !important;
}

/*ethIptv*/
#ispService b {
	font-weight: bold;
}
#ispService p .vid
{
	margin-top: 10px;
	font-weight: bold;
}
#ispService p select
{
	margin-top: -17px;
}
#ispService p input.text
{
	position: relative;
	top: -7px;
	font-weight: normal;
}
#ispService p span.checkbox_face
{
	margin-top: 11px;
}
#ispService b.tagEnable, #ispService b.vlanEnable
{
	position: relative;
	top: -8px;
}
#div_serv_ipphone b.vid
{
	position: relative;
	top: -5px;
}
#div_serv_ipphone b.vpri
{
	position: relative;
	top: -8px;
}
#div_serv_iptv b.vid
{
	position: relative;
	top: -4px;
}
#div_serv_iptv b.vpri
{
	position: relative;
	top: -7px;
}
