input[type="radio"].radio-radio + label.radio-label.xxl {
    width: 390px;
}
div.content div.mode-change {
    left: 210px;
}
h4.status {
    padding: 10px 0 10px 8px;
}
/*h4.status span.conn-status {
	margin-left: 0px;
}*/
/*css for pl-button*/
button.pl-lm {
    width: 101px;
}
button.pl-l {
    width: 132px;
}

button.pl-ll {
    width: 135px;
}
button.pl-xl {
    width: 150px;
}
button.pl-xxl {
    width: 270px;
}
button.pl-xxxl {
    width: 300px;
}
button.xxxxl {
    width: 278px;
}

.pure-form-aligned .pure-control-group label.label-title.pl-m {
    width: 127px;
}
.pure-form-aligned .pure-control-group label.label-title.l.pl-xl, .pure-form-aligned .pure-control-group label.label-title.pl-xl {
    width: 248px;
}
input.radio-radio[type="radio"] + label.radio-label.pl-xxl {
    width: 390px;
}
.select-title.l.pl-xl, .select-title.pl-xl {
    width: 252px;
}
.select-title.pl-m {
    width: 131px;
}
.pl-xxl .tp-select {
    width: 300px;
}
