@charset "utf-8";
/*ethIptv*/
#ispService b{
	font-weight: bold;
}
#ispService p .vid
{
	font-weight: bold;
}

#internet_vlanid, #ipphone_vlanid, #div_serv_internet b.vpri, #div_serv_ipphone b.vpri{
	position: relative;
	top: -3px;
}
#multicast_vlanid {
	position: relative;
}
#div_serv_iptv b.vid  {
	position: relative;
	top: 1px;
}
#iptv_vlanid {
	position: relative;
	top: -2px;
}
#div_serv_iptv b.vpri {
	position: relative;
	top: -2px;
}
#div_serv_multicast b.vpri {
	position: relative;
}
#internet_vlanprio {
	position: relative;
	top: -5px;
}
#ipphone_vlanprio{
	position: relative;
	top: -4px;
}
#iptv_vlanprio {
	position: relative;
	top: -4px;
}
#div_serv_multicast b.vid  {
	position: relative;
}
#multicast_vlanprio {
	position: relative;
}
#div_serv_internet span.checkbox_face {
}
#div_serv_multicast span.checkbox_face {
	position: relative;
	top: 3px;
}
#div_serv_internet b.tagEnable {
	position: relative;
	top: -4px;
}
#div_serv_multicast b.vlanEnable {
	position: relative;
}
