input[type="radio"].radio-radio + label.radio-label.xxl {
    width: 390px;
}
div.content div.mode-change {
    left: 210px;
}
h4.status {
    padding: 10px 0 10px 8px;
}
/*h4.status span.conn-status {
	margin-left: 0px;
}*/
/*css for pl-button*/
button.pl-lm {
    width: 101px;
}
button.pl-l {
    width: 132px;
}

button.pl-ll {
    width: 135px;
}
 button.pl-xl {
    width: 150px;
}
button.pl-xxl {
    width: 270px;
}
button.pl-xxxl {
    width: 300px;
}

.pure-form-aligned .pure-control-group label.label-title.pl-m {
    width: 127px;
}
.pure-form-aligned .pure-control-group label.label-title.l.pl-xl, .pure-form-aligned .pure-control-group label.label-title.pl-xl {
    width: 248px;
}
input.radio-radio[type="radio"] + label.radio-label.pl-xxl {
    width: 390px;
}
.select-title.l.pl-xl, .select-title.pl-xl {
    width: 252px;
}
.select-title.pl-m {
    width: 131px;
}
.pl-xxl .tp-select {
    width: 300px;
}
.pl-xxl .select-icon {
    margin: 6px 0 0 294px;
}
div.content div.mode-change {
    left: 200px;
}
/*
div.mode-change span.first-mode, div.mode-change span.second-mode,  div.mode-change span.third-mode{
    padding: 3px 1px;
    font-size: 10px;
}
*/
button#t_testInternet {/* qsEnd.htm */
    width: 200px;
}
button#GetPCTime {/* time.htm */
    width: 160px;
}
button#detect {/* wanBasic.htm, qsEwan.htm */
    /*width: 120px;*/
}
button#resetBtn{/* backNRestore.htm */
    width: 150px;
}
button#factoryBtn{/* backNRestore.htm */
    width: 150px;
}
/* time.htm */
.pure-form-aligned .pure-control-group label.label-title.s {
  width: 110px;
}
.select-title.xxxs {
  width: 114px;
}
/*parent control*/
#children-grid .internet-pause-icon .text{
    left: -15px;
}