.select-title.xxxs.it-xxs {
    width: 115px;
}
.xxxl.it-xxxl .tp-select {
    width: 520px;
}
.pure-form-aligned .pure-control-group label.label-title.s.it-xxs {
    width: 111px;
}
button.it-lm {
    width: 101px;
}
button.it-l {
    width: 132px;
}
button.it-ll {
    width: 135px;
}
button.it-xl {
    width: 150px;
}
button.it-xxl {
    width: 180px;
}
button.it-xxxl {
    width: 220px;
}
button.it-xxxxl {
    width: 250px;
}
button.xxxxl {
    width: 271px;
}
button.tp-btn-custom.long.qs-cloud-login-btn {
    width: 240px;
}
.pure-form input[type="text"].qs-cloud-login-input,
.pure-form input[type="password"].qs-cloud-login-input {
    width: 240px;
}
span.pc-forgetPwd.qs-cloud-pc-forgetPwd {
    position: absolute;
    top: 0;
    left: 244px;
}
.top-titleBar-operationContainer a {
    font-size: 0.9rem;
}
