#top-con {
    /*width: 1080px;*/
}
div.top-nav ul li span {
    min-width: 180px;
}
#top-product {
    margin-left: 0;
    width: 185px;
}
a.top-btn#topLogout {
    width: 60px;
    margin-top: -16px;
    height: 60px;
}
a.top-btn#topReboot span.text {
    width: 80px;
}
a.top-btn#topReboot {
    margin-top: -16px;
    height: 60px;
    width: 82px;
}
button#detect {/* wanBasic.htm, qsEwan.htm */
    width: 140px;
}
#base-white {
    margin-left: 355px;
}
#con {
    width: 1100px;
}
#menu {
    width: 340px;
}
#menu li.ml1 {
    width: 342px;
}
#main {
    width: 670px;
    left: 360px;
}