/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
		
	font-weight: 400;	
	overflow-x: hidden;
	font-family: 'HelveticaNeue';
	color:#000000;

}


/*New Page*/


@font-face {
	font-family: 'HelveticaNeue';
	src: url('../fonts/HelveticaNeue/HelveticaNeue.eot'); /* IE9 Compat Modes */
	src: url('../fonts/HelveticaNeue/HelveticaNeue.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/HelveticaNeue/HelveticaNeue.woff') format('woff'), /* Modern Browsers */ url('../fonts/HelveticaNeue/HelveticaNeue.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/HelveticaNeue/HelveticaNeue.svg#HelveticaNeue') format('svg') /* Legacy iOS */
}


@font-face {
	font-family: 'HelveticaNeue-Medium';
	src: url('../fonts/HelveticaNeue/HelveticaNeue-Medium.eot'); /* IE9 Compat Modes */
	src: url('../fonts/HelveticaNeue/HelveticaNeue-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/HelveticaNeue/HelveticaNeue-Medium.woff') format('woff'), /* Modern Browsers */ url('../fonts/HelveticaNeue/HelveticaNeue-Medium.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/HelveticaNeue/HelveticaNeue-Medium.svg#HelveticaNeue') format('svg') /* Legacy iOS */
}

@font-face {
  font-family: 'Helvetica-Bold';
  src: url('../fonts/HelveticaNeue/Helvetica-Bold.eot'); /* IE9 Compat Modes */
	src: url('../fonts/HelveticaNeue/Helvetica-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/HelveticaNeue/Helvetica-Bold.woff') format('woff'), /* Modern Browsers */ url('../fonts/HelveticaNeue/Helvetica-Bold.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/HelveticaNeue/Helvetica-Bold.svg#HelveticaNeue') format('svg') /* Legacy iOS */

	
}

.section-height {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.mobile_img {
    display: inline-block;
}
.center-section {
    display: flex;
	justify-content: center;
}

.right-content {
text-align: left;
border-bottom: 1px solid #d8d8d8;
margin-bottom: 15px;
padding-bottom: 30px;
font-size: 18px;
font-family: 'HelveticaNeue';
}
.right-content span{
	font-family: 'HelveticaNeue-Medium';
	font-size: 48px;
	font-weight: 500;
	margin-bottom: 7px;
	display: block;
	color:#000000;
	
}
.bottom-right-section {
    text-align: left;
    margin-top: 25px;
    display: block;
	font-family: 'HelveticaNeue';
	font-size: 18px;
	color:#000000;
}

.bottom-right-section p{
	margin-bottom: 0;
	
}
.bottom-right-section a{
	color:#0c7dff;	
		font-family: 'HelveticaNeue-Medium';
	font-size: 12px;
}

.ml {
 margin-left: -13px;
}
.right-content img {
    margin-top: 40px;
}
.mobile_img img {
    width: 80%;
	display: block;
	margin: 0 auto;
}
.align-self-center {
    -ms-flex-item-align: center !important;
    align-self: center !important;
}

@media(max-width:767px){
	.section-height{display: block;}
	.center-section {display: block;}
	.mobile_img img { width: 100%;}
	.section-height{padding: 0 15px;}
}



