<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Hilfetext in Deutsch für Dynamic DNS</title>

    </head>
    <body>
        <div class="container_help">
            <h1>Client-Einstellungen</h1>
            <div class="row">
                <p>Auf dieser Seite können Sie ein dynamisches dns-Konto konfigurieren, das mit dem Server registriert ist.</p>
                <p>Konfigurieren Sie dynamische dns-Konten mit den angegebenen Details.</p>
                <p>Standardmäßig werden auf der Seite vorhandene Kontoinformationen angezeigt. Klicken <input id="Add" class="waves-button-input" type="button" ng-click="formToOpen('dyndns_client_form')" source="" value="Add"> Um ein neues Konto hinzuzufügen oder ein bestehendes Konto zu ändern oder zu löschen.</p>
                <hr>
                <p><b>Dynamisches dns-Konto</b> Die Kontoinformationen bestehen aus dem dynamischen dns-Servernamen, der Schnittstelle und dem Hostnamen, die mit Benutzernamen und Kennwort verknüpft sind.</p>
                <p><b>More:</b> Zeigt den gesamten Hostnamen an, der dem Benutzerkonto zugeordnet ist.</p>
             </div>
            <h1>Unterstützte Server</h1>
             <div class="row">
                <p>Zeigt die Liste der unterstützten dynamischen dns-Server an. Als standardmäßig unterstützte Server sind dhs, dyndns und dyns</p>
                <p>Standardmäßig werden auf der Seite alle unterstützten Server angezeigt. Klicken <input id="Add" class="waves-button-input" type="button" ng-click="formToOpen('dyndns_server_form')" source="" value="Add"> Um einen neuen Server hinzuzufügen, oder Sie können bestehende unterstützte Server ändern oder löschen.</p>
                <hr>
                <p>Neue Server können nur hinzugefügt werden, wenn die Server zu der Liste der unterstützten Server gehören.</p>
              </div>
    </body>
</html>
