
a.top-btn#topReboot span.text {
    width: 80px;
}
a.top-btn#topReboot {
    width: 82px;
}
button#detect {/* wanBasic.htm, qsEwan.htm */
    width: 140px;
}
/*parent control*/
#children-grid .internet-pause-icon .text{
    left: -18px;
}