html {
    background-color: #fff;
}
.pt-0 {
	padding-top: 0px !important;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.text-nowrap {
  white-space: nowrap;
}
.text-lowercase {
  text-transform: lowercase;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-capitalize {
  text-transform: capitalize;
}
.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.ip-feild {
    text-align: center;
}
.subhead2-text {
    padding-top: 5px;
}
input:-moz-read-only { /* For Firefox */
   background-color: transparent;
    color: #ddd !important;
    opacity: 1;
    -webkit-text-fill-color: #ddd !important;
}

input:read-only { 
   background-color: transparent;
    color: #ddd !important;
    opacity: 1;
    -webkit-text-fill-color: #ddd !important;
}

.page-header {
	font-family: "Avenir Next";
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    text-align: left;
    color: #000;
    width: 97%;
    background-color: #FFF;
    padding: 18px 28px;
    height: auto;
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
}

.form-top-section {
	position: relative;
    padding-top: 10px;
    /* z-index: 1050; */
    background-color: #FFF;
    width: 100%;
}

.form-sub-section {
	overflow: auto;
	height: 298px;
}

.invisible {
	visibility: hidden !important;
}

.form-group {
    padding-left: 28px;
    /*
    overflow: auto;
    height: 298px;
    */
}

.form-group > page-header {
  padding-left: 0px !important;
}

.form-group .form-row {
	padding: 6px 0px;
	font-family: "Avenir Next";
    font-size: 14px;
    color: #2C262D;
    font-weight: normal !important;
}

.form-group .form-row2 {
  padding: 0px 0px 15px;
  FONT-SIZE: 12px; 
  FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular, sans-serif; 
  color:#666;
  font-weight: normal !important;
}

.form-group .form-row b {
    /*font-weight: normal !important;*/
}

.form-group .form-row2 a{

  color: black;
  TEXT-DECORATION: underline;
}

.form-group .space-divider {
	padding: 7px;
}

.form-group .space-divider-sm {
    padding: 2px;
}

.divider {
	background-image:url('../images/seprator.gif');
	width:97%;
	background-repeat: repeat-x;
	background-position: center;
}

.form-btn-row {
	width: 97%;
    left: 0px;
    bottom: 0px;
    border-bottom: 0px none;
    height: auto;
    background-color: #fff !important;
    box-shadow: 0 2px 9px 0 #ccc;
    z-index: 9;
    background: none;
    padding: 20px 24px;
    text-align: right;
    background-image: none !important;
}
.form-btn-row2 {
  position: absolute;
  bottom: 50px;
}
.ip-input-row input {
	padding: 0px 2px !important;
    border-bottom: #979797 solid 1px !important;
    height: 32px !important;
    width: auto !important;
    color: #000 !important;
    border-radius: 0px;
    border: none;
    font-family: 'Avenir Next';
}

.seperate-border {
	padding-bottom: 30px;
}

.input-label {
	font-family: "Avenir Next";
    font-size: 14px;
    color: #2C262D;
    font-weight: normal;
}

.fixed-bottom {
	position: absolute;
    width: 97%;
    left: 0px;
    bottom: 0px;
    border-bottom: 0px none;
    height: auto;
    background-color: #fff !important;
    box-shadow: 0 2px 9px 0 #ccc;
    z-index: 9;
    background: none;
    padding: 20px 24px;
    text-align: right;
    background-image: none !important;
}

.help-section {
    display: block;
    position: absolute;
    bottom: 1%;
    z-index: 9999;
}

.help-main-bg {
    visibility: hidden;
    position: absolute;
    width: 100%;
    height: 150px;
    margin-top: -150px;
    overflow: auto;
    background-color: #202020;
    display: table-row;
    padding-top: 25px;
}

.help-main-content {
    position: fixed;
    width: 100%;
    height: 140px;
    width: 96%;
    align-content: center;
    align-self: center;
    margin-top: -2%;
    margin-left: 3%;
    margin-right: 3%;
    background-color: #202020;
    color: #fff;
    display: table-row;
    overflow: auto;
}
.wizardTitleBlack {
    color: #000;
    font-size: 20px;
    font-weight: bold;
    font-family: "Avenir Next";
}

.wizardTitleRed {
    color: #ff0000;
    font-size: 20px;
    font-weight: bold;
    font-family: "Avenir Next";
}

.wizardTextBlack {
    color: #000;
    font-size: 14px;
    margin: auto;
    width: 600px;
}

.rowCenter {
    display: table-row;
}