/* 顶部 */
.header-class{
    background-color: #00ABDA !important;
}
body .head-div{
    display: flex !important;
    justify-content: space-between;
    padding: 5px;
}
#topbar{
    display: none;
}
.logout-text{
    text-align: center;
    color: #fff;
    cursor: pointer;
}

#logo{
    display: block !important;
    width: 120px;
    height: 95px;
}
.guide-page .guide-page-logo{
    width: 120px !important;
    margin-bottom: 10px;
}
#qrcode{
    display: block !important;
    width: 90px;
    height: 90px;
}

/*侧边栏*/
#topnav_container td.topHeaderMenu{
    background-color: #363E47 !important;
}
#topnav_container td {
    background-color: #363E47;
}
.topnavon a:link, .topnavon a:visited, .topnavon a:active {
    color: #FFF45C;
    background-color: #363E47;
}
#topnav_container td.subMenuDummy{
    background-color: #363E47;
}

.topnavoff a:hover {
    color: #ffffff;
    background-color: #363E47;
    border-style: none;
}
#topnav_container{
    background-color: #363E47;
}

/*顶部菜单栏*/
#topnav_container td {
    background-color: #363E47;
}

.topnavon a:link, .topnavon a:visited, .topnavon a:active {
    color: #FFF45C;
    background-color: #363E47;
    padding: 6px;
}

.topnavoff a:hover {
    color: #ffffff;
    background-color: #363E47;
    border-style: none;
}
