<div class="main-page" id="cloud-page">
	<div class="form-container cloud-login-form hidden">
		<div form-header title="CLOUD.TITLE"></div>
		<div class="form-content-container">
			<div class="login-main-content">
				<h1 class="cloud-login-logo">
					<span class="brand-logo"></span>
				</h1>
				<span class="login-note" translate>CLOUD.NOTE2</span>
				<div text-field class="txt-login username" placeholder="CLOUD.TP_LINK_ID" ng-model="form.data.username" ></div>
				<div password class="txt-login password" placeholder="CLOUD.PASSWORD" ng-model='form.data.password' level-visible="false"></div>
				
				<div button type="submit" text="CLOUD.LOGIN" class="btn-login" on-click="login()" ng-model="form.submitBtn"></div>
				<div class="cloud-button-group">
					<div class="forgotpassword">
						<div button class="btn-forget" text="CLOUD.FORGET_PASSWORD" on-click="forgotPassword()" ng-model="form.forgotPassword"></div>
					</div>
					<div class="signup">
						<div button class="btn-sign" text="CLOUD.SIGN_UP" on-click="signUp()" ng-model="form.signUp"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="form-container cloud-offline hidden">
		<div class="icon"></div>
		<div class="title" translate>CLOUD.OFF_LINE</div>
		<p class="content" translate>CLOUD.OFF_LINE_NOTE</p>
	</div>

	<div class="form-container cloud-no-device hidden">
		<div class="icon"></div>
		<div class="title" translate>CLOUD.ONLINE_NO_DEVICE</div>
		<ul class="content">
			<li>
				<span class="dot"></span>
				<span translate>CLOUD.LIST_1</span>
			</li>
			<li>
				<span class="dot"></span>
				<span translate>CLOUD.LIST_2</span>
			</li>
			<li>
				<span class="dot"></span>
				<span translate>CLOUD.LIST_3</span>
				<a href="#" class="cloud-link" translate>CLOUD.LIST_LINK</a>
			</li>
		</ul>
	</div>

	<iframe id="cloud-login" class="hidden" name="cloud-login" frameborder="no" src=""></iframe>
	<div class="cloud-mask hidden"></div>

	<div class="page-msg">
		<div message id="login-failed-msg"></div>
	</div>
</div>