<div class="main-page">
	<div class="form-container">
		<div form-header title="GUEST_SETTINGS.TITLE">
			<div button position="right" text="FORM.SAVE" ng-model="form.submitBtn" on-click="save()"></div>
		</div>
		<div class="form-content-container">
			<div class="fieldset-container">
				<div class="fieldset-content-container">
					<div label="GUEST_SETTINGS.ALLOW_EACH" checkbox-switch ng-model="form.data.guest_isolate" class="checkbox-orange"></div>
					<div label="GUEST_SETTINGS.ALLOW_LOCAL" checkbox-switch ng-model="form.data.guest_access" class="checkbox-orange"></div>
				</div>
			</div>
			<div button-group class="wirelss-mode-switch" ng-model="form.modeSwitchBtn"></div>
			<div class="fieldset-container">
				<div class="fieldset-content-container">
					<div on="form.modeSwitchBtn.data" ng-switch>

						<div ng-switch-when="2g">
							<div checkbox-switch label="GUEST_SETTINGS.ENABLE_WIRELESS_RADIO" separator=":" ng-model="form.data.guest_2g_enable" class="checkbox-orange"></div>
							<div text-field label="GUEST_SETTINGS.SSID" ng-model="form.data.guest_2g_ssid"></div>
							<div checkbox-switch class="hidden-ssid" label="GUEST_SETTINGS.HIDE_SSID" ng-model="form.data.guest_2g_hidden"></div>
							</div>

						<div ng-switch-when="5g">
							<div checkbox-switch label="GUEST_SETTINGS.ENABLE_WIRELESS_RADIO" separator=":" ng-model="form.data.guest_5g_enable" class="checkbox-orange"></div>
							<div text-field label="GUEST_SETTINGS.SSID" ng-model="form.data.guest_5g_ssid"></div>
							<div checkbox-switch class="hidden-ssid" label="GUEST_SETTINGS.HIDE_SSID" ng-model="form.data.guest_5g_hidden"></div>
							</div>

						<div ng-switch-when="5g_2">
							<div checkbox-switch label="GUEST_SETTINGS.ENABLE_WIRELESS_RADIO" separator=":" ng-model="form.data.guest_5g_2_enable" class="checkbox-orange"></div>
							<div text-field label="GUEST_SETTINGS.SSID" ng-model="form.data.guest_5g_2_ssid"></div>
							<div checkbox-switch class="hidden-ssid" label="GUEST_SETTINGS.HIDE_SSID" ng-model="form.data.guest_5g_2_hidden"></div>
							</div>

						<div checkbox-switch label="GUEST_SETTINGS.SECURITY" separator=":" ng-model="form.data.guest_2g5g_encryption" class="checkbox-orange"></div>
						<div ng-show="form.data.guest_2g5g_encryption.data === 'psk'">
							<div text-field label="GUEST_SETTINGS.WIRELESS_PASSWORD" separator=":" ng-model="form.data.guest_2g5g_psk_key"></div>
						</div>

						<div class="guest-share-password">
							<span class="icon"></span>
							<span class="text" translate>GUEST_SETTINGS.SHARE_PASSWORD</span>
					</div>
				</div>
			</div>	
	</div>

		</div>
	</div>
</div>

