<div class="main-page form-container">
	<form novalidate name="internet" class="form-horizontal">
		<div form-header title="INTERNET.TITLE">
			<div button position="right" text="FORM.SAVE"  on-click="save()" ng-model="form.submitBtn"></div>
		</div>
		<div class="form-content-container">
			<div class="fieldset-container"><!--Internet 控件集-->
				<div legend-field title="INTERNET.TITLE"></div>
				<div class="fieldset-content-container">
					<div combo-field label="INTERNET.CONNECTION_TYPE" separator=":" ng-model="form.data.conntype" class="widget-with-border"></div>
					<div ng-show="form.data.conntype.data && form.data.conntype.data !== 'none' ">
						<div on="form.data.conntype.data" ng-switch>
							<!-- Static IP -->
							<div ng-switch-when="static" ng-controller="static">
								<div ip-field label="INTERNET.IP_ADDRESS" separator=":" ng-model="form.data.ipaddr"></div>
								<div ip-field label="INTERNET.SUBNET_MASK" separator=":" ng-model="form.data.netmask"></div>
								<div ip-field label="INTERNET.DEFAULT_GATEWAY" separator=":" ng-model="form.data.gateway"></div>
								<div ip-field label="INTERNET.PRIMARY_DNS" separator=":" ng-model="form.data.pri_dns"></div>
								<div ip-field label="INTERNET.SECOND_DNS" separator=":" ng-model="form.data.snd_dns" placeholder="FORM.OPTIONAL"></div>
								<div text-field label="INTERNET.MTU_SIZE" separator=":" unit="UNIT.BYTES" tips="INTERNET.MTU_1500" ng-model="form.data.mtu"></div>
							</div>

							<!-- Dynamic IP -->
							<div ng-switch-when="dhcp" ng-controller="dhcp">
								<div display-field label="INTERNET.IP_ADDRESS" separator=":" ng-model="form.data.ipaddr"></div>
								<div display-field label="INTERNET.SUBNET_MASK" separator=":" ng-model="form.data.netmask"></div>
								<div display-field label="INTERNET.DEFAULT_GATEWAY" separator=":" ng-model="form.data.gateway"></div>
								<div display-field label="INTERNET.PRIMARY_DNS" separator=":" ng-model="form.data.pri_dns"></div>
								<div display-field label="INTERNET.SECOND_DNS" separator=":" ng-model="form.data.snd_dns"></div>
								<div class="button-group">
									<div button class="button-inline" text="INTERNET.RENEW" on-click="renew()" ng-model="form.renew"></div>
									<div button class="button-inline" text="INTERNET.RELEASE" on-click="release()" ng-model="form.release"></div>
									<div>
										<span class="dhcp-link-icon" ng-show="unplugged"></span>
										<span class="dhcp-link-status" ng-show="unplugged" translate>QUICK_SETUP.UNPLUGGED</span>
									</div>
								</div>
								<div expander-field title="FORM.ADVANCED" iconInitCls="basic-icon" iconClickCls="advanced-icon" ng-model="form.expanderShow">
									<div combo-field label="INTERNET.DNS_ADDRESS" separator=":" ng-model="form.data.dns_mode"></div>
									<div on="form.data.dns_mode.data" ng-switch>
										<div ng-switch-when="dynamic">
											<div display-field label="INTERNET.PRIMARY_DNS" separator=":" ng-model="form.data.dyn_pridns"></div>
											<div display-field label="INTERNET.SECOND_DNS" separator=":" ng-model="form.data.dyn_snddns"></div>
										</div>
										<div ng-switch-when="static">
											<div ip-field label="INTERNET.PRIMARY_DNS" separator=":" ng-model="form.data.manual_pridns"></div>
											<div ip-field label="INTERNET.SECOND_DNS" separator=":" ng-model="form.data.manual_snddns" placeholder="FORM.OPTIONAL"></div>
										</div>
									</div>
									<div text-field label="INTERNET.MTU_SIZE" separator=":" unit="UNIT.BYTES" tips="INTERNET.MTU_1500" ng-model="form.data.mtu"></div>
									<div text-field label="INTERNET.HOST_NAME" separator=":" ng-model="form.data.hostname"></div>
									<div checkbox-switch label="INTERNET.UNICAST_DHCP" tips="INTERNET.UNICAST_DHCP_TIPS" separator=":" ng-model="form.data.unicast" class="checkbox-orange"></div>

								</div>					
							</div>
							
							<!-- PPPoE -->
							<div ng-switch-when="pppoe" ng-controller="pppoe">
								<div text-field label="INTERNET.USERNAME" separator=":" ng-model="form.data.username"></div>
								<div text-field type="password" label="INTERNET.PASSWORD" separator=":" ng-model="form.data.password"></div>
								<div display-field label="INTERNET.IP_ADDRESS" separator=":" ng-model="form.data.inet_ip"></div>
								<div display-field label="INTERNET.PRIMARY_DNS" separator=":" ng-model="form.data.inet_pridns"></div>
								<div display-field label="INTERNET.SECOND_DNS" separator=":" ng-model="form.data.inet_snddns"></div>
								<div expander-field title="FORM.ADVANCED" iconInitCls="basic-icon" iconClickCls="advanced-icon" ng-model="form.expanderShow">
									<div combo-field label="INTERNET.SECONDARY_CONN" separator=":" ng-model="form.data.snd_conn"></div>
									<div on="form.data.snd_conn.data" ng-switch>
										<div ng-switch-when="dynamic">
											<div display-field label="INTERNET.IP_ADDRESS" separator=":" ng-model="form.data.dyn_ip"></div>
											<div display-field label="INTERNET.SUBNET_MASK" separator=":" ng-model="form.data.dyn_netmask"></div>
											<div class="button-group">
												<div button class="button-inline" text="INTERNET.RENEW" on-click="renew()" ng-model="form.renew"></div>
												<div button class="button-inline" text="INTERNET.RELEASE" on-click="release()" ng-model="form.release"></div>
											</div>
										</div>
										<div ng-switch-when="static">
											<div ip-field label="INTERNET.IP_ADDRESS" separator=":" ng-model="form.data.static_ip"></div>
											<div ip-field label="INTERNET.SUBNET_MASK" separator=":" ng-model="form.data.static_netmask"></div>
										</div>
									</div>
									<div text-field label="INTERNET.MTU_SIZE" separator=":" ng-model="form.data.mtu" unit="UNIT.BYTES" tips="INTERNET.MTU_1480"></div>
									<div text-field label="INTERNET.SERVICE_NAME" separator=":" ng-model="form.data.server"></div>
									<div text-field label="INTERNET.ACCESS_CONCENTRATOR_NAME" separator=":" ng-model="form.data.access"></div>
									<div text-field label="INTERNET.DETECT_ONLINE_INTERVAL" separator=":" ng-model="form.data.interval" unit="UNIT.SECONDS" tips="INTERNET.INTERVAL_TIPS"></div>
									<div combo-field label="INTERNET.IP_ADDRESS" separator=":" ng-model="form.data.ip_mode"></div>
									<div on="form.data.ip_mode.data" ng-switch>
										<div ng-switch-when="dynamic">
											<div display-field label="INTERNET.IP_ADDRESS" separator=":" ng-model="form.data.specific_ip"></div>
										</div>
										<div ng-switch-when="static">
											<div ip-field label="INTERNET.IP_ADDRESS" separator=":" ng-model="form.data.specific_ip"></div>
										</div>
									</div>
									<div combo-field label="INTERNET.DNS_ADDRESS" separator=":" ng-model="form.data.dns_mode"></div>
									<div on="form.data.dns_mode.data" ng-switch>
										<div ng-switch-when="dynamic">
											<div display-field label="INTERNET.PRIMARY_DNS" separator=":" ng-model="form.data.dyn_pridns"></div>
											<div display-field label="INTERNET.SECOND_DNS" separator=":" ng-model="form.data.dyn_snddns"></div>
										</div>
										<div ng-switch-when="static">
											<div ip-field label="INTERNET.PRIMARY_DNS" separator=":" ng-model="form.data.static_pridns"></div>
											<div ip-field label="INTERNET.SECOND_DNS" separator=":" ng-model="form.data.static_snddns"></div>
										</div>
									</div>
									<div combo-field label="INTERNET.CONN_MODE" separator=":" ng-model="form.data.conn_mode"></div>
									<div on="form.data.conn_mode.data" ng-switch>
										<div ng-switch-when="demand">
											<div text-field label="INTERNET.MAX_IDLE_TIME" separator=":" ng-model="form.data.demand_idle" unit="UNIT.MINUTES" tips="INTERNET.MAX_IDLE_TIME_TIPS"></div>
										</div>
										<div ng-switch-when="manually">
											<div text-field label="INTERNET.MAX_IDLE_TIME" separator=":" ng-model="form.data.manual_idle" unit="UNIT.MINUTES" tips="INTERNET.MAX_IDLE_TIME_TIPS"></div>
										</div>
										<div ng-switch-when="time_based">
											<div class="timer">
												<div timer-field sec="false" label="INTERNET.PERIOD_OF_TIME" separator=":" ng-model="form.data.time_start"></div>
												<span class="timer-separator" translate>INTERNET.TO</span>
												<div timer-field sec="false" ng-model="form.data.time_end"></div>
												<div class="timer-note" error-msg value="form.data.time_end" validation-change="timervalid"></div>
											</div>
										</div>
									</div>

								</div>
								<div class="button-group">
									<div button class="button-inline" text="INTERNET.CONNECT" on-click="connect()" ng-model="form.connect"></div>
									<div button class="button-inline" text="INTERNET.DISCONNECT" on-click="disconnect()" ng-model="form.disconnect"></div>
								</div>
							</div>

							<!-- Bigpond -->
							<div ng-switch-when="bigpond" ng-controller="bigpond">
								<div text-field label="INTERNET.USERNAME" separator=":" ng-model="form.data.username"></div>
								<div text-field type="password" label="INTERNET.PASSWORD" separator=":" ng-model="form.data.password"></div>
								<div text-field label="INTERNET.AUTH_SERVER" separator=":" ng-model="form.data.server"></div>
								<div text-field label="INTERNET.AUTH_DOMAIN" separator=":" ng-model="form.data.domain"></div>
								<div text-field label="INTERNET.MTU_SIZE" separator=":" ng-model="form.data.mtu" unit="UNIT.BYTES" tips="INTERNET.MTU_1500"></div>
								
								<div combo-field label="INTERNET.CONN_MODE" separator=":" ng-model="form.data.conn_mode"></div>
								<div on="form.data.conn_mode.data" ng-switch>
									<div ng-switch-when="demand">
										<div text-field label="INTERNET.MAX_IDLE_TIME" separator=":" ng-model="form.data.demand_idle" unit="UNIT.MINUTES" tips="INTERNET.MAX_IDLE_TIME_TIPS"></div>
									</div>
									<div ng-switch-when="manually">
										<div text-field label="INTERNET.MAX_IDLE_TIME" separator=":" ng-model="form.data.manual_idle" unit="UNIT.MINUTES" tips="INTERNET.MAX_IDLE_TIME_TIPS"></div>
									</div>
								</div>
								<div class="button-group">
									<div button class="button-inline" text="INTERNET.CONNECT" on-click="connect()" ng-model="form.connect"></div>
									<div button class="button-inline" text="INTERNET.DISCONNECT" on-click="disconnect()" ng-model="form.disconnect"></div>
								</div>
							</div>

							<!-- L2tp -->
							<div ng-switch-when="l2tp" ng-controller="l2tp">
								<div text-field label="INTERNET.USERNAME" separator=":" ng-model="form.data.username"></div>
								<div text-field type="password" label="INTERNET.PASSWORD" separator=":" ng-model="form.data.password"></div>
								<div display-field label="INTERNET.IP_ADDRESS" separator=":" ng-model="form.data.inet_ip"></div>
								<div display-field label="INTERNET.PRIMARY_DNS" separator=":" ng-model="form.data.inet_pridns"></div>
								<div display-field label="INTERNET.SECOND_DNS" separator=":" ng-model="form.data.inet_snddns"></div>
								
								<div combo-field label="INTERNET.SECONDARY_CONN" separator=":" ng-model="form.data.snd_conn"></div>
								<div on="form.data.snd_conn.data" ng-switch>
									<div ng-switch-when="dynamic">
										<div text-field label="INTERNET.SERVER_IP_ADDR_NAME" separator=":" ng-model="form.data.dyn_server"></div>
										<div display-field label="INTERNET.IP_ADDRESS" separator=":" ng-model="form.data.dyn_ip"></div>
										<div display-field label="INTERNET.SUBNET_MASK" separator=":" ng-model="form.data.dyn_netmask"></div>
										<div display-field label="INTERNET.GATEWAY" separator=":" ng-model="form.data.dyn_gateway"></div>
										<div display-field label="INTERNET.PRIMARY_DNS" separator=":" ng-model="form.data.dyn_pridns"></div>
										<div display-field label="INTERNET.SECOND_DNS" separator=":" ng-model="form.data.dyn_snddns"></div>
									</div>
									<div ng-switch-when="static">
										<div text-field label="INTERNET.SERVER_IP_ADDR_NAME" separator=":" ng-model="form.data.static_server"></div>
										<div ip-field label="INTERNET.IP_ADDRESS" separator=":" ng-model="form.data.static_ip"></div>
										<div ip-field label="INTERNET.SUBNET_MASK" separator=":" ng-model="form.data.static_netmask"></div>
										<div ip-field label="INTERNET.GATEWAY" separator=":" ng-model="form.data.static_gateway"></div>
										<div ip-field label="INTERNET.PRIMARY_DNS" separator=":" ng-model="form.data.static_pridns" placeholder="{{form.pridnsOptional}}"></div>
										<div ip-field label="INTERNET.SECOND_DNS" separator=":" ng-model="form.data.static_snddns" placeholder="FORM.OPTIONAL"></div>

									</div>
								</div>
								<div text-field label="INTERNET.MTU_SIZE" separator=":" ng-model="form.data.mtu" unit="UNIT.BYTES" tips="INTERNET.MTU_1460"></div>
								<div combo-field label="INTERNET.CONN_MODE" separator=":" ng-model="form.data.conn_mode"></div>
								<div on="form.data.conn_mode.data" ng-switch>
									<div ng-switch-when="demand">
										<div text-field label="INTERNET.MAX_IDLE_TIME" separator=":" ng-model="form.data.demand_idle" unit="UNIT.MINUTES" tips="INTERNET.MAX_IDLE_TIME_TIPS"></div>
									</div>
									<div ng-switch-when="manually">
										<div text-field label="INTERNET.MAX_IDLE_TIME" separator=":" ng-model="form.data.manual_idle" unit="UNIT.MINUTES" tips="INTERNET.MAX_IDLE_TIME_TIPS"></div>
									</div>
								</div>

								<div class="button-group">
									<div button class="button-inline" text="INTERNET.CONNECT" on-click="connect()" ng-model="form.connect"></div>
									<div button class="button-inline" text="INTERNET.DISCONNECT" on-click="disconnect()" ng-model="form.disconnect"></div>
								</div>
							</div>

							<!-- pptp -->
							<div ng-switch-when="pptp" ng-controller="pptp">
								<div text-field label="INTERNET.USERNAME" separator=":" ng-model="form.data.username"></div>
								<div text-field type="Password" label="INTERNET.PASSWORD" separator=":"  ng-model="form.data.password"></div>
								<div display-field label="INTERNET.IP_ADDRESS" separator=":" ng-model="form.data.inet_ip"></div>
								<div display-field label="INTERNET.PRIMARY_DNS" separator=":" ng-model="form.data.inet_pridns"></div>
								<div display-field label="INTERNET.SECOND_DNS" separator=":" ng-model="form.data.inet_snddns"></div>
								
								<div combo-field label="INTERNET.SECONDARY_CONN" separator=":" ng-model="form.data.snd_conn"></div>
								<div on="form.data.snd_conn.data" ng-switch>
									<div ng-switch-when="dynamic">
										<div text-field label="INTERNET.SERVER_IP_ADDR_NAME" separator=":" ng-model="form.data.dyn_server"></div>
										<div display-field label="INTERNET.IP_ADDRESS" separator=":" ng-model="form.data.dyn_ip"></div>
										<div display-field label="INTERNET.SUBNET_MASK" separator=":" ng-model="form.data.dyn_netmask"></div>
										<div display-field label="INTERNET.GATEWAY" separator=":" ng-model="form.data.dyn_gateway"></div>
										<div display-field label="INTERNET.PRIMARY_DNS" separator=":" ng-model="form.data.dyn_pridns"></div>
										<div display-field label="INTERNET.SECOND_DNS" separator=":" ng-model="form.data.dyn_snddns"></div>
									</div>
									<div ng-switch-when="static">
										<div text-field label="INTERNET.SERVER_IP_ADDR_NAME" separator=":" ng-model="form.data.static_server"></div>
										<div ip-field label="INTERNET.IP_ADDRESS" separator=":" ng-model="form.data.static_ip"></div>
										<div ip-field label="INTERNET.SUBNET_MASK" separator=":" ng-model="form.data.static_netmask"></div>
										<div ip-field label="INTERNET.GATEWAY" separator=":" ng-model="form.data.static_gateway"></div>
										<div ip-field label="INTERNET.PRIMARY_DNS" separator=":" ng-model="form.data.static_pridns" placeholder="{{form.pridnsOptional}}"></div>
										<div ip-field label="INTERNET.SECOND_DNS" separator=":" ng-model="form.data.static_snddns" placeholder="FORM.OPTIONAL"></div>

									</div>
								</div>
								<div text-field label="INTERNET.MTU_SIZE" separator=":" ng-model="form.data.mtu" unit="UNIT.BYTES" tips="INTERNET.MTU_1420"></div>
								<div combo-field label="INTERNET.CONN_MODE" separator=":" ng-model="form.data.conn_mode"></div>
								<div on="form.data.conn_mode.data" ng-switch>
									<div ng-switch-when="demand">
										<div text-field label="INTERNET.MAX_IDLE_TIME" separator=":" ng-model="form.data.demand_idle" unit="UNIT.MINUTES" tips="INTERNET.MAX_IDLE_TIME_TIPS"></div>
									</div>
									<div ng-switch-when="manually">
										<div text-field label="INTERNET.MAX_IDLE_TIME" separator=":" ng-model="form.data.manual_idle" unit="UNIT.MINUTES" tips="INTERNET.MAX_IDLE_TIME_TIPS"></div>
									</div>
								</div>

								<div class="button-group">
									<div button class="button-inline" text="INTERNET.CONNECT" on-click="connect()" ng-model="form.connect"></div>
									<div button class="button-inline" text="INTERNET.DISCONNECT" on-click="disconnect()" ng-model="form.disconnect"></div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
			
			<div class="fieldset-container"><!--Mac Clone 控件集-->
				<div legend-field title="INTERNET.MAC_CLONE"></div>
				<div class="fieldset-content-container">
					<div checkbox-group type="radio" empty="false" ng-model="form.data.mac_clone_type"></div>
					<div on="form.data.mac_clone_type.data" ng-switch>
						<div ng-switch-when="custom">
							<div mac-field ng-model="form.data.mac_custom"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>

