<div class="main-page form-container" ng-hide="form.menuItem">
	<div form-header title="QOS.TITLE"></div>
	<div class="form-content-container">
		<div class="fieldset-container">
			<div jump-item separator="" label="QOS.QOS_SETTINGS" menu-option="form.menuItem" value="settings"></div>
		</div>

		<div class="fieldset-container">
			<div legend-field title="QOS.RULE_LIST"></div>
			<div class="fieldset-content-container">
				<div jump-item separator="" label="QOS.HIGH_PRIORITY" menu-option="form.menuItem" value="high"></div>
				<div jump-item separator="" label="QOS.MIDDLE_PRIORITY" menu-option="form.menuItem" value="middle"></div>
				<div jump-item separator="" label="QOS.LOW_PRIORITY" menu-option="form.menuItem" value="low"></div>
			</div>
		</div>
	</div>
</div>

<div class="main-page" ng-switch on="form.menuItem">
	
	<div class="form-container" ng-controller="qosSettings" ng-switch-when="settings">
		<div form-header title="QOS.QOS_SETTINGS">
			<div button position="left" text="FORM.BACK" cls="button-back" icon-cls="back-button" on-click="back()" ng-model="form.back"></div>
			<div button type="submit" position="right" text="FORM.SAVE" on-click="save()" ng-model="form.submitBtn"></div>
		</div>
		<div class="form-content-container">
			<div class="fieldset-container">
				<div class="fieldset-content-container">
					<div checkbox-switch label="QOS.STATUS" ng-model="form.data.enable" class="checkbox-orange"></div>
					<div>
						<div class="bandwidth-group">
							<div text-field class="bandwidth" label="QOS.UPBANDWIDTH" ng-model="form.data.up_band"></div>
							<div combo-field class="bandwidth-unit" label="" ng-model="form.data.up_unit"></div>
						</div>
						<div class="bandwidth-group">
							<div class="bandwidth" text-field label="QOS.DOWNBANDWIDTH" ng-model="form.data.down_band"></div>
							<div class="bandwidth-unit" combo-field label="" ng-model="form.data.down_unit"></div>
						</div>
						<div expander-field title="FORM.ADVANCED" iconInitCls="basic-icon" iconClickCls="advanced-icon" ng-model="form.expanderShow">
							<div slider-field label="QOS.HIGH_PRIORITY" ng-model="form.data.high"></div>
							<div slider-field label="QOS.MIDDLE_PRIORITY" ng-model="form.data.middle"></div>
							<div slider-field label="QOS.LOW_PRIORITY" ng-model="form.data.low"></div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div message id="qos-progress-msg">
			<div progress-bar ng-model="qosProgressBar"></div>
		</div>

		<div message id="nat-reboot-confirm-msg">
			<div progress-bar ng-model="natRebootProgressBar"></div> 
		</div>

	</div>

	<div class="form-container" ng-controller="highPriority" ng-switch-when="high">
		<div class="form-content-container" ng-hide="form.deviceList">
			<div class="fieldset-container">
				<div qos-grid="grid" editor="form" config="highPriority" >
					<div class="fieldset-content-container">
						<div combo-field label="QOS.TYPE" ng-model="form.data.method" class="widget-with-border"></div>
						<div on="form.data.method.data" ng-switch>
							<!-- Device -->
							<div ng-switch-when="device">
								<div text-field label="QOS.DEVICE_NAME" ng-model="form.data.device_name"></div>
								<div button cls="button qos-btn" text="FORM.VIEW_EXISTING_DEVICES" on-click="viewDevices()"></div>
								<div mac-field label="QOS.MAC_ADDRESS" ng-model="form.data.mac"></div>
							</div>

							<!-- App -->
							<div ng-switch-when="app">
								<div checkbox-group class="inline-checkbox-group clearfix app-checkbox-grop" ng-model="form.data.rule_app"></div>
								<div expander-field title="QOS.CUSTOM_APP" iconInitCls="basic-icon" iconClickCls="advanced-icon" ng-model="form.expanderShow">
									<div text-field label="QOS.NAME" ng-model="form.data.custom_name"></div>
									<div combo-field label="QOS.PROTO" ng-model="form.data.proto"></div>
									<div text-field label="QOS.PORT" ng-model="form.data.port"></div>
								</div>
							</div>

							<!-- Phy -->
							<div ng-switch-when="phy">
								<div checkbox-group class="circle-checkbox" type="radio" empty="false" ng-model="form.data.phy"></div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>	

		<div ng-switch on="form.deviceList" ng-controller="highDeviceList">
			<div class="form-container" ng-switch-when="deviceList">
				<div form-header title="FORM.VIEW_EXISTING_DEVICES">
					<div button position="left" text="FORM.BACK" cls="button-back" icon-cls="back-button" on-click="back()" ng-model="form.back"></div>
					<div button position="right" text="FORM.DONE" on-click="done()" ng-model="form.done"></div>
				</div>
				<div class="form-content-container">
					<div class="fieldset-container">
						<div legend-field title="QOS.ACCESS_DEVICES_LIST"></div>
						<div class="fieldset-content-container">
							<div checkbox-group label="" type="radio" ng-model="checkedDeviceList" option="row"></div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

	<div class="form-container" ng-controller="middlePriority" ng-switch-when="middle">
		<div class="form-content-container" ng-hide="form.deviceList">
			<div class="fieldset-container">
				<div qos-grid="grid" editor="form" config="middlePriority" >
					<div class="fieldset-content-container">
						<div combo-field label="QOS.TYPE" ng-model="form.data.method" class="widget-with-border"></div>
						<div on="form.data.method.data" ng-switch>
							<!-- Device -->
							<div ng-switch-when="device">
								<div text-field label="QOS.DEVICE_NAME" ng-model="form.data.device_name"></div>
								<div button cls="button qos-btn" text="FORM.VIEW_EXISTING_DEVICES" on-click="viewDevices()"></div>
								<div mac-field label="QOS.MAC_ADDRESS" ng-model="form.data.mac"></div>
							</div>

							<!-- App -->
							<div ng-switch-when="app">
								<div checkbox-group class="inline-checkbox-group clearfix app-checkbox-grop" ng-model="form.data.rule_app"></div>
								<div expander-field title="QOS.CUSTOM_APP" iconInitCls="basic-icon" iconClickCls="advanced-icon" ng-model="form.expanderShow">
									<div text-field label="QOS.NAME" ng-model="form.data.custom_name"></div>
									<div combo-field label="QOS.PROTO" ng-model="form.data.proto"></div>
									<div text-field label="QOS.PORT" ng-model="form.data.port"></div>
								</div>
							</div>

							<!-- Phy -->
							<div ng-switch-when="phy">
								<div checkbox-group class="circle-checkbox" type="radio" empty="false" ng-model="form.data.phy"></div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>

		<div ng-switch on="form.deviceList" ng-controller="middleDeviceList">
			<div class="form-container" ng-switch-when="deviceList">
				<div form-header title="FORM.VIEW_EXISTING_DEVICES">
					<div button position="left" text="FORM.BACK" cls="button-back" icon-cls="back-button" on-click="back()" ng-model="form.back"></div>
					<div button position="right" text="FORM.DONE" on-click="done()" ng-model="form.done"></div>
				</div>
				<div class="form-content-container">
					<div class="fieldset-container">
						<div legend-field title="QOS.ACCESS_DEVICES_LIST"></div>
						<div class="fieldset-content-container">
							<div checkbox-group label="" type="radio" ng-model="checkedDeviceList" option="row"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="form-container" ng-controller="lowPriority" ng-switch-when="low">
		<div class="form-content-container" ng-hide="form.deviceList">
			<div class="fieldset-container">
				<div qos-grid="grid" editor="form" config="lowPriority" >
					<div class="fieldset-content-container">
						<div combo-field label="QOS.TYPE" ng-model="form.data.method" class="widget-with-border"></div>
						<div on="form.data.method.data" ng-switch>
							<!-- Device -->
							<div ng-switch-when="device">
								<div text-field label="QOS.DEVICE_NAME" ng-model="form.data.device_name"></div>
								<div button cls="button qos-btn" text="FORM.VIEW_EXISTING_DEVICES" on-click="viewDevices()"></div>
								<div mac-field label="QOS.MAC_ADDRESS" ng-model="form.data.mac"></div>
							</div>

							<!-- App -->
							<div ng-switch-when="app">
								<div checkbox-group class="inline-checkbox-group clearfix app-checkbox-grop" ng-model="form.data.rule_app"></div>
								<div expander-field title="QOS.CUSTOM_APP" iconInitCls="basic-icon" iconClickCls="advanced-icon" ng-model="form.expanderShow">
									<div text-field label="QOS.NAME" ng-model="form.data.custom_name"></div>
									<div combo-field label="QOS.PROTO" ng-model="form.data.proto"></div>
									<div text-field label="QOS.PORT" ng-model="form.data.port"></div>
								</div>
							</div>

							<!-- Phy -->
							<div ng-switch-when="phy">
								<div checkbox-group class="circle-checkbox" type="radio" empty="false" ng-model="form.data.phy"></div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>

		<div ng-switch on="form.deviceList" ng-controller="lowDeviceList">
			<div class="form-container" ng-switch-when="deviceList">
				<div form-header title="FORM.VIEW_EXISTING_DEVICES">
					<div button position="left" text="FORM.BACK" cls="button-back" icon-cls="back-button" on-click="back()" ng-model="form.back"></div>
					<div button position="right" text="FORM.DONE" on-click="done()" ng-model="form.done"></div>
				</div>
				<div class="form-content-container">
					<div class="fieldset-container">
						<div legend-field title="QOS.ACCESS_DEVICES_LIST"></div>
						<div class="fieldset-content-container">
							<div checkbox-group label="" type="radio" ng-model="checkedDeviceList" option="row"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>