<!-- <div class="main-page" ng-show="firstLog">
	<div class="form-container" ng-controller="resetAccount" >
		<div form-header title="QUICK_SETUP.NEW_USERNAME">
			<div button position="right" text="FORM.DONE" on-click="done()" ng-model="submitBtn"></div>
		</div>
		<div class="form-content-container">
			<div class="fieldset-container">
				<div class="fieldset-content-container">
					<div text-field ng-model="form.data.new_acc" label="QUICK_SETUP.NEW_USERNAME"></div>
					<div password ng-model="form.data.new_pwd" label="QUICK_SETUP.NEW_PASSWORD" btn-visible="false"></div>
					<div password ng-model="form.data.cfm_pwd" label="QUICK_SETUP.CONFIRM_PASSWORD" btn-visible="false" level-visible="false"></div>
				</div>
			</div>
			<div button cls="button-skip" on-click="skip()" text="QUICK_SETUP.SKIP"></div>
		</div>
	</div>
</div> -->
<div class="main-page">
	<div class="form-container">
		<div class="quicksetup form-content-container">
			<!-- region and time zone -->
			<div total=6 step=1>
				<div class="form-container">
					<div form-header title="QUICK_SETUP.REGION_TIME_ZONE">
						<div button position="right" text="FORM.NEXT" ng-model="regionNextBtn" on-click="regionNext()"></div>
					</div>
					<div process-position></div>
					<div class="form-content-container quick-step-content">
						<div class="fieldset-container">
							<div class="fieldset-content-container">
								<div combo-field label="QUICK_SETUP.REGION" ng-model="form.data.region_country"></div>
								<div combo-field label="QUICK_SETUP.TIME_ZONE" ng-model="form.data.time_timezone"></div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- wan connection type -->
			<div total=6 step=2>
				<div class="form-container">
					<div form-header title="QUICK_SETUP.WAN_TYPE">
						<div button position="left" text="FORM.BACK" cls="button-back" icon-cls="back-button" on-click="back()"></div>
						<div button position="right" text="FORM.NEXT" on-click="connectionNext()"></div>
					</div>
					<div process-position></div>
					<div class="form-content-container quick-step-content">
						<div class="fieldset-container">
							<div class="fieldset-content-container">
								<div button cls="button-inline auto-detect" text="QUICK_SETUP.AUTO_DETECT" ng-model="autoDetectBtn" on-click="autoDetect()"></div>
								<div combo-field label="" ng-model="form.data.network_conntype"></div>
							</div>
						</div>
						<div note-field title="QUICK_SETUP.NOTE_TITLE" content="QUICK_SETUP.INTERNET_CONNECTION_TYPE_NOTE"></div>
					</div>
				</div>
			</div>

			<!-- wan connection type config -->
			<div total=6 step=3>
				<div class="form-container">
					<div form-header title="QUICK_SETUP.WAN_TYPE">
						<div button position="left" text="FORM.BACK" cls="button-back" icon-cls="back-button" on-click="connCnfigBack()"></div>
						<div button position="right" text="FORM.NEXT" on-click="connCnfigNext()"></div>
					</div>
					<div process-position></div>
					<div on="form.data.network_conntype.data" ng-switch>
						<!-- dhcp -->
						<div class="form-content-container quick-step-content" ng-switch-when="dhcp">
							<div note-field title="QUICK_SETUP.NOTE_TITLE" content="QUICK_SETUP.DYNAMIC_IP_INFO"></div>
							<div class="fieldset-container">
								<div class="fieldset-content-container" on="form.data.network_dhcp_mac_clone_type.data" ng-switch>
									<div checkbox-group  class="quicksetup-checkbox-group-widget" type="radio" empty="false" label="QUICK_SETUP.MAC_CLONE" ng-model="form.data.network_dhcp_mac_clone_type"></div>
									<div mac-field ng-model="form.data.network_dhcp_mac_custom" ng-switch-when="custom" ></div>
								</div>
							</div>

							<div note-field ng-show="form.data.network_dhcp_mac_clone_type.data=='custom'" title="QUICK_SETUP.NOTE_TITLE" content="QUICK_SETUP.MAC_CLONE_NOTE"></div>
						</div>
						<!-- static ip -->
						<div class="form-content-container quick-step-content" ng-switch-when="static">
							
							<div class="fieldset-container">
								<div legend-field title="QUICK_SETUP.STATIC_IP_INFO"></div>
								<div class="fieldset-content-container">
									<div ip-field label="QUICK_SETUP.IP_ADDRESS" ng-model="form.data.network_static_ipaddr"></div>
									<div ip-field label="QUICK_SETUP.SUBNET_MASK" ng-model="form.data.network_static_netmask"></div>
									<div ip-field label="QUICK_SETUP.DEFAULT_GATEWAY" ng-model="form.data.network_static_gateway"></div>
									<div ip-field label="QUICK_SETUP.PRIMARY_DNS" ng-model="form.data.network_static_pri_dns"></div>
									<div ip-field label="QUICK_SETUP.SECOND_DNS" placeholder="QUICK_SETUP.OPTIONAL" ng-model="form.data.network_static_snd_dns"></div>
								</div>
							</div>
						</div>
						<!-- pppoe -->
						<div class="form-content-container quick-step-content" ng-switch-when="pppoe">
							<div class="fieldset-container">
								<div legend-field title="QUICK_SETUP.PPPOE_INFO"></div>
								<div class="fieldset-content-container">
									<div text-field label="QUICK_SETUP.USERNAME" ng-model="form.data.network_pppoe_username"></div>
									<div text-field type="Password" label="QUICK_SETUP.PASSWORD" ng-model="form.data.network_pppoe_password" btn-visible="false" level-visible="false"></div>
								</div>
							</div>
						</div>
						<!-- l2tp -->
						<div class="form-content-container quick-step-content" ng-switch-when="l2tp">
							<div class="fieldset-container">
								<div legend-field title="QUICK_SETUP.L2TP_INFO"></div>
								<div class="fieldset-content-container" on="form.data.network_l2tp_snd_conn.data" ng-switch>
									<div text-field label="QUICK_SETUP.USERNAME" ng-model="form.data.network_l2tp_username"></div>
									<div text-field type="Password" label="QUICK_SETUP.PASSWORD" ng-model="form.data.network_l2tp_password" btn-visible="false" level-visible="false"></div>
									<div combo-field label="" ng-model="form.data.network_l2tp_snd_conn"></div>
									<div ng-switch-when="dynamic">
										<div text-field label="QUICK_SETUP.SERVER_IP_ADDRESS_NAME" ng-model="form.data.network_l2tp_dyn_server"></div>
									</div>
									<div ng-switch-when="static" >
										<div text-field label="QUICK_SETUP.SERVER_IP_ADDRESS_NAME" ng-model="form.data.network_l2tp_static_server"></div>
										<div ip-field label="QUICK_SETUP.IP_ADDRESS" ng-model="form.data.network_l2tp_static_ip"></div>
										<div ip-field label="QUICK_SETUP.SUBNET_MASK" ng-model="form.data.network_l2tp_static_netmask"></div>
										<div ip-field label="QUICK_SETUP.DEFAULT_GATEWAY" ng-model="form.data.network_l2tp_static_gateway"></div>
										<div ip-field label="QUICK_SETUP.PRIMARY_DNS" ng-model="form.data.network_l2tp_static_pridns" placeholder="{{form.l2tpPridnsOptional}}"></div>
										<div ip-field label="QUICK_SETUP.SECOND_DNS" placeholder="QUICK_SETUP.OPTIONAL" ng-model="form.data.network_l2tp_static_snddns"></div>
									</div>
								</div>
							</div>
						</div>
						<!-- pptp -->
						<div class="form-content-container quick-step-content" ng-switch-when="pptp">
								<div class="fieldset-container">
									<div legend-field title="QUICK_SETUP.PPTP_INFO"></div>
									<div class="fieldset-content-container" on="form.data.network_pptp_snd_conn.data" ng-switch>
										<div text-field label="QUICK_SETUP.USERNAME" ng-model="form.data.network_pptp_username"></div>
										<div text-field type="Password" label="QUICK_SETUP.PASSWORD" ng-model="form.data.network_pptp_password" btn-visible="false" level-visible="false"></div>
										<div combo-field label="" ng-model="form.data.network_pptp_snd_conn"></div>
										<div ng-switch-when="dynamic">
											<div text-field label="QUICK_SETUP.SERVER_IP_ADDRESS_NAME" ng-model="form.data.network_pptp_dyn_server"></div>
										</div>
										<div ng-switch-when="static">
											<div text-field label="QUICK_SETUP.SERVER_IP_ADDRESS_NAME" ng-model="form.data.network_pptp_static_server"></div>
											<div ip-field label="QUICK_SETUP.IP_ADDRESS" ng-model="form.data.network_pptp_static_ip"></div>
											<div ip-field label="QUICK_SETUP.SUBNET_MASK" ng-model="form.data.network_pptp_static_netmask"></div>
											<div ip-field label="QUICK_SETUP.DEFAULT_GATEWAY" ng-model="form.data.network_pptp_static_gateway"></div>
											<div ip-field label="QUICK_SETUP.PRIMARY_DNS" ng-model="form.data.network_pptp_static_pridns" placeholder="{{form.pptpPridnsOptional}}"></div>
											<div ip-field placeholder="QUICK_SETUP.OPTIONAL" label="QUICK_SETUP.SECOND_DNS" ng-model="form.data.network_pptp_static_snddns"></div>
										</div>
									</div>
								</div>
						</div>
					</div>
				</div>
			</div>

			<!-- wireless setting -->
			<div total=6 step=4>
				<div class="form-container">
					<div form-header title="QUICK_SETUP.WIRELESS">
						<div button position="left" text="FORM.BACK" cls="button-back" icon-cls="back-button" on-click="back()"></div>
						<div button position="right" text="FORM.NEXT" on-click="wirelessNext()"></div>
					</div>
					<div process-position></div>
					<div class="form-content-container quick-step-content">
						<div note-field content="QUICK_SETUP.WIRELESS_BOTH_DISABLE" class="wireless-tip" ng-show="form.data.wireless_2g_enable.data=='off'&&form.data.wireless_5g_enable.data=='off'&&form.data.wireless_5g_2_enable.data=='off'"></div>
						<div class="fieldset-container">
							<div class="fieldset-content-container">
								<div checkbox-switch label="QUICK_SETUP.ENABLE_24GHZ" ng-model="form.data.wireless_2g_enable"  class="checkbox-orange"></div>
								<div>
									<div text-field label="QUICK_SETUP.NAME_SSID" ng-model="form.data.wireless_2g_ssid"></div>
									<div text-field label="QUICK_SETUP.PASSWORD" ng-model="form.data.wireless_2g_encry_password"></div>
								</div>
							</div>
						</div>
						<div class="fieldset-container">
							<div class="fieldset-content-container">
								<div checkbox-switch label="QUICK_SETUP.ENABLE_5GHZ_1" ng-model="form.data.wireless_5g_enable" class="checkbox-orange"></div>
								<div>
									<div text-field label="QUICK_SETUP.NAME_SSID" ng-model="form.data.wireless_5g_ssid"></div>
									<div text-field label="QUICK_SETUP.PASSWORD" ng-model="form.data.wireless_5g_encry_password"></div>
								</div>
							</div>
						</div>

						<div class="fieldset-container">
							<div class="fieldset-content-container">
								<div checkbox-switch label="QUICK_SETUP.ENABLE_5GHZ_2" ng-model="form.data.wireless_5g_2_enable" class="checkbox-orange"></div>
								<div>
									<div text-field label="QUICK_SETUP.NAME_SSID" ng-model="form.data.wireless_5g_2_ssid"></div>
									<div text-field label="QUICK_SETUP.PASSWORD" ng-model="form.data.wireless_5g_2_encry_password"></div>
								</div>
							</div>
						</div>

						<div note-field ng-show="wirelessHardwareOffNote.visible" title="QUICK_SETUP.NOTE_TITLE" content="{{wirelessHardwareOffNote.content}}"></div>
					</div>
				</div>
			</div>
						
			<!-- summary -->
			<div total=6 step=5>
				<div class="form-container" on="summary" ng-switch>
					<div ng-switch-when="0">
						<div form-header title="QUICK_SETUP.SUMMARY">
							<div button position="left" text="FORM.BACK" cls="button-back" icon-cls="back-button" on-click="back()"></div>
							<div button position="right" text="FORM.SAVE" ng-model="form.submitBtn" on-click="save()"></div>
						</div>
					</div>
					<div ng-switch-when="1">
						<div form-header title="QUICK_SETUP.SUMMARY" >
							<div button position="right" text="FORM.NEXT" ng-model="btnReconnectCheck" on-click="reconnect()"></div>
						</div>			
					</div>
					<div  ng-switch-when="2">
						<div form-header title="QUICK_SETUP.SUMMARY">
						</div>
					</div>

					<div process-position></div>
					<div class="form-content-container quick-step-content" ng-switch-when="0">
						<div class="fieldset-container" >
							<div class="fieldset-content-container">
								<div display-field label="QUICK_SETUP.REGION" ng-model="display.region_country"></div>
								<div class="column column-3" display-field label="QUICK_SETUP.TIME_ZONE" ng-model="display.time_timezone"></div>
								<div display-field label="QUICK_SETUP.WAN_TYPE" ng-model="display.network_conntype"></div>
							</div>
							<div class="fieldset-content-container" >
								<div display-field label="QUICK_SETUP.ENABLE_24GHZ" ng-model="form.data.wireless_2g_enable"></div>
								<div class="column column-2" display-field label="QUICK_SETUP.NAME_SSID" ng-model="form.data.wireless_2g_ssid"></div>
								<div class="column column-3" display-field label="QUICK_SETUP.PASSWORD" ng-model="form.data.wireless_2g_encry_password"></div>
							</div>
							<div class="fieldset-content-container">
								<div display-field label="QUICK_SETUP.ENABLE_5GHZ_1" ng-model="form.data.wireless_5g_enable"></div>
								<div class="column column-2" display-field label="QUICK_SETUP.NAME_SSID" ng-model="form.data.wireless_5g_ssid"></div>
								<div class="column column-3" display-field label="QUICK_SETUP.PASSWORD" ng-model="form.data.wireless_5g_encry_password"></div>
							</div>
							<div class="fieldset-content-container">
								<div display-field label="QUICK_SETUP.ENABLE_5GHZ_2" ng-model="form.data.wireless_5g_2_enable"></div>
								<div class="column column-2" display-field label="QUICK_SETUP.NAME_SSID" ng-model="form.data.wireless_5g_2_ssid"></div>
								<div class="column column-3" display-field label="QUICK_SETUP.PASSWORD" ng-model="form.data.wireless_5g_2_encry_password"></div>
							</div>
						</div>
					</div>
					<div class="form-content-container quick-step-content quicksetup-summary-1" ng-switch-when="1">
						<div note-field  content="QUICK_SETUP.SUMMARY_INFO1"></div>
						<div class="fieldset-container">
							<div class="fieldset-content-container">
                            	<div class="widget-container">
                                	<div label-field label="QUICK_SETUP.WIRELESS_24GHZ"></div>
                                </div>
								<div class="column column-2" display-field label="QUICK_SETUP.NAME_SSID" ng-model="form.data.wireless_2g_ssid"></div>
								<div class="column column-3" display-field label="QUICK_SETUP.PASSWORD" ng-model="form.data.wireless_2g_encry_password"></div>
                                <div class="widget-container">
                                	<div label-field label="QUICK_SETUP.WIRELESS_5GHZ"></div>
                                </div>
								<div class="column column-2" display-field label="QUICK_SETUP.NAME_SSID" ng-model="form.data.wireless_5g_ssid"></div>
								<div class="column column-3" display-field label="QUICK_SETUP.PASSWORD" ng-model="form.data.wireless_5g_encry_password"></div>
								
                                <div class="widget-container">
                                	<div label-field label="QUICK_SETUP.WIRELESS_5GHZ_2"></div>
                                </div>
								<div class="column column-2" display-field label="QUICK_SETUP.NAME_SSID" ng-model="form.data.wireless_5g_2_ssid"></div>
								<div class="column column-3" display-field label="QUICK_SETUP.PASSWORD" ng-model="form.data.wireless_5g_2_encry_password"></div>
							</div>
						</div>
					</div>
					<div class="form-content-container quick-step-content"  ng-switch-when="2">
						<div class="fieldset-container">
							<div class="fieldset-content-container">
								<h3 class="note-status" translate>QUICK_SETUP.SORRY</h3>
								<span class="note-content" translate>QUICK_SETUP.RECONNECT_NOTE</span>
								<div button cls="button" text="QUICK_SETUP.OK" ng-model="summaryOkBtn" on-click="summaryOk()"></div>
							</div>
						</div>
					</div>
				</div>
			</div> 

			<!-- test connection -->
			<div total=6 step=6>
				<div class="form-container">
					<div form-header title="QUICK_SETUP.SUMMARY">
						<div button position="right" text="QUICK_SETUP.FINISH" on-click="finish()"></div>
					</div>
					<div process-position></div>
					<div class="form-content-container quick-step-content">
						<div class="fieldset-container">
							<div class="fieldset-content-container">
								<h3 class="note-status" translate>QUICK_SETUP.CONGRATULARIONS</h3>
								<span class="note-content" translate>QUICK_SETUP.COMPLETE_INFO</span>
								<div button cls="button" text="QUICK_SETUP.TEST_INTERNET" on-click="testInternetConn()"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	


	<div class="page-msg">
		<div message id="test-success-msg">
			<span class="quicksetup-summary-note" translate>QUICK_SETUP.SUCCESS</span><br/>
			<span translate>QUICK_SETUP.TEST_INTERNET_SUCCESS_INFO</span>
		</div>
		<div message id="test-failure-msg">
			<span class="quicksetup-summary-note" translate>QUICK_SETUP.SORRY</span><br/>
			<span translate>QUICK_SETUP.TEST_INTERNET_FAILED_INFO_0</span>
		</div>
		<div message id="empty-confirm-msg">
		</div>
		<div message id="auto-detect-msg">
			<div progress-bar ng-model="autoDetectProgressBar"></div>
		</div>
		<div message id="save-msg">
			<div progress-bar ng-model="saveProgressBar"></div>
		</div>
		<div message id="wireless-cfm-msg">
			<span class="" ng-show="wirelessCfmMsg.notice_2g.visible">{{wirelessCfmMsg.notice_2g.content | translate}}</span>
            <span class="" ng-show="wirelessCfmMsg.notice_5g.visible">{{wirelessCfmMsg.notice_5g.content | translate}}</span>
            <span class="" ng-show="wirelessCfmMsg.notice_5g_2.visible">{{wirelessCfmMsg.notice_5g_2.content | translate}}</span>
		</div>
	</div>

</div>
