#top-con {
    /*width: 1080px;*/
}
div.top-nav ul li span {
    min-width: 180px;
}
#top-product {
    margin-left: 0;
    width: 185px;
}
a.top-btn#topLogout {
    width: 60px;
}
a.top-btn#topReboot {
    width: 60px;
}

#base-white {
    margin-left: 295px;
}
#con {
    width: 1110px;
}
#menu {
    width: 288px;
}
#menu li.ml1 {
    width: 290px;
}
#main {
    width: 670px;
    left: 360px;
}

/* iptv.htm */
.checkbox-label[for="iptvQtagEn"] span.text {
	width: 50px !important;
	display: inline-block;
	line-height: 14px !important;
}

button#detect {/* wanBasic.htm, qsEwan.htm */
    width: 120px;
}