TD {
	FONT-SIZE: 13px;font-family: Tahoma, sans-serif;BACKGROUND-COLOR: #ffffff; COLOR: #36424a
}
TD.menu {
	font-family: Tahoma, sans-serif;BACKGROUND-COLOR:#efefef
}
TD.hd {
	font-family: Tahoma, sans-serif;FONT-WEIGHT: bold;FONT-SIZE: 13px; COLOR: #36424a; HEIGHT: 24px; BACKGROUND-COLOR: #efefef
}

.footerbody {
	font-family: Tahoma, sans-serif;BORDER-BOTTOM: #ff9933 1px solid; BACKGROUND: #000000; BORDER-TOP: #ff9933 1px solid
}
.footertd {
	font-family: Tahoma, sans-serif;BACKGROUND-COLOR: #000000
}
.mainMenuBody {
	font-family: Tahoma, sans-serif;BACKGROUND: #efefef
}

.menuSub {
  BACKGROUND-COLOR: #efefef;
  TEXT-DECORATION: none;
  width:190px;
  FONT-SIZE: 13px;
  font-family: Tahoma, sans-serif;
  color:#36424a
}
.menuSub:hover {
	font-family: Tahoma, sans-serif;FONT-SIZE: 13px;BACKGROUND-COLOR: #7EC020; COLOR: #ffffff
}
.menuSub:active {
	font-family: Tahoma, sans-serif;FONT-SIZE: 13px;BACKGROUND-COLOR: #7EC020; COLOR: #ffffff
}
.menuSub:focus {
	font-family: Tahoma, sans-serif;FONT-SIZE: 13px;BACKGROUND-COLOR: #7EC020; COLOR: #ffffff
}
.menuSub:hover:focus {
	font-family: Tahoma, sans-serif;FONT-SIZE: 13px;BACKGROUND-COLOR: #7EC020; COLOR: #ffffff
}

.menuLink {
  TEXT-DECORATION: none;
  width:190px;
  FONT-SIZE: 13px;
  font-family: Tahoma, sans-serif;
  color:#36424a;
  BACKGROUND-COLOR: #efefef
}

.menuLink:hover {
	font-family: Tahoma, sans-serif;FONT-SIZE: 13px; BACKGROUND-COLOR: #efefef; COLOR: #36424a;font-weight:bold
}
.menuLink:active {
	font-family: Tahoma, sans-serif;FONT-SIZE: 13px;  BACKGROUND-COLOR: #efefef;COLOR: #36424a; font-weight:bold
}
.menuLink:focus {
	font-family: Tahoma, sans-serif;FONT-SIZE: 13px; BACKGROUND-COLOR: #efefef; COLOR: #36424a; font-weight:bold 
}
.menuLink:hover:focus {
	font-family:Tahoma, sans-serif;FONT-SIZE: 13px;  BACKGROUND-COLOR: #efefef;COLOR: #36424a; font-weight:bold
}
.menuCell {
	FONT-SIZE: 13px;
    BACKGROUND-COLOR: #efefef; 
    font-family: Tahoma, sans-serif
}
