A.bottom:link {
	FONT-WEIGHT: normal; FONT-SIZE: 13px; COLOR: #ffffff; font-family: Tahoma, sans-serif; LETTER-SPACING: 1px;line-height: 18px; TEXT-DECORATION: none;    font-weight: bold;	
}
A.bottom:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 13px; COLOR: #ffffff; font-family: Tahoma, sans-serif; LETTER-SPACING: 1px;line-height: 18px; TEXT-DECORATION: none
}
A.bottom:active {
	FONT-WEIGHT: normal; FONT-SIZE: 13px; COLOR: #ff9933; line-height: 18px; LETTER-SPACING: 1px; TEXT-DECORATION: none
}
A.bottom:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 13px; COLOR: #ff9933; line-height: 18px; LETTER-SPACING: 1px; TEXT-DECORATION: none
}
A.content:link {
	FONT-WEIGHT: normal; FONT-SIZE: 13px; COLOR: #183ead; font-family: Tahoma, sans-serif; LETTER-SPACING: 1px;line-height: 18px; TEXT-DECORATION: none
}
A.content:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 13px; COLOR: #183ead; font-family: Tahoma, sans-serif; LETTER-SPACING: 1px;line-height: 18px; TEXT-DECORATION: none
}
A.content:active {
	FONT-WEIGHT: normal; FONT-SIZE: 13px; COLOR: #ff9933; line-height: 18px; LETTER-SPACING: 1px; TEXT-DECORATION: none
}
A.content:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 13px; COLOR: #ff9933; line-height: 18px; LETTER-SPACING: 1px; TEXT-DECORATION: none
}
.style1 {
	FONT-WEIGHT: bold; COLOR: #36424a; TEXT-INDENT: 2em
}
TD.title {
	FONT-SIZE: 14px; COLOR: #000000; HEIGHT: 24px; BACKGROUND-COLOR: #ffffff
}

TD.hd {
	font-family: Tahoma, sans-serif;FONT-WEIGHT: bold;FONT-SIZE: 13px; COLOR: #36424a; HEIGHT: 24px; BACKGROUND-COLOR: #efefef
}

/* add By Jairo intelbras
INPUT.button {
	BACKGROUND-COLOR: #CCCCCC; BORDER-BOTTOM: #000000 1px solid; BORDER-LEFT: #000000 1px solid; BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; COLOR: #000000; FONT-SIZE: 12px; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: normal; HEIGHT: 18px; LINE-HEIGHT: normal
}
*/

INPUT.text {
	BORDER-BOTTOM: #000000 1px solid; BORDER-LEFT: #000000 1px solid; BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; COLOR: #000000; FONT-SIZE: 12px; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: normal; HEIGHT: 18px; LINE-HEIGHT: normal; PADDING-LEFT: 3px; PADDING-RIGHT: 3px
}
TD.tail {
	FONT-SIZE: 12px; HEIGHT: 25px
}


BODY {
	BACKGROUND-COLOR: #FFFFFF;
	COLOR: #000000;
	FONT-FAMILY: Tahoma, sans-serif;
	FONT-SIZE: 75%;
	PADDING-LEFT: 0px;
	PADDING-TOP: 0px;
	margin-left:70px
}
SELECT.list {
	BORDER-BOTTOM: #000000 1px solid; BORDER-LEFT: #000000 1px solid; BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; COLOR: #000000; FONT-SIZE: 12px; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: normal; HEIGHT: 18px; LINE-HEIGHT: normal
}
TD {
	FONT-SIZE: 12px; LINE-HEIGHT: 18px; TEXT-DECORATION: none
}
TD.top {
	FONT-SIZE: 12px; LINE-HEIGHT: 18px; TEXT-DECORATION: none; VERTICAL-ALIGN: top
}
TH {
	FONT-SIZE: 12px; LINE-HEIGHT: 18px; TEXT-DECORATION: none
}
.space {
	MARGIN-TOP: 10px; FONT-SIZE: 10px; MARGIN-BOTTOM: 10px; width:550px; border:1px;
}
