/*
:root{
    --top: #4acbd6;
    --topText: #fff;
    --topTextSel: #4acbd6;
    --topButton: #4acbd6;
    --topButtonHover: #77d9df;
    --menuText: #36444b;
    --menuTextSel: #36444b;
    --menuTextHover: #ffcb00;
    --menuBackground: #fff;
    --menuBackgroundSel: #ffcb00;
    --mainBackground: #4acbd6;
    --h4color: #fff;
    --buttonBackground: #4acbd6;
    --arrowBg: rgba(255, 255, 255, 0.25);
    --bottom: rgba(0, 85, 100, 0.15);
    --mapIconColor: #005564;
    --mapIconColorSel: #4acbd6;
    --controlIcon: #4acbd6;
}
:root{
    --top: #b6b6b6;
    --topText: #fff;
    --topTextSel: #631890;
    --topButton: #b6b6b6;
    --topButtonHover: #631890;
    --menuText: #36444b;
    --menuTextSel: #fff;
    --menuTextHover: #631890;
    --menuBackground: #fff;
    --menuBackgroundSel: #6f4a86;
    --mainBackground: #b6b6b6;
    --h4color: #fff;
    --buttonBackground: #6f4a86;
    --arrowBg: rgba(111,74,134,1);
    --bottom: rgba(111,74,134,0.66);
    --mapIconColor: #005564;
    --mapIconColorSel: #6f4a86;
    --controlIcon: #631890;
}

*/

/* 输入框焦点 */
.pure-form .input-container.focus .input-wrapper,
.tpAddress-wrapper.focus,
.input-container.focus .input-wrapper {
    /*border-color: #4acbd6;*/
    border-color: var(--controlIcon);
}


/* jquery.tpSearchInput.css */
.focus div.search-input-wrapper {
    /*border: 1px solid #4acbd6;*/
    border: 1px solid var(--controlIcon);
}

/* jquery.tpSelect.css */
.tp-select:hover .select-box, .tp-select.expanded  .select-box{
    color: #2c5667;
    /*border: 1px solid #4acbd6;*/
    border: 1px solid var(--controlIcon);
}
.tp-select li.selected {
    background-color: #fff;
    /*color: #4acbd6;*/
    color: var(--menuTextSel);
}
.tp-select li.hover {
    /*background-color: #4acbd6;*/
    color: #ffffff;
    background-color: var(--controlIcon);
}

/* tpTable.css */
.pure-table tr.edit-tr .first-child {
    /*border-left:1px solid #4acbd6;*/
    border-left:1px solid var(--controlIcon);
}
.pure-table tr.edit-tr .last-child {
    /*border-right: 1px solid #4acbd6;*/
    border-right: 1px solid var(--controlIcon);
}

table.pure-table tr.editor-container td {
    /*border:1px solid #4acbd6;*/
    border:1px solid var(--controlIcon);
    border-top-color: #ccc;
}
.pure-table-bordered tbody>tr.editor-container:last-child td {
    /*border-bottom: 1px solid #4acbd6;*/
    border-bottom: 1px solid var(--controlIcon);
}

label.table-icon-text-blue-lte {
    /*color: #4acbd6;*/
    color: var(--controlIcon);
}

label.table-icon-text {
    /*color: #4acbd6;*/
    color: var(--controlIcon);
}

tr.editor-container {
    /*border: 1px solid #4acbd6;*/
    border: 1px solid var(--controlIcon);
}
tr.editor-container > td {
    /*border: 1px solid #4acbd6;*/
    border: 1px solid var(--controlIcon);
}

tr.edit-td-top td, tr.edit-td-top th.edit-td-top {
    /*border-bottom: 1px solid #4acbd6;*/
    border-bottom: 1px solid var(--controlIcon);
}

span.click-page {
    /*color: #4acbd6;*/
    color: var(--controlIcon);
}

able.cale span.sel,
table.cale th.sel {
    /*background: #4acbd6;*/
    background: var(--controlIcon);
}

span.timeSelOrange {
    background: #ffcb00;
}

.pure-form input[type=color]:focus,.pure-form input[type=date]:focus,.pure-form input[type=datetime-local]:focus,.pure-form input[type=datetime]:focus,.pure-form input[type=email]:focus,.pure-form input[type=month]:focus,.pure-form input[type=number]:focus,.pure-form input[type=password]:focus,.pure-form input[type=search]:focus,.pure-form input[type=tel]:focus,.pure-form input[type=text]:focus,.pure-form input[type=time]:focus,.pure-form input[type=url]:focus,.pure-form input[type=week]:focus,.pure-form select:focus,.pure-form textarea:focus {
    /*border-color: #4acbd6;*/
    border-color: var(--controlIcon);
}
table.cale span.sel {
    /*background: #4acbd6;*/
    background: var(--controlIcon);
}

/* jquery.tpInput.css */
.visible span.icon-eye .eyeColor {
    /*fill: #4acbd6;*/
    fill: var(--controlIcon);
}
/* parentctrl */
span.timeExam {
    background-color: var(--controlIcon) !important;
}
/* login.css */
body {
    /*background-color: #4acbd6;*/
    background-color: var(--mainBackground);
}
#top,
#pc-top {
    /*background-color: #4acbd6;*/
    background-color: var(--top);
}

span.pc-forgetPwd a {
    /*color: #4acbd6;*/
    color: var(--controlIcon);
}

div.secLevel.level2 span.ori.level2 {
    background-color: #ffcb00;
}

div.secLevel.level3 span.ori.level3 {
    background-color: #4acbd6;
}

#welcome {
    /*background-color: #4acbd6;*/
    background-color: var(--controlIcon);
}
.phoneBody {
    /*background-color:#4acbd6;*/
    background-color: var(--controlIcon);
}

.tp-select li.selected {
    /*color: #4acbd6;*/
    color: var(--controlIcon);
}
.tp-select li.hover {
    /*background-color: #4acbd6;*/
    background-color: var(--controlIcon);
    color: #fff;
}

.form-lgBt {
    background-color: #ffcb00;
    color: #fff;
}

.password-level.level2 .middle {
    background-color: #ffcb00;
}
.password-level.level3 .high {
    background-color: #4acbd6;
}

div.grid-popup-msg.ph div.grid-warning-msg span.icon {
 border-right: 1px solid #e6e6e6;
}
.ph div.msg-btn-container div.button-container button#confirm-yes span{
    /*color: #4acbd6*/
    color: var(--controlIcon);
}

.tether-intro .tether-logo {
    /*background-image: linear-gradient(47deg, #81CCED 13%, #4acbd6 95%);*/
    background-image: linear-gradient(47deg, #81CCED 13%, var(--controlIcon) 95%);
}
#download-btn {
    color: #FFFFFF;
    /*background-image: linear-gradient(47deg, #81CCED 13%, #4acbd6 95%);*/
    background-image: linear-gradient(47deg, #81CCED 13%, var(--controlIcon) 95%);
}
#go-web-btn {
    /*color: #4acbd6;*/
    color: var(--controlIcon);
}

/* main.css */

/* IE6, IE7 BUG */
.red {
    color: #c11c66;
}
.green {
    /*color: #4acbd6;*/
    color: var(--controlIcon);
}


div.top-nav ul li {
    border-radius: 10px 10px 0 0;
    background-color: var(--topButton);
}

div.top-nav ul li:hover span.text {
    /*background-color: #77d9df;*/
    background-color: var(--topButtonHover);
}

div.top-nav.disabled ul li:hover span.text{
    /*background-color: #4acbd6;*/
    background-color: var(--controlIcon);
}

div.top-nav ul li span.text {
    /*color: #fff;*/
    color: var(--topText);
}
/*for multi Language*/
div.top-nav ul li.selected span.text, div.top-nav.disabled ul li.selected span.text {
    background-color: #ffffff;
    /*color: #4acbd6;*/
    color: var(--topTextSel);
}

.top-country .top-country-select .select-box {
    /*color: #4acbd6;*/
    color: var(--topTextSel);
    background: #f5f5f5
}

.top-country .top-country-select .tp-select .select-box:hover,
.top-country .top-country-select .tp-select .select-box.expanded {
    /*color: #4acbd6;*/
    color: var(--controlIcon);
}

.top-country .tp-select:hover .select-box, .top-country .tp-select.expanded .select-box {
    /*color: #4acbd6;*/
    color: var(--controlIcon);
}

.top-btn:hover {
    /*background: #77d9df;*/
    background: var(--topButtonHover);
}

/* 左侧一级菜单栏 */
#menuTree li.ml1 a {
    background-color: var(--menuBackground);
}
/* 左侧一级菜单栏选择颜色 */
#menuTree li.ml1 a.sel {
    /*background-color: #ffcb00;*/
    background-color: var(--menuBackgroundSel);
}

#menu a.sel span.text {
    /*color: #36444b;*/
    color: var(--menuText);
}

#menu a.clicked span.text {
    /*color: #ffcb00;*/
    color: var(--menuTextHover);
}
/* 菜单文字鼠标放置颜色 */
#menu a:hover span.text {
    /*color: #ffcb00;*/
    color: var(--menuTextHover);
}
/* 菜单文字选中颜色 */
#menu a.sel span.text {
    /*color: #36444b;*/
    color: var(--menuTextSel);
}

/* 左侧二级菜单栏 */
#menuTree li.ml2 a {
    background-color: transparent
   /* background-color: #fff;
    border-bottom-left-radius: 0px; */
}
/* 左侧二级菜单栏选择颜色 */
#menuTree li.ml2 a.sel {
    background-color: transparent;
    /*border: 0;*/
}
/* 二级菜单文字鼠标放置颜色 */
#menu li.ml2 a:hover span.text {
    /*color: #ffcb00;*/
    color: var(--menuTextHover);
}
/* 二级菜单文字选中颜色 */
#menu li.ml2 a.clicked span.text {
    /*color: #36444b;*/
    color: var(--menuTextHover);
}
/* 二级菜单文字默认颜色 */
#menu li.ml2 a span.text {
    color: #8c9ea2;
}


/* a标签鼠标点击或放置颜色 checkbox选择颜色 */
span.span-hover, span.span-click {
    /*color: #4acbd6;*/
    color: var(--controlIcon);
}
span.span-disable-hover, span.span-disable-click {
    color: #b3b3b3;
    cursor: not-allowed;
}

a.link{
    color: var(--controlIcon) !important;
}
a.link_line {
    color: var(--controlIcon) !important;
    text-decoration: underline !important;
}

/* 按钮颜色 */
button.blue,
button.green,
button.button-button,
div.button-container button.button-button,
div.button-container button.button-buttonlarge{
    /*background-color: #4acbd6;*/
    background-color: var(--buttonBackground);
}
button.blue:hover,
button.green:hover,
div.button-container button.button-button:hover,
div.button-container button.button-buttonlarge:hover,
button.button-button:hover {
    /*background-color: #23c4c4;*/
    background-color: var(--buttonBackground);
    opacity: 0.7;
}

/* fwUpInfoBlock.htm  */
div.part-seperate button, div.part-seperate a{
    background-color: var(--buttonBackground) !important;
}
div.part-seperate button:hover, div.part-seperate a:hover{
    background-color: var(--buttonBackground) !important;
    opacity: 0.7;
}


/* 按钮文字颜色 */
button span {
    color: #fff;
}

h5.map-form-title {
    /*color: #4acbd6;*/
    color: var(--controlIcon);
}

span.T_note2 {
    /*color: #4acbd6;*/
    color: var(--controlIcon);
}

div.steps p span.step {
    /*color: #4acbd6;*/
    color: var(--controlIcon);
}
/* 2.4G|5G 选中颜色 */
div.mode-change span.mode-select {
    /*color: #4acbd6;*/
    color: var(--topTextSel);
}

div.group-panel-main {
    /*background: #4acbd6;*/
    background: var(--controlIcon);
}

div.wizard-container div.wizard-btn button.button-button, div.msg-btn-container div.button-container button.button-button, div.button-container.submit button.button-button {
    /*background-color: #4acbd6;*/
    background-color: var(--buttonBackground);
}

div.secLevel span.ori.yellow {
    background-color: #ffcb00;
}
div.secLevel span.ori.green {
    /*background-color: #4acbd6;*/
    background-color: var(--controlIcon);
}

div.content-container div.pure-control-group a.link {
    /*color: #4acbd6;*/
    color: var(--controlIcon);
}

span.choose {
    /*color: #4acbd6;*/
    color: var(--controlIcon);
}

div.help-container div.help-content-container div.help-content h5.title.h5-opened span.name-text {
    /*color: #4acbd6;*/
    color: var(--controlIcon);
}

#chart_cnt .device_info ul li:first-Child{
    /*color: #4acbd6;*/
    color: var(--controlIcon);
}

#t_note a{
    /*color: #4acbd6;*/
    color: var(--controlIcon);
}

.login-switch-btn span{
    /*color: #4acbd6;*/
    color: var(--controlIcon);
}

#bound-error .switch-btn{
    /*color: #4acbd6;*/
    color: var(--controlIcon);
}

/* wps.htm */
#wps_button, #wps_mask {
    /*background: #4acbd6;*/
    background: var(--controlIcon) !important;
}
 
#wps_button.starting, #wps_button.starting:hover {
    background: #ffcb00;
}


#wps_mask.starting {
    background: #ffcb00;
}

#wps_button:hover {
    background: #23c4c4;
}

/* 进度条 */
.progressbar-blue .gbar {
    /*background-color: #54c7e2;*/
    background-color: var(--controlIcon);
}
.gbar {
    /*background: #4acbd6;*/
    background: var(--controlIcon);
}

/* quicksetup.htm */
div.process-flow-bar.processed span.bar-inner {
    /*background-color: #4acbd6;*/
    background-color: var(--controlIcon) !important;
}

div.process-flow-step.current span.icon .step,
div.process-flow-step.end.current span.icon .step,
div.process-flow-step.processed span.icon .step{
   /*fill: #4acbd6;*/
   fill: var(--controlIcon) !important;
}

div.process-flow-step.current span.text,
div.process-flow-step.processed span.text {
    /*color: #4acbd6;*/
    color: var(--controlIcon) !important;
}

/* -------------------------------------- */
/* --              图标                -- */
/* -------------------------------------- */
/* ================== 控件类图标 ================ */
/* checkbox */
input[type="checkbox"].checkbox-checkbox + label.checkbox-label span.icon .checkboxColor1,
input[type="checkbox"].checkbox-checkbox + label.checkbox-label span.checkbox-click .checkboxColor1 {
    fill: #a7a9ac;
}
input[type="checkbox"].checkbox-checkbox + label.checkbox-label span.icon .checkboxColor2,
input[type="checkbox"].checkbox-checkbox + label.checkbox-label span.checkbox-hover-unchecked .checkboxColor2 {
    fill: #fff;
}
input[type="checkbox"].checkbox-checkbox + label.checkbox-label span.checkbox-hover-unchecked .checkboxColor1,
input[type="checkbox"].checkbox-checkbox + label.checkbox-label span.checkbox-hover-checked .checkboxColor1,
input[type="checkbox"].checkbox-checkbox + label.checkbox-label span.checkbox-hover-checked .checkboxColor2,
input[type="checkbox"].checkbox-checkbox + label.checkbox-label span.checkbox-click .checkboxColor2 {
    /*fill: #51cbd5;*/
    fill: var(--controlIcon);
}
input[type="checkbox"].checkbox-checkbox + label.checkbox-label span.checkbox-disable-click .checkboxColor1,
input[type="checkbox"].checkbox-checkbox + label.checkbox-label span.checkbox-disable-unchecked .checkboxColor1,
input[type="checkbox"].checkbox-checkbox + label.checkbox-label span.checkbox-disable-click .checkboxColor2 {
    fill: #a7a9ac;
}
input[type="checkbox"].checkbox-checkbox + label.checkbox-label span.checkbox-disable-unchecked .checkboxColor2 {
    fill: #fff;
}
/* radio */
input[type="radio"].radio-radio + label.radio-label span.radio-click .radio1,
input[type="radio"].radio-radio + label.radio-label span.icon .radio1 {
    stroke:#a7a9ac;
}
input[type="radio"].radio-radio + label.radio-label span.radio-hover-unchecked .radio1,
input[type="radio"].radio-radio + label.radio-label span.radio-hover-checked .radio1 {
    /*stroke:#4acbd6;*/
    stroke: var(--controlIcon);
}
input[type="radio"].radio-radio + label.radio-label span.icon .radio2,
input[type="radio"].radio-radio + label.radio-label span.radio-hover-unchecked .radio2,
input[type="radio"].radio-radio + label.radio-label span.radio-disable-unchecked .radio2 {
    fill: #fff;
}
input[type="radio"].radio-radio + label.radio-label span.radio-hover-checked .radio2,
input[type="radio"].radio-radio + label.radio-label span.radio-click .radio2 {
    /*fill:#4acbd6;*/
    fill: var(--controlIcon);
}
input[type="radio"].radio-radio + label.radio-label span.radio-disable-click .radio2 {
    fill: #a7a9ac;
}
input[type="radio"].radio-radio + label.radio-label span.radio-disable-click .radio1,
input[type="radio"].radio-radio + label.radio-label span.radio-disable-unchecked .radio1 {
    stroke:#a7a9ac;
}

/* BtnGroup 开关按钮 */
div.button-group-container.on ul.button-group-container .btnGroup1 {
    /*fill: #4acbd6;*/
    fill: var(--controlIcon);
}
div.button-group-container.off.disabled ul.button-group-container .btnGroup1,
div.button-group-container.off ul.button-group-container .btnGroup1,
div.button-group-container.on.disabled ul.button-group-container .btnGroup1 {
    fill: #a7a9ac;
}

/* help 按钮 */
/*
div.help-container div.help-btn-container a.btn-help {
    background: url(../img/icons.png) no-repeat scroll -197px -172px;
}
div.help-container div.help-btn-container a.btn-help.hover {
    background-position: -137px -172px
}
*/

/* 下拉框鼠标选中 边框颜色 */
.tp-select.expanded .select-box,.tp-select:hover .select-box {
    background-position: 0 -170px,right -238px,50% -102px,0 -34px;
    color: #2c5667;
    /*border: 1px solid #4acbd6;*/
    border: 1px solid var(--controlIcon);
}

/* tpTables.css 图标 */
/* clock图标- parental controls页面 */
span.clock-icon {
    background: url(../img/icons.png) no-repeat -42px -20px;
}
/* +号图标 */
span.add-icon {
    background: url(../img/icons.png) no-repeat -262px -22px;
}
/* -号图标 */
span.delete-icon {
    background: url(../img/icons.png) -121px -22px;
}
/* x号图标 */
span.close-icon {
    background: url(../img/icons.png) -302px -22px;
}
/* 刷新图标 */
span.refresh-icon {
    background: url(../img/icons.png) -82px -42px;
}

/* ==================  top 页面 =============== */
/* 右上角logo图标 */
span.icon-logo {
    /* background: url("../img/icons.png") no-repeat -134px -667px; */
    background: url("../img/logo-icon.png") no-repeat;
}
/* fwUpInfoBlock.htm */
/*
.fwUpInfoBlock-cloud-icon {
    background: url("../img/logo-icon.png") no-repeat !important;
}
*/

/* 右上角 云登录 图标 */
a#cloudLogin.top-btn span.icon {
    background: url(../img/icons.png) no-repeat scroll -224px -1001px;
}
/* 右上角 退出登录 图标 */
a#topLogout.top-btn span.icon {
    background: url(../img/icons.png) no-repeat scroll -56px -147px;
}
/* 右上角 重启 图标 */
a#topReboot.top-btn span.icon {
    background: url(../img/icons.png) no-repeat scroll -420px -95px;
}
/* 右上角 云升级提示 图标 */
#topUpdate.top-btn span.icon {
    background: url(../img/icons.png) no-repeat scroll -56px -998px;
}

/* ==================  menu 页面 =============== */
/* menu图标(父) */
#menu span.icon {
    background: url(../img/icons.png) no-repeat top left;
}

/* Network Map menu图标 */
#menu a.clicked span#netMap,
#menu a:hover span#netMap {
    background-position: -402px -1140px
}
#menu a span#netMap,
#menu a.sel span#netMap {
    background-position: -366px -144px;
}

/* Internet menu图标 (Basic+Advanced) */
#menu a.clicked span#internet,
#menu a:hover span#internet {
    background-position: -128px -1216px
}
#menu a.sel span#internet,
#menu a span#internet {
    background-position: -235px -146px;
}

/* Wireless menu图标 (Basic+Advanced) */
#menu a.clicked span#wireless,
#menu a:hover span#wireless {
    background-position: -51px -1212px
}
#menu a.sel span#wireless,
#menu a span#wireless {
    background-position: -235px -94px;
}

/* OneMesh menu图标 (Basic+Advanced) */
#menu a.clicked span#oneMesh,
#menu a:hover span#oneMesh {
    background: url(../img/mesh_sprites.png) -153px -105px
}
#menu a.sel span#oneMesh,
#menu a span#oneMesh {
    background: url(../img/mesh_sprites.png) -5px -153px
}

/* Gueset Network menu图标 (Basic+Advanced) */
#menu a.clicked span#guestNtw,
#menu a:hover span#guestNtw {
    background-position: -25px -1186px
}
#menu a.sel span#guestNtw,
#menu a span#guestNtw {
    background-position: -339px -120px
}

/* Parental Controls menu图标 (Basic+Advanced) */
#menu a.clicked span#parentCtrl,
#menu a:hover span#parentCtrl {
    background-position: -219px -1168px
}
#menu a.sel span#parentCtrl,
#menu a span#parentCtrl {
    background-position: -105px -146px
}

/* TP-Link Cloud menu图标 */
#menu a.clicked span#cloud,
#menu a:hover span#cloud {
    background-position: -155px -1217px
}
#menu a.sel span#cloud,
#menu a span#cloud {
    background-position: -179px -1217px
}

/* Advanced */
/* Status menu图标 */
#menu a.clicked span#status,
#menu a:hover span#status {
    background-position: -375px -1167px
}
#menu a.sel span#status,
#menu a span#status {
    background-position: -365px -93px
}

/* Operation Mode menu图标 */
#menu a.clicked span#sysMode,
#menu a:hover span#sysMode {
    background-position: -427px -1140px
}
#menu a.sel span#sysMode,
#menu a span#sysMode {
    background-position: -339px -144px
}

/* SMS menu图标 */
#menu a.clicked span#sms,
#menu a:hover span#sms {
    background-position: -323px -1169px
}
#menu a.sel span#sms,
#menu a span#sms {
    background-position: -79px -69px
}

/* NAT Forwarding menu图标 */
#menu a.clicked span#fwd,
#menu a:hover span#fwd {
    background-position: -376px -1142px
}
#menu a.sel span#fwd,
#menu a span#fwd {
    background-position: -2px -120px
}

/* QoS menu图标 */
#menu a.clicked span#qos,
#menu a:hover span#qos {
    background-position: -297px -1168px
}
#menu a.sel span#qos,
#menu a span#qos {
    background-position: -235px -68px
}

/* Security menu图标 */
#menu a.clicked span#security,
#menu a:hover span#security {
    background-position: -350px -1169px
}
#menu a.sel span#security,
#menu a span#security {
    background-position: -28px -69px
}

/* VPN menu图标 */
#menu a.clicked span#vpn,
#menu a:hover span#vpn {
    background-position: -208px -1195px
}
#menu a.sel span#vpn,
#menu a span#vpn {
    background-position: -182px -1195px
}

/* System Tools menu图标 */
#menu a.clicked span#tools,
#menu a:hover span#tools {
    background-position: -401px -1168px
}
#menu a.sel span#tools,
#menu a span#tools {
    background-position: -339px -94px
}

/* =============== networkmap 页面 ============= */
/* Internet 地球图标 */
.map_icon {
    /*fill:#005564;*/
    fill: var(--mapIconColor) !important;
}
.map_stroke{
    /*stroke:#005564;*/
    stroke: var(--mapIconColor) !important;
}
div.map-icon-internet-conn .map_icon,
div.map-icon-internet-connecting-sel .map_icon,
div.map-icon-router-conn .map_icon,
div.map-icon-wireless-conn .map_icon,
div.map-icon-wire-conn .map_icon,
div.map-icon-printer-conn .map_icon,
div.map-icon-usb-conn .map_icon,
div.map-icon-sms-conn .map_icon,
div.map-icon-phone-conn .map_icon,
div.map-icon-mesh-conn .map_icon,
.selected .speedvTest_nomal .map_icon{
    /*fill:#4acbd6;*/
    fill: var(--mapIconColorSel) !important;
}

div.map-icon-mesh-conn .map_stroke {
    /*stroke:#4acbd6;*/
    stroke: var(--mapIconColorSel) !important;
}

/* 图标右上角数字提示圆 */
span.map-icon-num {
    color: #fff;
    /*background-color: #ffcb00;*/
    background-color: var(--menuBackgroundSel);
}

/* speedtest 图标 */
/*
#speedTestResume-container.sprite .speedvTest_nomal {
    background-image: url(../img/speedTest.png) no-repeat -3px -81px;
}
#speedTestResume-container.selected .speedvTest_nomal {
    background-image: url(../img/speedTest.png) no-repeat -3px -29px;
}
*/

/* networkmap 2.4G图标 */
div.map-router-tip div.map-router-wrap div.map-router-24g-img, div.map-router-tip div.map-router-wrap div.map-router-5g-img {
    background: url(../img/icons.png) no-repeat -28px -93px;
}
/* networkmap 5G图标 */
div.map-router-tip div.map-router-wrap div.map-router-5g-img {
    background-position: -88px -280px;
}

/* =====================  */

/* 右下图标 */
.arrowBg-c{
    /*fill: rgba(255, 255, 255, 0.25);*/
    fill: var(--arrowBg);
}

.pc-bottom-background,
.bot-background {
    /*background-color: rgba(0, 85, 100, 0.15);*/
    background-color: var(--bottom);
}

/* ====== 控件 ======= */
.controlIcon{
    /*fill:#4acbd6;*/
    fill: var(--controlIcon);
}

/* ====== orange UI定制项 ====== */
/* 左侧一级菜单栏 */
/*
#menuTree li.ml1 a {
    border-bottom-left-radius: 0px;
}
*/

/* 左侧一级菜单栏选择颜色 */
/*
#menuTree li.ml1 a.sel {
    border-left: 4px solid rgb(243, 144, 63);
}
#menuTree li.ml2 a.sel {
    border-left: 0;
}
*/
/* menu图标 选中 */
/*
#menu a.sel span#netMap {
    background-position: -402px -1140px
}
*/
/* h4 背景颜色 */
div.map-panel h4.map-panel-title {
    /*background-color: #fff;*/
    background-color: var(--h4color);
    padding-left: 0px;
    height: 25px;
}