
# TUN

local 0.0.0.0
[PORT]
[PROTO_TYPE]

dev tun
log-append /tmp/openvpn/openvpn_tun.log
status /tmp/openvpn/openvpn_tun.status 1
writepid /tmp/openvpn/openvpn_tun.pid

ca /data/.cert/server/ca.crt
cert /data/.cert/server/rax-server.crt
key /data/.cert/server/rax-server.key
dh /data/.cert/server/dh1024.pem

auth sha1
tls-server
cipher AES-128-CBC

server 192.168.254.0 255.255.255.0
ifconfig-pool-persist ipp-tun.txt 1

client-to-client
duplicate-cn
keepalive 10 120
max-clients 4
mtu-disc yes
topology subnet
script-security 2
comp-lzo
fast-io

persist-key
persist-tun

[PUSH_ROUTE_SUBNET]
push "redirect-gateway"
push "route 192.168.254.0 255.255.255.0 [BR0_IP]"
push "dhcp-option DNS [BR0_IP]"
push "dhcp-option WINS [BR0_IP]"

verb 5
mute 5

