a.top-btn#topLogout span.text {
    width: 80px;
}

a.top-btn#topLogout {
    width: 82px;
}

button.it-xxxl, button.xl.it-xxxl {
    width: 250px;
}
.select-title.xxxs.it-xxs {
    width: 115px;
}
.xxxl.it-xxxl .tp-select {
    width: 520px;
}
.xxxl.it-xxxl .select-icon {
    margin: 6px 0 0 516px;
}
.pure-form-aligned .pure-control-group label.label-title.s.it-xxs {
    width: 111px;
}

#top-con {
    /*width: 1080px;*/
}
div.top-nav ul li span {
    min-width: 200px;
}
#top-product {
    margin-left: 0;
    width: 185px;
}
a.top-btn#topLogout {
    width: 80px;
}
a.top-btn#topReboot {
    width: 60px;
}
#base-white {
    margin-left: 355px;
}

#con {
    width: 1200px;
}
#menu {
    width: 340px;
}
#menu li.ml1 {
    width: 342px;
}
#main {
    width: 670px;
    left: 360px;
}

button#detect {/* wanBasic.htm, qsEwan.htm */
    width: 160px;
}
button#resetBtn{/* backNRestore.htm */
    width: 270px;
}
button#view{/* virtualserver.htm */
    width: 208px;
}
button#t_view{/* portTrigger.htm */
    width: 208px;
}
button#t_viewdev /* parentCtrl.htm */
{
	width:190px;
}

