.top-country {
    margin-left: 20px;
}
.top-control {
  margin-right: 0px;
}
a.top-btn#topReboot span.text {
    width: 90px;
}

a.top-btn#topReboot {
    width: 92px;
}
.pure-form-aligned .pure-control-group label.label-title.s {
    width: 91px;
}
.pure-form-aligned .pure-control-group label.label-title.ru-m {
    width: 145px;
}
.pure-form-aligned .pure-control-group label.label-title.ru-l {
    width: 218px;
}
.pure-form-aligned .pure-control-group label.label-title.xl, .pure-form-aligned .pure-control-group label.label-title.ru-xl {
    width: 278px;
}
.pure-form-aligned .pure-control-group label.label-title.xxl, .pure-form-aligned .pure-control-group label.label-title.ru-xxl {
    width: 318px;
}
.pure-form-aligned .pure-control-group label.label-title.xxxl, .pure-form-aligned .pure-control-group label.label-title.ru-xxxl {
    width: 348px;
}
.pure-form-aligned .pure-control-group label.label-title.ru-xxxxl {
    width: 398px;
}
div.map-router-connect {
}
div.map-router-tip {
    right: -150px; /* for ac3200 */
}
div.map-router-tip div.map-router-wrap {
    width: 50px;
}
div.map-router-tip div.map-router-bar {
    left: 52px;
}
/*div.pure-g div.pure-u-1-2 div.content {*/
    /*width: 325px;*/
/*}*/
/*div.pure-g div.pure-u-1-1 div.content {*/
     /*width: 664px;*/
 /*}*/
div.content div.mode-change {
    left: 192px;
}
button.ru-l {
    width: 132px;
}
button.ru-xl {
    width: 210px;
}
button.ru-xxl {
    width: 270px;
}
button.xxxl, button.ru-xxxl {
    width: 300px;
}
button.xxxxl, button.ru-xxxxl {
    width: 330px;
}
div.content div.mode-change.mode-3 {
  width: 150px;
  left: 165px;
}
div.mode-change.mode-3 {
  width: 150px;
  left: 500px;
}
div.mode-change span.first-mode, div.mode-change span.second-mode,  div.mode-change span.third-mode{
    padding: 3px 1px;
    font-size: 9px;
}
div.widget-container div.widget-fieldlabel-wrap {
    width: 278px;
}
.select-title.l, .select-title.ru-l {
    width: 252px;
}
.select-title.xl, .select-title.ru-xl {
    width: 278px;
}
.select-title.xxl, .select-title.ru-xxl {
    width: 318px;
}
.select-title.ru-xxxl, .select-title.xxxl {
    width: 351px;
}
.select-title.ru-xxxxl {
    width: 402px;
}
.ru-xl .tp-select, .ru-xl.xxl .tp-select {
    width: 200px;
}
.ru-xl .select-icon {
    margin: 6px 0 0 196px;
}
.ru-xxl .tp-select {
    width: 300px;
}
.ru-xxl .select-icon {
    margin: 6px 0 0 294px;
}
.ru-hide {
    display: none !important;
}
button span {
    font-size: 12px;
}

/* for phone */
.top-titleBar-operationContainer a {
    font-size: 0.8rem;
}
.top-titleBar h1 {
    padding: 0 80px;
}
/* for phone end */
div.textbox-tips {
  width: 180px;
}
/* for status.htm */

/* iptv.htm */
/*
div#internetVPrior.inline {
	margin-left: -20px;
}

label#internetVPriCon.inline {
	margin-left: -20px;
	width:10px;
}
*/
button#detect {/* wanBasic.htm, qsEwan.htm */
    width: 140px;
}
button#refresh{/* backNRestore.htm */
    width: 100px;
}
button#GetPCTime {/* time.htm */
    width: 100px;
}
button#GetTime {/* time.htm */
    width: 260px;
}
div.button-container + #t_status {/* time.htm */
    display: block;
    margin: 1em 0;
}
button#t_backup{/* backNRestore.htm */
    width: 200px;
}
button#resetBtn{/* backNRestore.htm */
    width: 150px;
}
button#factoryBtn{/* backNRestore.htm */
    width: 300px;
}
button#t_testInternet{
	width: 300px;
}
button.T_conn{/* ethWan.htm */
	width: 130px;
}
button.T_disconn{/* ethWan.htm */
	width: 130px;
}
button#t_save{/* log.htm */
    width: 210px;
}
button#export{/* openvpnServer.htm */
	width: 140px;
}
span#status_wirless_title{ /* status .htm */
    display: inline-block;
    width: 100px;
    line-height: 12px;
}
/*parent control*/
#children-grid .internet-pause-icon .text{
    left: -1px;
}