/* Right menu begins */

#menu-wrapper {
	float: right;
}

#main {
	left: 0;
}

#base-inner {
	margin-left: 0;
}

div.help-container {
	left: 24px;
}

div.help-btn-container {
	left: 6px;
	right: auto;
}
div.msg-container {
	direction: rtl;
	text-align: right;
}
h5.map-form-title {
	direction:rtl;
	text-align:right;
}
h4.map-panel-title {
    direction:rtl;
}

div#quicksetup-setup-complete div#cloud-account-1 span.text {
	direction:rtl;
	text-align:right;
}

div#quicksetup-setup-complete div#cloud-account-2 div#quicksetup-result-text-container {
	direction:rtl;
	text-align:right;
}

div.map_wrap p {
    direction: rtl;
}

div.status-panel-page span.page {
       background-position: -1px -146px;
}

div.status-panel-page span.page.right {
        background-position: -287px -120px;
}

div.status-panel-page span.page.gray {
    background-position: -365px -120px;
}
div.status-panel-page span.page.right.gray {
    background-position: -235px -120px;
}


div.help-content-container {
	direction: rtl;
	text-align: right;
	right: auto;
	padding-left: 12px;
	padding-right: 22px;
}
div.help-content-container.right {
    right: auto;
}
div.name-container h5.name-title span.help-arrow {
	left: 0;
	right: auto;
}

div.help-container div.help-content-container span.help-content-delta {
	left: 11px;
	right: auto;
}

div.top-nav {
	margin-left: 200px;
}


.section-labelTitle {
	text-align: right;
}


#top-product {
	float: right;
}

.top-control {
	right: 830px;
	left: auto;
}

div.menu-search-input-container {
	margin-left: 13px;
}

#menuTree li.ml1 {
	margin: 0 0 7px 14px;
}
div.table-bottom-pages span.page {
      background-position:  -289px -120px;

}
div.table-bottom-pages span.page.right {
       background-position: -3px -146px;


}
div.table-bottom-pages span.page.gray {
    background-position: -367px -120px;

}
div.table-bottom-pages span.page.right.gray {
          background-position: -237px -120px;
}


/* Right menu ends */

.pure-form {
    position: relative;
	direction: rtl;
	text-align: right;
}

.icon + .text {
	margin-right: 30px;
}

div.widget-container div.widget-fieldlabel-wrap {
	text-align: left;
}

#ussdDisabledNote + .pure-control-group + .part-separate {
	text-align: left !important;
}

.part-separate-m + .button-container {
	margin-top: 20px;
}
p.note {
	direction:rtl;
	text-align: right;
}
p.cfg-line, div.cfg-line {
	direction:rtl;
	text-align: right;
}

a.top-btn {
	   width: 60px;
}
.top-btn span.text {
		width: 60px;
}
.time-setting-ctn {
	margin-right: 210px;
}

.pure-form-aligned .pure-control-group label.label-title.xl{
	text-align: right !important;
}
.fa-spec {
	direction : rtl;
	text-align:right;
}

.fa-dir-spec {
	direction : rtl;
}

#pwdCheck {
	padding-left: 263px;
}

.pure-table td,
.pure-table th {
	border-left: 0;
	border-right: 1px solid #cbcbcb;
}

table.pure-table tr.editor-container td {
	text-align: right;
	padding-left: 3px;
	padding-right: 40px;
}


.time-daylight-year {
	left: auto;
	right: 87px;
}

#webIncludeDST .select-container .select-title {
	text-align: right;
}

/* mobile */

.link-list > .section-container:first-of-type > .section-box:first-child,
.mtNo,
.mt15,
.section-container,
.device-div,
.msg .msg-content,
.toast .msg-content {
	direction: rtl;
}

div.radio-div div.radio-mobile,
.sms-div-content .sms-title .time,
.text-readonly {
	float: left;
}

.section-container {
	padding-right: 1.11rem;
}

.section-box {
	padding-right: 0;
}

.device-content {
	padding-left: 0;
	padding-right: 5.37rem;
}

div.checkbox-mobile.wps label.checkbox-label span.icon {
	left: 2rem;
}

.device-container .section-box .device-line {
	padding: 1rem 0rem 1rem 0;
}

.upgrade-tip {
	right: auto;
	left: 2.3rem;
}

.sms-div-content {
	padding: .1rem 4.37rem .6rem 1rem;
}

.sms-div-content .sms-text .view {
	left: 0;
	right: auto;
}

ul.edit-list li div.li-content-div {
	padding: 1rem 2rem 1rem 2rem;
}

ul.edit-list li {
	width: auto;
	padding-right: 1rem;
}

.swipe-list .swipe-li-div-parent div.behind a.btnOnRight {
	background-color: transparent;
}

.floatRight {
	float: left;
}

#pc-scroll div.widget-error-tips div.widget-error-tips-wrap {
	direction:rtl;
	text-align:right;
}
div.widget-error-tips {
	direction:rtl;
	text-align:right;
}

div.pc-login-content {
	direction:rtl;
}

.login-switch-note {
	direction:rtl;
}

.login-switch-btn {
	direction:rtl;
}


.tsm-standIn {
	direction:rtl;
}

#qsDiv1 .tsm-standIn { 
	direction:ltr;
}
	
#auto_div .tsm-selectContainer,
#_timezone .tp-select .select-box {
	direction: ltr;
	text-align: right;
}

.msg.waiting .msg-container.toast {
	position: relative;
}

.msg-container.toast .icon-bigWaiting {
	right: 1rem;
}

.toast .icon-bigWaiting + .msg-content {
	padding-left: 1rem;
	padding-right: 2.8rem;
}

#next + div {
	position: absolute !important;
	top: 5px !important;
	right: -40px !important;
}

.crowded-3 .top-control {
    left: -20px;
}

.crowded-4 .top-control {
    left: -80px
}

.select-title.xl {
    width: 248px;
    text-align: right;
}

/* common */

form.pure-form.pure-form-aligned .tp-select .select-box {
	padding-left: 20px;
	padding-right: 7.8px;
}

form.pure-form.pure-form-aligned label.select-title,
form.pure-form.pure-form-aligned label.label-title{
	text-align: right;
}
.advanced-block.part-separate {
	text-align: right;
}
/* quicksetup */

.select-container .tp-select{
	text-align: right;
	direction: rtl;
}
.select-container .tp-select li {
	padding: 0 15px 0 0;
}
span.input-suffix {
	margin-left: 0px;
	margin-right: 15px;
}
#qs_head_sc div.header-container h3,
p#t_wlSettingNote{
	text-align: right;
}
div.diag-loading {
	width: 100%;
}

div#quicksetup-process-content.quicksetup-process-content #quicksetup_diag_container,
div#quicksetup-process-content.quicksetup-process-content .quicksetup-region,
div#quicksetup-process-content.quicksetup-process-content #quicksetup_dsl_container,
div#quicksetup-process-content.quicksetup-process-content #quicksetup_wl_container,
div#quicksetup-process-content.quicksetup-process-content #quicksetup_sum_container{
	margin-left: 160px !important;
}

div#quicksetup-setup-complete {
	margin-left: 160px;
}

.pure-form.pure-form-aligned .diag-loading{
	width: 100%;
}

.diag-loading span.diag-loading-icon {
	margin: 0 auto;
}

div.quicksetup-button-container.inline-btn-right {
	margin-left: 140px;
}

div#cloud-account-0 {
	text-align: right;
}

div#cloud-account-1,
div#cloud-account-2 {
	position: relative;
	padding-right: 85px;
}

div#quicksetup-setup-complete div#cloud-account-2 div#quicksetup-result-text-container {
	width: 700px;
}

div#cloud-account-1 h4.title {
	direction: rtl;
}

div#cloud-account-1 span#cloud-no-internet-note {
	width: 700px;
	line-height: 21px;
}

div#quicksetup-setup-complete div#cloud-account-1 h4.title span.icon,
div#quicksetup-setup-complete div#cloud-account-2 span.icon {
	margin-left: 0;
	right: 20px;
}

div#cloud-account-2 #h4-quicksetup-congratulations {
	line-height: 55px;
}

div#cloud-account-2 p#p-quicksetup-congratulations-info-0 {
	margin-top: 10px;
}

div#cloud-account-2 p.note {
	line-height: 16px;
}

div#diagFailed span#t_sorry.T,
div#diagSucc span#t_success.T {
	margin-left: 0;
	margin-right: 10px;
}

.pure-form #diagFailed span#err_note {
	margin-left: 0;
    margin-right: 70px;
}

/* basic-internet */
#internet_panel h4.map-panel-title,
#router_panel h4.map-panel-title,
#mesh_panel h4.map-panel-title,
#wireless_panel h4.map-panel-title,
#wire_panel h4.map-panel-title,
#secondConn_panel h4.map-panel-title,
#phone_panel h4.map-panel-title,
#usb_panel h4.map-panel-title,
#printer_panel h4.map-panel-title,
#lan_panel h4.map-panel-title,
#sms_panel h4.map-panel-title,
#lte_panel h4.map-panel-title{
	text-align: right;
}



#main div.header-container {
	text-align: right;
}

.tp-select div.select-icon-container{
	left: 5px;
	right: auto;
}

/* basic-guest */
div.widget-error-tips span.widget-error-tips-delta {
	right: 30px;
	left: auto;
}

/* advanced-status */
div.map-panel-cnt .pure-g div.status-panel-main {
	padding: 10px 22px 40px 0;
}

/* advanced-network */
#divMacClone label.radio-label {
	text-align: right;
}

#static_route_mode.mode-change {
	left: 0;
	text-align: left;
}

textarea#inputContent {
	resize: none;
}

#contentRestrictionArea div.button-container {
	margin-top: 20px;
}

/* advanced-qos */
#database-form div.file-container div.file-button-container {
	margin-right: 4px;
}

#database-form div.widget-container div.widget-fieldlabel-wrap {
	text-align: right;
}

/* upgrade */
form#softup-online .button-container form.pure-form {
	position: relative;
}

form#softup-online .button-container form.pure-form span.button-err-text {
	position: absolute;
	top: 6px;
	right: 147px;
}

form#softup-local div.widget-container div.widget-fieldlabel-wrap,
form#reConf div.widget-container div.widget-fieldlabel-wrap {
	text-align: right;
}

form#softup-local div.file-container div.button-container,
form#reConf div.file-container div.button-container {
	margin-right: 4px;
}

/* manager control */
#pwdCheck.manageCtrl-psw-check.secLevel {
	padding-right: 223px;
	padding-left: 0;
}

/* oneMesh */
div#device-detail-msg-container.msg-container div.msg-btn-container {
	margin-right: 0;
	margin-left: 38px;
	text-align: left;
}

#device-detail-msg-container .modal-wrapper {
	position: relative;
}

button#remove-device-btn {
	margin-top: 0;
	bottom: 19px;
	right: 32px;
}
/* oneMesh end */

/* wirelessSettings */
.content-container div.mode-change {
    left: 0;
}