#logo
{
	width: 505px;
	margin: 0 auto;
	text-align: center;
}
#pgtitle
{
	margin: 0px 0px 20px;
	font-size: 18pt;
	color: #09427F;
}
#container
{
	width: 500px;
	margin: 0 auto;
	height: 400px;
	overflow: scroll;
}
#selected_file
{
	width: 500px;
	margin: 2px auto;
	font-size: 15px;
	font-family: sans-serif;
}
UL.filetree
{
	font-family: Verdana, sans-serif;
	font-size: 14px;
	line-height: 33px;
	padding: 0px;
	margin: 0px;
}
UL.filetree LI
{
	list-style: none;
	padding: 0px 0px 0px 20px;
	margin: 0px 0px 0px 10px;
	white-space: nowrap;
}
UL.filetree A
{
	color: #333;
	text-decoration: none;
	display: block;
	padding: 0px 2px 0px 5px;
	margin-left: 15px;
}
UL.filetree A:hover
{
	background: #BDF;
}
/*folder styles*/
.filetree LI.folder
{
	background: url(/images/folder.png) no-repeat left top;
}
.filetree LI.expanded
{
	background: url(/images/folder_open.png) no-repeat left top;
}
.selected
{
	background-color: #BDF;
}
.filetree LI.file
{
	background: url(/images/file.png) no-repeat left top;
}
.filetree LI.wait
{
	background: url(/images/spinner.gif) no-repeat left top;
}
/*extensions and mime types*/

.filetree LI.root
{
	background: url(/images/db.png) no-repeat left top;
}

.filetree UL
{
	border-left: 1px solid #D9DADB;
	padding-left: 10px;
}
.filetree LI UL LI:before
{
	margin-left: -40px;
	content: "\2014";
	position: absolute;
}
.filetree LI UL LI
{
	position: relative;
}
