client
dev tap
[PROTO_TYPE]
[IP_PORT]
dev-node NETGEAR-VPN
resolv-retry infinite
nobind
persist-key
persist-tun

ca ca.crt
cert rax-client.crt
key rax-client.key

cipher AES-128-CBC

comp-lzo

verb 5

