div.top-nav {
    margin: 36px 0 0 20px;
    width: 550px;
}
#top-con div.top-nav ul li span {
    /*min-width: 125px;*/
    /*padding: 0 10px;*/
    width: 180px;
}
a.top-btn#topLogout span.text {
    width: 82px;
}

a.top-btn#topLogout {
    width: 84px;
}

a.top-btn#topReboot span.text {
    width: 88px;
}

a.top-btn#topReboot {
    width: 90px;
}
#base-white {
    margin-left: 355px;
}
#con {
    width: 1200px;
}
#menu {
    width: 340px;
}
#menu li.ml1 {
    width: 342px;
}
#main {
    width: 670px;
    left: 360px;
}

button#detect {/* wanBasic.htm, qsEwan.htm */
    width: 180px;
}
button#GetPCTime {/* time.htm */
    width: 180px;
}
button#resetBtn{/* backNRestore.htm */
    width: 260px;
}
button.zone{
		width: 260px;
}
button#t_testInternet{
	width: 200px;
}
button#view{/* virtualserver.htm */
    width: 205px;
}
button#t_view{/* portTrigger.htm */
    width: 205px;
}
button#t_viewdev /* parentCtrl.htm */
{
	width:210px;
}

/* time.htm */
.pure-form-aligned .pure-control-group label.label-title.s {
  width: 110px;
}
.select-title.xxxs {
  width: 114px;
}

button#conn /* ethWan.htm */
{
	width:120px;
}
button#conn2 /* ethWan.htm */
{
	width:120px;
}
button#disConn /* ethWan.htm */
{
	width:120px;
}
button#disConn2 /* ethWan.htm */
{
	width:120px;
}