@charset "utf-8";
input#t_list.button
{
	width:220px;
	background:url("../img/button220_normal.png") !important;
}
input#t_list.button:hover
{
	background:url("../img/button220_focus.png") !important;
}
input#t_list.button:disabled
{
	background:url("../img/button220_disable.png") !important;
}

b.T_wanmac, b.T_pcmac
{
	width:22% !important;
	min-width:160px !important;
}
input#defmac.button, input#clonemac.button
{
	width:320px;
	background:url("../img/button320_normal.png") !important;
}
input#defmac.button:hover, input#clonemac.button:hover
{
	background:url("../img/button320_focus.png") !important;
}
input#defmac.button:disabled, input#clonemac.button:disabled
{
	background:url("../img/button320_disable.png") !important;
}

input.button.T_addnew, input.button.T_ensel, input.button.T_dissel, input.button.T_delsel
{
	width:170px;
	margin-bottom:8px;
	background:url("../img/button170_normal.png") !important;
}
input.button.T_addnew:hover, input.button.T_ensel:hover, input.button.T_dissel:hover, input.button.T_delsel:hover
{
	background:url("../img/button170_focus.png") !important;
}
input.button.T_addnew:disabled, input.button.T_ensel:disabled, input.button.T_dissel:disabled, input.button.T_delsel:disabled
{
	background:url("../img/button170_disable.png") !important;
}

input#t_copy1.button
{
	width:190px;
	background:url("../img/button190_normal.png") !important;
}
input#t_copy1.button:hover
{
	background:url("../img/button190_focus.png") !important;
}
input#t_copy1.button:disabled
{
	background:url("../img/button190_disable.png") !important;
}

/*ethIptv*/
#ispService b{
	font-weight: bold;
}
#ispService p .vid
{
	font-weight: bold;
}

#div_serv_internet b.vid, #div_serv_ipphone b.vid, #div_serv_multicast b.vid  {
	position: relative;
	top: 9px;
}

#internet_vlanid, #ipphone_vlanid, #multicast_vlanid {
	position: relative;
	top: -8px;
}
#div_serv_iptv b.vid  {
	position: relative;
	top: 5px;
}
#iptv_vlanid {
	position: relative;
	top: 2px;
}

#div_serv_internet b.vpri, #div_serv_ipphone b.vpri, #div_serv_iptv b.vpri, #div_serv_multicast b.vpri {
}

#internet_vlanprio, #ipphone_vlanprio, #multicast_vlanprio {
	position: relative;
	top: -9px;
}

#div_serv_internet span.checkbox_face, #div_serv_multicast span.checkbox_face {
	position: relative;
	top: 11px;
}

#div_serv_internet b.tagEnable, #div_serv_multicast b.vlanEnable {
	position: relative;
	top: -9px;
}
