@charset "utf-8";
input#t_list.button
{
	width:220px;
	background:url("../img/button220_normal.png") !important;
}
input#t_list.button:hover
{
	background:url("../img/button220_focus.png") !important;
}
input#t_list.button:disabled
{
	background:url("../img/button220_disable.png") !important;
}


input.button.T_addnew, input.button.T_ensel, input.button.T_dissel, input.button.T_delsel
{
	margin-bottom:8px;
}
input.button.T_dissel
{
	width:220px;
	background:url("../img/button220_normal.png") !important;
}
input.button.T_dissel:hover
{
	background:url("../img/button220_focus.png") !important;
}
input.button.T_dissel:disabled
{
	background:url("../img/button220_disable.png") !important;
}

input#t_copy1.button
{
	width:162px;
	background: url("../img/buttonXXL-normal.png") !important;
}
input#t_copy1.button:hover
{
	background: url("../img/buttonXXL-focus.png") !important;
}
input#t_copy1.button:disabled
{
	background: url("../img/buttonXXL-disabled.png") !important;
}

/* IPTV CSS */
#div_serv_internet b.vid, #div_serv_ipphone b.vid, #div_serv_iptv b.vid {
	position: relative;
	top: 3px;
}

#internet_vlanid, #ipphonve_vlanid, #iptv_vlanid {
}


#div_serv_internet b.vpri, #div_serv_ipphone b.vpri, #div_serv_iptv b.vpri{
}

#internet_vlanprio, #ipphone_vlanprio, #iptv_vlanprio {
	position: relative;
	top: -2px;
}

#div_serv_internet span.checkbox_face {
	position: relative;
	top: 4px;
}

#div_serv_internet b.tagEnable {
}

#div_serv_multicast b.vid  {
	position: relative;
	top: 9px;
}

#multicast_vlanid {
	position: relative;
	top: -8px;
}

#div_serv_multicast b.vpri {
}

#multicast_vlanprio {
	position: relative;
	top: -9px;
}

#div_serv_multicast span.checkbox_face {
	position: relative;
	top: 11px;
}

#div_serv_multicast b.vlanEnable {
	position: relative;
	top: -9px;
}
