@charset "utf-8";
/* IPTV CSS */
#div_serv_internet b.vid, #div_serv_ipphone b.vid, #div_serv_iptv b.vid {
	position: relative;
	top: 3px;
}

#internet_vlanid, #ipphonve_vlanid, #iptv_vlanid {
}


#div_serv_internet b.vpri, #div_serv_ipphone b.vpri, #div_serv_iptv b.vpri{
}

#internet_vlanprio, #ipphone_vlanprio, #iptv_vlanprio {
	position: relative;
	top: -2px;
}

#div_serv_internet span.checkbox_face {
	position: relative;
	top: 4px;
}

#div_serv_internet b.tagEnable {
}

#div_serv_multicast b.vid  {
	position: relative;
	top: 9px;
}

#multicast_vlanid {
	position: relative;
	top: -8px;
}

#div_serv_multicast b.vpri {
}

#multicast_vlanprio {
	position: relative;
	top: -9px;
}

#div_serv_multicast span.checkbox_face {
	position: relative;
	top: 11px;
}

#div_serv_multicast b.vlanEnable {
	position: relative;
	top: -9px;
}
