HTML {
	FONT-SIZE: 12px; FONT-FAMILY: Tahoma, Helvetica, Geneva, Arial, sans-serif
}
BODY {
	FONT-SIZE: 12px; FONT-FAMILY: Tahoma, Helvetica, Geneva, Arial, sans-serif
}
DIV {
	FONT-SIZE: 12px; FONT-FAMILY: Tahoma, Helvetica, Geneva, Arial, sans-serif
}
H1 {
	FONT-SIZE: 12px; FONT-FAMILY: Tahoma, Helvetica, Geneva, Arial, sans-serif
}
H2 {
	FONT-SIZE: 12px; FONT-FAMILY: Tahoma, Helvetica, Geneva, Arial, sans-serif
}
H3 {
	FONT-SIZE: 12px; FONT-FAMILY: Tahoma, Helvetica, Geneva, Arial, sans-serif
}
H4 {
	FONT-SIZE: 12px; FONT-FAMILY: Tahoma, Helvetica, Geneva, Arial, sans-serif
}
P {
	FONT-SIZE: 12px; FONT-FAMILY: Tahoma, Helvetica, Geneva, Arial, sans-serif
}
UL {
	FONT-SIZE: 12px; FONT-FAMILY: Tahoma, Helvetica, Geneva, Arial, sans-serif
}
OL {
	FONT-SIZE: 12px; FONT-FAMILY: Tahoma, Helvetica, Geneva, Arial, sans-serif
}
LI {
	FONT-SIZE: 12px; FONT-FAMILY: Tahoma, Helvetica, Geneva, Arial, sans-serif
}
DL {
	FONT-SIZE: 12px; FONT-FAMILY: Tahoma, Helvetica, Geneva, Arial, sans-serif
}
DT {
	FONT-SIZE: 12px; FONT-FAMILY: Tahoma, Helvetica, Geneva, Arial, sans-serif
}
DD {
	FONT-SIZE: 12px; FONT-FAMILY: Tahoma, Helvetica, Geneva, Arial, sans-serif
}
TD {
	FONT-SIZE: 12px; FONT-FAMILY: Tahoma, Helvetica, Geneva, Arial, sans-serif
}
TH {
	FONT-SIZE: 12px; FONT-FAMILY: Tahoma, Helvetica, Geneva, Arial, sans-serif
}
INPUT {
	FONT-SIZE: 11px; FONT-FAMILY: Tahoma, Helvetica, Geneva, Arial, sans-serif
}
SELECT {
	FONT-SIZE: 11px; FONT-FAMILY: Tahoma, Helvetica, Geneva, Arial, sans-serif
}
TEXTAREA {
	FONT-SIZE: 11px; FONT-FAMILY: Tahoma, Helvetica, Geneva, Arial, sans-serif
}
INPUT {
	FONT-SIZE: 11px; FONT-FAMILY: Tahoma, Helvetica, Geneva, Arial, sans-serif
}
SELECT {
	FONT-SIZE: 11px; FONT-FAMILY: Tahoma, Helvetica, Geneva, Arial, sans-serif
}
TEXTAREA {
	FONT-SIZE: 11px; FONT-FAMILY: Tahoma, Helvetica, Geneva, Arial, sans-serif
}
BODY {
	MARGIN: 1px 0px auto; BACKGROUND-COLOR: #757575
}
B {
	FONT-SIZE: 12px; COLOR: #0a89a1
}
#header_container {
	BORDER-RIGHT: #f3f3f3 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #f3f3f3 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; BORDER-LEFT: #f3f3f3 1px solid; WIDTH: 100%; COLOR: white; PADDING-TOP: 5px; BORDER-BOTTOM: #f3f3f3 0px; HEIGHT: 20px; BACKGROUND-COLOR: #404343
}
#header_container TD {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; WHITE-SPACE: nowrap
}
#header_container A:link {
	FONT-SIZE: 11px; COLOR: #f3f3f3; TEXT-DECORATION: underline
}
#header_container A:visited {
	FONT-SIZE: 11px; COLOR: #f3f3f3; TEXT-DECORATION: underline
}
#copyright {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 11px; PADDING-BOTTOM: 10px; MARGIN: 0px auto; COLOR: #f3f3f3; PADDING-TOP: 10px; TEXT-ALIGN: center
}
#header_container A:active {
	FONT-SIZE: 11px; COLOR: #f3f3f3; TEXT-DECORATION: underline
}
#header_container A:hover {
	FONT-SIZE: 11px; COLOR: #f3f3f3; TEXT-DECORATION: underline
}
#masthead_container {
	BORDER-RIGHT: #f3f3f3 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #f3f3f3 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #f3f3f3 1px solid; WIDTH: 100%; PADDING-TOP: 0px; BORDER-BOTTOM: #f3f3f3 0px; BACKGROUND-COLOR: #404343
}
#masthead_container TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND-IMAGE: url(img_bg_masthead.gif); PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BACKGROUND-REPEAT: repeat; TEXT-ALIGN: right
}
#topnav_container {
	WIDTH: 842px;PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BACKGROUND-COLOR: #f3f3f3; 
}
#topnav_container TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; BACKGROUND-COLOR: #f3f3f3
}
#topnav_container #modnum {
	WIDTH: 125px; border-style: solid; border-width: 1px 1px 1px 1px; BORDER-RIGHT-COLOR:#ffffff;
}
#topnav_container2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; PADDING-TOP: 0px; BACKGROUND-COLOR: #ffffff
}
#topnav_container2 TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; BACKGROUND-COLOR: #f3f3f3;
}
#topnav_container2 #modnum {
	WIDTH: 125px; border-style: solid; border-width: 1px 1px 1px 1px; BORDER-COLOR:#ffffff; 
}
.topnavon {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; BORDER-LEFT-COLOR: #ffffff; BORDER-BOTTOM-COLOR: #f3f3f3;  BORDER-TOP-COLOR: #ffffff; LETTER-SPACING: 1px; BORDER-RIGHT-COLOR: #ffffff; border-style: solid;
}
.topnavon A:link {
	PADDING-RIGHT: 4px; DISPLAY: block; PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 5px; COLOR: #404343; PADDING-TOP: 7px; BACKGROUND-COLOR: #0a89a1; TEXT-ALIGN: center; TEXT-DECORATION: none;
}
.topnavon A:visited {
	PADDING-RIGHT: 4px; DISPLAY: block; PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 5px; COLOR: #404343; PADDING-TOP: 7px; BACKGROUND-COLOR: #0a89a1; TEXT-ALIGN: center; TEXT-DECORATION: none;
}
.topnavon A:active {
	PADDING-RIGHT: 4px; DISPLAY: block; PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 5px; COLOR: #404343; PADDING-TOP: 7px; BACKGROUND-COLOR: #0a89a1; TEXT-ALIGN: center; TEXT-DECORATION: none;
}
.topnavon A:hover {
	PADDING-RIGHT: 4px; DISPLAY: block; PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 5px; COLOR: #404343; PADDING-TOP: 7px; BACKGROUND-COLOR: #0a89a1; TEXT-ALIGN: center; TEXT-DECORATION: none;
}
.topnavoff{
	BORDER-LEFT-COLOR: #f3f3f3; BORDER-BOTTOM-COLOR: #ffffff; PADDING-BOTTOM: 4px; COLOR: #f3f3f3; BORDER-TOP-COLOR: #f3f3f3; PADDING-TOP: 7px; LETTER-SPACING: 1px; BACKGROUND-COLOR: #404343; TEXT-ALIGN: center; TEXT-DECORATION: none; BORDER-RIGHT-COLOR: #f3f3f3; border-style: solid;
}
.topnavoff A:link {
	PADDING-RIGHT: 2px; DISPLAY: block; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 4px; COLOR: #f3f3f3; PADDING-TOP: 7px; BACKGROUND-COLOR: #404343; TEXT-ALIGN: center; TEXT-DECORATION: none; BORDER-RIGHT-COLOR: #000000; BORDER-LEFT-COLOR: #000000; BORDER-BOTTOM-COLOR: #000000; BORDER-TOP-COLOR: #000000; LETTER-SPACING: 1px; 
}
.topnavoff A:visited {
	PADDING-RIGHT: 2px; DISPLAY: block; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 4px; COLOR: #f3f3f3; PADDING-TOP: 7px; BACKGROUND-COLOR: #404343; TEXT-ALIGN: center; TEXT-DECORATION: none; BORDER-RIGHT-COLOR: #000000; BORDER-LEFT-COLOR: #000000; BORDER-BOTTOM-COLOR: #000000; BORDER-TOP-COLOR: #000000; LETTER-SPACING: 1px; 
}
.topnavoff A:active {
	PADDING-RIGHT: 2px; DISPLAY: block; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 4px; COLOR: #f3f3f3; PADDING-TOP: 7px; BACKGROUND-COLOR: #404343; TEXT-ALIGN: center; TEXT-DECORATION: none; BORDER-RIGHT-COLOR: #000000; BORDER-LEFT-COLOR: #000000; BORDER-BOTTOM-COLOR: #000000; BORDER-TOP-COLOR: #000000; LETTER-SPACING: 1px; 
}
.topnavoff A:hover {
	PADDING-RIGHT: 1px; DISPLAY: block; PADDING-LEFT: 1px; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 4px; COLOR: #404343; PADDING-TOP: 6px; BACKGROUND-COLOR: #f3f3f3; TEXT-ALIGN: center; TEXT-DECORATION: underline; border-style: solid;border-width: 1px 1px 0px 1px;
}
.topnavlower {
	background-color:#404343;
}

#content_container {
	BORDER-RIGHT: #f3f3f3 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #404343 0px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #f3f3f3 1px solid; WIDTH: 100%; PADDING-TOP: 0px; BACKGROUND-COLOR: #f3f3f3; BORDER-BOTTOM-STYLE: none; border-spacing: 0; HEIGHT:450
}
#content_container TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#sidenav_container {
	FONT-SIZE: 12px; BORDER-RIGHT: #f3f3f3 0px solid; BORDER-TOP: #f3f3f3 0px solid; VERTICAL-ALIGN: top; WIDTH: 130px; BORDER-BOTTOM: #f3f3f3 0px solid; BACKGROUND-COLOR: #f3f3f3
}
#sidenav {
	FONT-SIZE: 12px; WIDTH: 130px;
}
#sidenav UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: #f3f3f3 1px solid; BACKGROUND-COLOR: #e0e0e0
}
#sidenav LI {
	BORDER-RIGHT: #f3f3f3 1px solid; BORDER-TOP: #f3f3f3 0px solid; MARGIN-BOTTOM: 1px; BORDER-LEFT: #f3f3f3 1px solid; BORDER-BOTTOM: #f3f3f3 1px solid; LIST-STYLE-TYPE: none; BACKGROUND-COLOR: #e0e0e0
}
#sidenav LI A:link {
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; FONT-WEIGHT: normal; FONT-SIZE: 11px; PADDING-BOTTOM: 5px; COLOR: #000000; PADDING-TOP: 5px; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
#sidenav LI A:visited {
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; FONT-WEIGHT: normal; FONT-SIZE: 11px; PADDING-BOTTOM: 5px; COLOR: #000000; PADDING-TOP: 5px; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
#sidenav LI A:active {
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; FONT-WEIGHT: normal; FONT-SIZE: 11px; PADDING-BOTTOM: 5px; COLOR: #000000; PADDING-TOP: 5px; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
#sidenav LI A:hover {
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; FONT-WEIGHT: normal; FONT-SIZE: 11px; PADDING-BOTTOM: 5px; COLOR: #404343; PADDING-TOP: 5px; BACKGROUND-COLOR: #0a89a1; TEXT-DECORATION: underline
}
#sidenav .sidenavoff {
	FONT-SIZE: 12px; WIDTH: 128px
}
#sidenav .sidenavoff {
	FONT-SIZE: 12px; COLOR: #f3f3f3; BACKGROUND-COLOR: #0a89a1
}
#sidenav .sidenavoff A:link {
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; FONT-WEIGHT: normal; FONT-SIZE: 11px; PADDING-BOTTOM: 5px; COLOR: #f3f3f3; PADDING-TOP: 5px; BACKGROUND-COLOR: #0a89a1; TEXT-DECORATION: none
}
#sidenav .sidenavoff A:visited {
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; FONT-WEIGHT: normal; FONT-SIZE: 11px; PADDING-BOTTOM: 5px; COLOR: #f3f3f3; PADDING-TOP: 5px; BACKGROUND-COLOR: #0a89a1; TEXT-DECORATION: none
}
#sidenav .sidenavoff A:active {
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; FONT-WEIGHT: normal; FONT-SIZE: 11px; PADDING-BOTTOM: 5px; COLOR: #f3f3f3; PADDING-TOP: 5px; BACKGROUND-COLOR: #0a89a1; TEXT-DECORATION: none
}
#sidenav .sidenavoff A:hover {
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; FONT-WEIGHT: normal; FONT-SIZE: 11px; PADDING-BOTTOM: 5px; COLOR: #f3f3f3; PADDING-TOP: 5px; BACKGROUND-COLOR: #0a89a1; TEXT-DECORATION: none
}

#maincontent_container {
	VERTICAL-ALIGN: top; COLOR: #000000; BACKGROUND-COLOR: #f3f3f3
}
#maincontent {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; COLOR: #000000; PADDING-TOP: 5px; BACKGROUND-COLOR: #f3f3f3
}
#box_header {
	BORDER-RIGHT: #4a4a48 1px solid; BORDER-TOP: #4a4a48 1px solid; BORDER-LEFT: #4a4a48 1px solid; BORDER-BOTTOM: #4a4a48 1px solid; BACKGROUND-COLOR: #e0e0e0;  WIDTH: 100%;
}
#box_header .topheader {
	PADDING-RIGHT: 5px; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 5px; MARGIN: 0px -10px 5px; COLOR: #f3f3f3; PADDING-TOP: 5px; LETTER-SPACING: 1px; BACKGROUND-COLOR: #4a4a48
}
#box_header .topheader b {
   COLOR: #f3f3f3;
}
#box_header .content {
	PADDING-LEFT: 10px; PADDING-TOP: 10px; PADDING-RIGHT: 10px; PADDING-BOTTOM: 10px;
}

#body_header {
	BORDER-RIGHT: #333333 1px solid; BORDER-TOP: #333333 1px solid; BORDER-LEFT: #333333 1px solid; BORDER-BOTTOM: #333333 1px solid; BACKGROUND-COLOR: #ffffff;MARGIN: 5px 0px 0px; WIDTH: 100%;
}
#body_header .topheader{
	PADDING-RIGHT: 5px; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 5px; MARGIN: 0px -10px 5px; COLOR: #f3f3f3; PADDING-TOP: 5px; LETTER-SPACING: 1px; BACKGROUND-COLOR: #404343
}
#body_header .topheader b {
   COLOR: #f3f3f3;
}
#body_header .topheader2{
	PADDING-RIGHT: 5px; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 5px; MARGIN: 0px -10px 5px; COLOR: #f3f3f3; PADDING-TOP: 5px; LETTER-SPACING: 1px; BACKGROUND-COLOR: #404343
}
#body_header .content {
	PADDING-LEFT: 10px; PADDING-TOP: 10px; PADDING-RIGHT: 10px; PADDING-BOTTOM: 10px;
}
#footer_container {
	BORDER-RIGHT: #f3f3f3 1px solid; BORDER-TOP: #f3f3f3 1px solid; BORDER-LEFT: #f3f3f3 1px solid; WIDTH: 100%; COLOR: #f3f3f3; BORDER-BOTTOM: #f3f3f3 0px; HEIGHT: 40px; BACKGROUND-COLOR: #0a89a1
}
#footer_container TD {
	VERTICAL-ALIGN: bottom; TEXT-ALIGN: center
}
#footer_container #leftimage {
	WIDTH: 127px
}


.formarea TR .formradio {
	VERTICAL-ALIGN: top
}
.formarea TD {
	PADDING-RIGHT: 0px! important; PADDING-LEFT: 0px! important; PADDING-BOTTOM: 2px! important; VERTICAL-ALIGN: middle; PADDING-TOP: 2px! important
}
.formarea A:link {
	FONT-SIZE: 11px; COLOR: #666666; BACKGROUND-COLOR: transparent; TEXT-DECORATION: underline
}
.formarea A:visited {
	FONT-SIZE: 11px; COLOR: #666666; BACKGROUND-COLOR: transparent; TEXT-DECORATION: underline
}
.formarea A:active {
	FONT-SIZE: 11px; COLOR: #666666; BACKGROUND-COLOR: transparent; TEXT-DECORATION: underline
}
.formarea A:hover {
	FONT-SIZE: 11px; COLOR: #666666; TEXT-DECORATION: underline
}
.formarea .form_label {
	PADDING-RIGHT: 10px! important; FONT-WEIGHT: bold; WIDTH: 170px; TEXT-ALIGN: right
}
.formarea .form_label0 {
	PADDING-RIGHT: 10px! important; WIDTH: 170px; TEXT-ALIGN: right
}
.formarea .form_label_130PX {
	PADDING-RIGHT: 10px! important; FONT-WEIGHT: bold; WIDTH: 130px; TEXT-ALIGN: right
}
.formarea .form_label_50 {
	PADDING-RIGHT: 10px! important; FONT-WEIGHT: bold; WIDTH: 50%; TEXT-ALIGN: right
}
.formarea .form_label_40 {
	PADDING-RIGHT: 10px! important; FONT-WEIGHT: bold; WIDTH: 40%; TEXT-ALIGN: right
}
.formarea .form_label_25 {
	PADDING-RIGHT: 10px! important; FONT-WEIGHT: bold; WIDTH: 25%; TEXT-ALIGN: right
}
.formarea .form_label_noWidth {
	PADDING-RIGHT: 5px! important; FONT-WEIGHT: bold; TEXT-ALIGN: right
}
.formarea .form_label_30 {
	PADDING-RIGHT: 10px! important; FONT-WEIGHT: bold; WIDTH: 30%; TEXT-ALIGN: right
}
.formarea .form_label_center {
	PADDING-RIGHT: 10px! important; FONT-WEIGHT: bold; WIDTH: 50%; TEXT-ALIGN: center
}
.formarea .form_label_top {
	PADDING-RIGHT: 10px; FONT-WEIGHT: bold; VERTICAL-ALIGN: top; WIDTH: 170px; TEXT-ALIGN: right
}
.formarea .form_label_middle {
	PADDING-RIGHT: 10px; FONT-WEIGHT: bold; VERTICAL-ALIGN: middle; WIDTH: 170px; TEXT-ALIGN: right
}
.formarea .form_label_bottom {
	PADDING-RIGHT: 10px; FONT-WEIGHT: bold; VERTICAL-ALIGN: text-bottom; WIDTH: 170px; TEXT-ALIGN: right
}
.formarea .form_label_radio {
	PADDING-RIGHT: 5px; FONT-WEIGHT: bold; VERTICAL-ALIGN: top; WIDTH: 170px; TEXT-ALIGN: right
}
.formarea .form_label_left {
	PADDING-RIGHT: 8px; FONT-WEIGHT: bold; TEXT-ALIGN: left
}

.formlisting {
	TEXT-ALIGN: left; MARGIN: 10px 0px 0px; WIDTH: 100%; BACKGROUND-COLOR: #e0e0e0; border-spacing: 1px; empty-cells: show
}
.formlisting TH {
	BORDER-RIGHT: white 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: white 1px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 4px; VERTICAL-ALIGN: middle; BORDER-LEFT: white 1px solid; WIDTH: auto; PADDING-TOP: 2px; BORDER-BOTTOM: white 1px solid; BACKGROUND-COLOR: #e0e0e0; TEXT-ALIGN: left
}
.formlisting TD {
	BORDER-RIGHT: white 1px solid; PADDING-RIGHT: 1px! important; BORDER-TOP: white 1px solid; PADDING-LEFT: 1px! important; PADDING-BOTTOM: 1px! important; VERTICAL-ALIGN: middle; BORDER-LEFT: white 1px solid; WIDTH: auto; PADDING-TOP: 1px! important; BORDER-BOTTOM: white 1px solid; BACKGROUND-COLOR: #e0e0e0;	
}
.form_label_row {
	TEXT-ALIGN: center
}
.form_label_col
{
    FONT-SIZE: 11px; PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
INPUT {

	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 2px; MARGIN: 0px 5px 0px 0px; PADDING-TOP: 2px; WHITE-SPACE: nowrap
}
.INPUT_no_spacing{
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 0px; PADDING-TOP: 2px; WHITE-SPACE: nowrap
}
.INPUT_rightPlus2{
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 2px 0px 0px; PADDING-TOP: 2px; WHITE-SPACE: nowrap
}
.INPUT_rightMinus1{
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px -1px 0px 0px; PADDING-TOP: 2px; WHITE-SPACE: nowrap
}
.INPUT_lefMinus4{
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px -4px; PADDING-TOP: 2px; WHITE-SPACE: nowrap
}

#sidehelp_container {
	VERTICAL-ALIGN: top; WIDTH: 155px; COLOR: #f3f3f3; BACKGROUND-COLOR: #404343
}
#help_text {
	FONT-SIZE: 11px; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 11px; PADDING-BOTTOM: 5px; COLOR: #f3f3f3; PADDING-TOP: 5px; BACKGROUND-COLOR: #404343
}
#help_text B{
    FONT-SIZE: 14px;
}
#help_text A:link {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #0a89a1; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
#help_text A:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #0a89a1; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
#help_text A:active {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #0a89a1; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
#help_text A:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #404343; BACKGROUND-COLOR: #0a89a1; TEXT-DECORATION: underline
}
DT {
	MARGIN-TOP: 5px; FONT-WEIGHT: bold; MARGIN-BOTTOM: 5px
}
DD {
	MARGIN-TOP: 5px; MARGIN-BOTTOM: 5px; MARGIN-LEFT: 0px
}
DD P {
	MARGIN-TOP: 5px; MARGIN-BOTTOM: 5px
}
DD DL {
	MARGIN-LEFT: 30px
}
SPAN.button_ref {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 9px; PADDING-BOTTOM: 0px; MARGIN: 0px 2px; COLOR: #111111; LINE-HEIGHT: 12px; PADDING-TOP: 0px; WHITE-SPACE: nowrap; BACKGROUND-COLOR: #99ccee
}
.help_example DL {
	BORDER-RIGHT: gray 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: gray 1px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 0px; BORDER-LEFT: gray 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: gray 1px solid; BACKGROUND-COLOR: #e0e0e0
}


#popitmenu{
position: absolute;
background-color: #404343;
border:1px solid black;
z-index: 100;
visibility: hidden;
}
