@font-face {
	font-family: 'AvenirNextLTProBold5182';
	src: url('../font/Avenir-Next-LT-Pro-Bold_5182.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
html, body {
	margin: 0;
	border:none;
	background-color:transparent;
}
body {
	background-color: #ffffff;
	overflow:auto;
}
#logo {
	width: 512px;
	height: 60px;
	background-image: url(../image/top/NETGEAR_Genie.png);
	position: absolute;
	left : 20px;
	top: 0px;
}

/*
#router-name{position:absolute; right: 0px; top: 0px; font-family: Arial; font-size: 24px; font-weight: Bold; color: #6E2585; text-align: left; }
*/
#router-name {
	position:absolute;
	right: 20px;
	top: 0px;
	font-family: AvenirNextLTProBold5182;
	font-size: 26px;
	color: #6E2585;
	text-align: left;
}
#labels {
	position:absolute;
	left: 20px;
	top: 67px;
	height:30px;
}
#labels #space_label {
	width:3px;
	height:inherit;
	float:left;
}
.label_click {
	width: 120px;
	height: 30px;
	float:left;
	text-align: center;
	background-image:url(../image/top/label_click.gif);
	background-repeat: no-repeat;
	font-family: AvenirNextLTProBold5182;
	font-size: 17px;
}
.label_unclick {
	width: 120px;
	height: 30px;
	float:left;
	text-align: center;
	background-image:url(../image/top/label_unclick.gif);
	background-repeat: no-repeat;
	font-family: AvenirNextLTProBold5182;
	font-size: 17px;
	cursor:pointer;
}
.label_click b, .label_unclick b {
	position: relative;
	top:5px;
}
.label_click_middle {
	width: 160px;
	height: 30px;
	float:left;
	text-align: center;
	background-image:url(../image/top/label_click_middle.gif);
	background-repeat: no-repeat;
	font-family: AvenirNextLTProBold5182;
	font-size: 17px;
}
.label_unclick_middle {
	width: 160px;
	height: 30px;
	float:left;
	text-align: center;
	background-image:url(../image/top/label_unclick_middle.gif);
	background-repeat: no-repeat;
	font-family: AvenirNextLTProBold5182;
	font-size: 17px;
	cursor:pointer;
}
.label_click_middle b, .label_unclick_middle b {
	position: relative;
	top:5px;
}
.label_click_long {
	width: 200px;
	height: 30px;
	float:left;
	text-align: center;
	background-image:url(../image/top/label_click_long.gif);
	background-repeat: no-repeat;
	font-family: AvenirNextLTProBold5182;
	font-size: 17px;
}
.label_unclick_long {
	width: 200px;
	height: 30px;
	float:left;
	text-align: center;
	background-image:url(../image/top/label_unclick_long.gif);
	background-repeat: no-repeat;
	font-family: AvenirNextLTProBold5182;
	font-size: 17px;
	cursor:pointer;
}
.label_click_long b, .label_unclick_long b {
	position: relative;
	top:5px;
}
.label_click_longest {
	width: 220px;
	height: 30px;
	float:left;
	text-align: center;
	background-image:url(../image/top/label_click_longest.gif);
	background-repeat: no-repeat;
	font-family: AvenirNextLTProBold5182;
	font-size: 17px;
}
.label_unclick_longest {
	width: 220px;
	height: 30px;
	float:left;
	text-align: center;
	background-image:url(../image/top/label_unclick_longest.gif);
	background-repeat: no-repeat;
	font-family: AvenirNextLTProBold5182;
	font-size: 17px;
	cursor:pointer;
}
.label_click_longest b, .label_unclick_longest b {
	position: relative;
	top:5px;
}
.sysinfo_bt {
	width: 147px;
	height: 22px;
	background-image: url(../image/ca_purple_long_button.gif);
	background-repeat: no-repeat;
	font-family: Arial;
	font-size: 11px;
	text-align: center;
	color: #ffffff;
	cursor: pointer;
	padding-bottom: 2px;
}
.sysinfo_bt b {
	position: relative;
	top:2px;
}
#firm_version {
	position:absolute;
	right: 20px;
	top: 40px;
	font-family: Arial;
	font-size: 14px;
	font-weight: Bold;
	color: #000000;
	text-align: right;
}
#update_info {
	top: 40px;
	height: 23px;
	position: absolute;
	font-family: Arial;
	font-style: italic;
	font-size: 12px;
	color: #ffffff;
	cursor: pointer;
	display: none;
	right: 250px;
	line-height: 23px;
}
#update_info_left {
	height: 23px;
	width: 24px;
	background: url(../image/top/top_warning_back_left.gif) no-repeat left;
	position: relative;
	float: left;
}
#update_info_middle {
	height: 23px;
	width: auto;
	background: url(../image/top/top_warning_back_middle.gif) repeat-x;
	position: relative;
	float: left;
}
.update_info_down {
	top: 70px;
}
.update_info_up {
	top: 42px;
}
#update_info_right {
	height: 23px;
	width: 10px;
	background: url(../image/top/top_warning_back_right.gif) no-repeat right;
	position: relative;
	float: left;
}
#select_language {
	height: 22px;
	position:absolute;
	right: 20px;
	top: 70px;
	text-align: right;
}
#select_language #language {
	height: 22px;
	text-align: left;
}

.topframe {
	min-width: 820px;
	height: 97px;
	position:absolute;
	top:0px;
	left: 0px;
	right: 0px;
}

.container_center {
	width: 100%;
	height: 100%;
	position: relative;
}


.footer {
	width: 100%;
	height: 43px;
	float: left;
	color: #ffffff;
	position:absolute;
	bottom:0;
}
.footer_double {
	width: 100%;
	height: 86px;
	color: #ffffff;
	position:absolute;
	bottom:0;
}
.footer_img {
	width: 100%;
	height: 100%;
}
.footer b, .footer_double b {
	font: bold 16px arial;
}
.footer a, .footer_double a {
	color: #ffffff;
	font: normal 11px arial;
	text-decoration: none;
}
.footer #support {
	float:left;
	line-height: 42px;
	position: absolute;
	left: 10px;
	top: 0;
}
.footer_double #support {
	line-height: 42px;
	position: absolute;
	left: 10px;
	top: 0;
}
.footer #search {
	float: right;
	position: absolute;
	top: 10px;
	right: 10px;
}
.footer_double #search {
	float: right;
	position: absolute;
	bottom: 10px;
	right: 10px;
}
#footer #search .search_button {
	background: Transparent url(../image/footer/search_button.gif ) no-repeat;
	border: none;
	width:39px;
	height:22px;
	font: bold 14px arial;
	color: #ffffff;
	cursor: pointer;
}
#footer #search .search_button_middle {
	background: Transparent url(../image/footer/search_button_middle.gif ) no-repeat;
	border: none;
	width:65px;
	height:22px;
	font: bold 14px arial;
	color: #ffffff;
	cursor: pointer;
}
#footer #search .search_button_long {
	background: Transparent url(../image/footer/search_button_long.gif ) no-repeat;
	border: none;
	width:95px;
	height:22px;
	font: bold 14px arial;
	color: #ffffff;
	cursor: pointer;
}

.sso_title{
	width:768px;
	background-color: #ffffff;
	text-align: center;
	margin: 0 auto;
	margin-top: 120px;
}
.sso_title div {
	font-size: 18px;
	line-height: 32px;
}
.sso_title div:last-child {
	font-size: 14px;
}
.sso_box{
	/*margin:auto; *//*not work in h*/
	width:768px;
	background-color: #ffffff;
	text-align: center;
	border-color: rgb(50%,50%,50%);
	border-width: 2px;
	padding: 5px;
	border-radius: 5px;
	box-shadow:4px 4px 10px 4px rgba(50%,50%,50%,0.5);
	margin: 0 auto;
	margin-top: 50px;
}



#box_local_login{
	/*position:absolute;
	top:77px;
	left: 60%;
	width:270px;*/
}

#box_internet_firsttime{
	/*position:absolute;
	top:77px;
	left: 60%;*/
}

#box_internet_everlogon{
	/*position:absolute;
	top:137px;
	left: 60%;*/
}

.sso_box_inner{
	/*background: linear-gradient(#ffffff, #e7e7e7);*/
	text-align: center;
	padding: 20px;
	border-color: #f8f8f8;
	border-width: 1px;
	border-radius: 2px;	
}

.sso_box_inner_cell {
	width: auto;
	display: inline-block;
	vertical-align: middle;
	position: relative;
}

.sso_box_inner_cell:first-child, .sso_box_inner_cell:last-child {
	width: 47%
}

.sso_box_inner_obj {
	margin: 10px;
}

.sso_or_bar {
	width: 100%;
	height: 30px;
	background-image: url(../image/sso/or-img-bar.png);
	background-size: 100% 100%; 
	margin: 0;
	padding: 45px 0;
}
.sso_or_circle {
	width: 30px;
	height: 30px;
	background-image: url(../image/sso/or-img-circle.png);
	background-size: 100% 100%; 
	margin:auto;
	text-align: center;
	line-height:30px;
}
/* IE8 not support background-size
.sso_small_help_bt, .sso_small_close_bt{
	background-color: transparent;
	border: none;
	cursor: pointer;
	padding-bottom: 2px;
}

.sso_small_help_bt {
	width: 20px;
	height: 20px;
	background: url(../image/sso/icon-help.png) no-repeat;
	background-size: 100% 100%; 
}

#bgimage {
	width: 100%;
	min-width: 860px;
	min-height:460px;
	background-image: url(../image/sso/BG-Image.png);
	background-size: 100% 100%; 
	position: absolute;
	left : 0px;
	top: 97px;
}

*/

.sso_small_help_bt {
	display: inline-block;
	width: 14px; 
	height:14px; 
	background: url(../image/sso/icon-help.png) no-repeat;
	background-size: 100% 100%;
	cursor: pointer;
	position: relative;
	top: 3px;
	
	/*z-index: -1; /* Ensure div tag stays behind content; -999 might work, too. */
}
.sso_small_help_bt:hover {
	/*background: url(../image/sso/icon-help-hover.png) no-repeat;
	background-size: 100% 100%; 
	cursor: pointer;*/
}

.sso_small_help_bt_img {
	width:16px;
	height:16px;
}

.sso_small_close_bt {
	width: 16px; 
	height:16px; 
	/*z-index: -1; /* Ensure div tag stays behind content; -999 might work, too. */
}

.sso_small_close_bt_img {
	width:16px;
	height:16px;
}

#bgimage {
	width: 100%;
	min-width: 860px;
	min-height:460px;
	position: absolute;
	left : 0px;
	top: 97px;
}

.bgimage_img {
    width:100%;
    height:100%;
}


.sso_box_title{
	font-family: AvenirNextLTProBold5182;
	font-size: 26px;
	color: #2f2f2f;
}

.sso_box_sub_title {
	font-size: 18px;
	line-height: 36px;
}

.sso_apply_bt {
	width: 180px;
	height: 42px;
	color: #f2f2f2;
	font-family: Arial;
	font-weight: Bold;
	font-size: 16px;
	border: none;
	cursor: pointer;
	border-radius: 2.5px;
	background: linear-gradient(180deg, #9ED14D, #87B344);
	box-shadow: 0px 0px 2px rgba(0,0,0,0.12);
	box-shadow: 0px 2px 4px rgba(0,0,0,0.24);
}
.sso_apply_bt.secondary {
	background: linear-gradient(180deg, #9F95EF, #6765A6);
}

.blackBackground {
	position:			fixed !important;  
	_position:			absolute !important; 
	height:				100%;  
	width:				100%;  
	top:				0;  
	left:				0;  
	border:				1px solid #cecece;  
	z-index:			9997;  
	background: transparent;
}
.popup {
	left: 50%;
	position: absolute;
	text-align: center;
	top: 50px;
	background-color: #ffffff;
	z-index: 9998;
	/*-moz-box-shadow: 0 0 30px #555;
	-webkit-box-shadow: 0 0 30px #555;
	box-shadow: 0 0 30px #555;*/
	padding: 0px;
	width: 444px;
	font-size: 14px;
	line-height: 24px;
	border-color: #ececec;
	border-width: 2px;
	border-radius: 5px;
	border-style: solid;
}

.popup#internet_login_help_popup {
	left: 50%;
	top: -100%;
}

.popup#internet_create_help_popup {
	left: 53%;
	top: -100%;
}
.popup#internet_everlogon_login_help_popup {
	left: 50%;
	top: -15%;
}

.popup_title_area{
	margin: 0;
	background-color: #f4f8f9;
	width: 100%;
	height: 50px;
	border-color: #eff2f3;
	border-width: 2px;
	border-top-left-radius: 5px;	
	border-top-right-radius: 5px;	

}


.popup_title{
	margin:auto;
	line-height:50px;
	font-family: AvenirNextLTProBold5182;
	font-size: 16px;
	color: #2f2f2f;
	overflow: hidden;
	float: left;
	margin-left: 16px;
}

.popup_title_close_bt{
	margin:16px;
	float: right;
}

.popup_details{
	padding: 26px;
	text-align: left;

}
.popup_icon {
	background: url(../image/sso/icon-down.png) no-repeat;
	background-size: 32px auto;
	position: absolute;
	width: 32px;
	height: 16px;
	left: 93px;
}

.popup#internet_login_help_popup .popup_icon {
	left: 93px;
}

.popup#internet_create_help_popup .popup_icon {
	left: 81px;
}

.popup#internet_everlogon_login_help_popup .popup_icon {
	left: 93px;
}

.local_login_row{
	padding: 2px;
	font-size: 13px;
	margin: 0;
	color:  #9d9d9d;
	text-align: left;
}
.local_login_line{
	border-top: 1px solid #acacac;
	height:5px;
}

.local_login_c1{
}
.local_login_c2{
	width: 100%;
	background: transparent;
	/*border: none;*/
	border-radius:5px;
}
