#usb_labels{height:30px; display:block; position: absolute; padding:3px;}
#usb_labels #space_label{ width:5px; height:30px; float:left; }
#basic_label{border:1px solid; border-bottom-color:#e5e5e5;}
#advanced_label{border:1px solid; border-bottom-color:#e5e5e5;}

.label_click{width: 120px; height: 30px; float:left; text-align: center;  background-image:url(../image/top/label_click.gif); background-repeat: no-repeat; font-family: Arial; font-size: 17px; font-weight: Bold; }
.label_unclick{ width: 120px; height: 30px; float:left; text-align: center;  background-image:url(../image/top/label_unclick.gif); background-repeat: no-repeat; font-family: Arial; font-size: 17px; font-weight: Bold; cursor:pointer; }
.label_click b, .label_unclick b { position: relative; top:5px; }


