#top-con {
    /*width: 1080px;*/
}
div.top-nav ul li span {
    min-width: 160px;
}
#top-product {
    margin-left: 0;
    width: 185px;
}

#base-white {
    margin-left: 300px;
}
#con {
    width: 1000px;
}
#menu {
    width: 288px;
}
#menu li.ml1 {
    width: 290px;
}
#main {
    /* width: 670px; */
    left: 300px;
}

a.top-btn#topLogout {
    width: 60px;
}
a.top-btn#topReboot {
    width: 60px;
}
div.map-router-tip {
    right: -95px;
    width: 180px;
}
div.mode-change span.first-mode, div.mode-change span.second-mode,  div.mode-change span.third-mode{
    padding: 3px 1px;
    font-size: 10px;
}

button#resetBtn{/* backNRestore.htm */
    width: 300px;
}

/* iptv.htm */
.checkbox-label[for="iptvQtagEn"] span.text {
	width: 50px !important;
	display: inline-block;
	line-height: 14px !important;
}
button#view{/* virtualserver.htm */
    width:160px;
    height: 42px;

}
button#t_view{/* portTrigger.htm */
   	width:160px;
    height: 42px;

}
button#t_viewdev /* parentCtrl.htm */
{
	width:190px;
}
