#top-con {
    /*width: 1080px;*/
}
/* iptv.htm */
.checkbox-label[for="iptvQtagEn"] span.text {
	width: 50px !important;
	display: inline-block;
	line-height: 14px !important;
}

button#detect {/* wanBasic.htm, qsEwan.htm */
    width: 120px;
}