<html>
<head>
<title>stats Help</title>
<style type="text/css" id="mtmsheet">
</style>
<meta charset="UTF-8">
</head>
<body>
<p><font size=2><b><% multilang("STATISTICS Help"); %></b></p>
<p><font size=2><b><% multilang("Interface"); %>:</b> <% multilang("Wireless LAN, Ethernet LAN and Ethernet WAN"); %></p>
<p><font size=2><b><% multilang("Sent Packets"); %>:</b> <% multilang("The number of packets transmitted per second at the specified Packets Statistics interval."); %></p>
<p><font size=2><b><% multilang("Received Packets"); %>:</b> <% multilang("The number of packets received per second at the specified Packets Statistics interval."); %></p>

</body>
</html>