<html>
<head>
<title>portfilter6 Help</title>
<style type="text/css" id="mtmsheet">
</style>
<meta charset="UTF-8">
</head>
<body>
<p><font size=2><b><% multilang("PORT FILTERING Help"); %></b></p>
<p><font size=2><b><% multilang("Enable Port Filtering"); %>:</b> <% multilang("Enable or Disable Port Filtering"); %></p>
<p><font size=2><b><% multilang("Enable IPv4"); %>:</b> <% multilang("Enable or Disable IPv4"); %></p>
<p><font size=2><b><% multilang("Enable IPv6"); %>:</b> <% multilang("Enable or Disable IPv6"); %></p>
<p><font size=2><b><% multilang("Port Range"); %>:</b> <% multilang("Configure the Port Range"); %></p>
<p><font size=2><b><% multilang("Protocol"); %>:</b> <% multilang("You can select either Both, TCP, or UDP"); %></p>
<p><font size=2><b><% multilang("Comment"); %>:</b> <% multilang("Enter the Comment"); %></p>

</body>
</html>