<html>
<head>
<title>wladvanced Help</title>
<style type="text/css" id="mtmsheet">
</style>
<meta charset="UTF-8">
</head>
<body>
<p><font size=2><b><% multilang("Wireless Security Setup Help"); %></b></p>
<p><font size=2><b><% multilang("Select SSID"); %>:</b> <% multilang("Select the SSID (Wireless Network Name)"); %></p>
<p><font size=2><b><% multilang("Encryption"); %>:</b> <% multilang("You can select either Disable, WEP, WPA2 or WPA-Mixed."); %></p>
<p><font size=2><b><% multilang("Disable"); %>:</b> <% multilang("The wireless security function can be enabled or disabled. If disabled, the wireless stations will be able to connect the Router without encryption. It is recommended strongly that you choose one of following options to enable security."); %></p>
<p><font size=2><b><% multilang("WPA2-AES"); %>:</b> <% multilang("Select WPA based on pre-shared passphrase. PSK Password - You can enter ASCII or Hexadecimal characters."); %></p>
<p><font size=2><b><% multilang("WPA-Mixed (WPA1-TKIP/AES and WPA2-TKIP/AES)"); %>:</b> <% multilang("Select WPA based on pre-shared passphrase. PSK Password - You can enter ASCII or Hexadecimal characters."); %></p>
<p><font size=2><b><% multilang("802.1x Authentication"); %>:</b> <% multilang("Disable or Enable 802.1x Authentication"); %></p>
<p><font size=2><b><% multilang("Authentication"); %>:</b> <% multilang("You can select either Open System, Shared Key, or Auto"); %></p>
<p><font size=2><b><% multilang("Authentication Mode"); %>:</b> <% multilang("You can select either Enterprise (RADIUS), or Personal (Pre-Shared Key)"); %></p>
<p><font size=2><b><% multilang("WPA2 Cipher Suite"); %>:</b> <% multilang("You can select either TKIP, or AES"); %></p>
<p><font size=2><b><% multilang("Management Frame Protection"); %>:</b> <% multilang("You can select either none, capable, or required"); %></p>
<p><font size=2><b><% multilang("Key Length"); %>:</b> <% multilang("Select the Key Length 64-bit or 128-bit"); %></p>
<p><font size=2><b><% multilang("Key Format"); %>:</b> <% multilang("Select the Key Format ASCII (5 characters), Hex (10 characters), ASCII (13 characters) or Hex (26 characters)"); %></p>
<p><font size=2><b><% multilang("RADIUS Server IP Address"); %>:</b> <% multilang("Enter the IP address of the Radius Server"); %>.</p>
<p><font size=2><b><% multilang("RADIUS Server Port"); %>:</b> <% multilang("Enter the port that Radius Server used."); %></p>
<p><font size=2><b><% multilang("RADIUS Server Password"); %>:</b> <% multilang("Enter the password for the Radius Server."); %></p>
<p><font size=2><b><% multilang("Encryption Key"); %>:</b> <% multilang("Type the Key setting varies depending on the Key Length and Key Format"); %></p>
<p><font size=2><b><% multilang("Pre-Shared Key Format"); %>:</b> <% multilang("Configure the Pre-Shared Key Format to Passphrase or HEX (64 characters)"); %></p>
<p><font size=2><b><% multilang("Pre-Shared Key"); %>:</b> <% multilang("Type the Pre-Shared Key varies depending on the Pre-Shared Key Format"); %></p>

</body>
</html>