<html>
<head>
<title>wlwps Help</title>
<style type="text/css" id="mtmsheet">
</style>
<meta charset="UTF-8">
</head>
<body>
<p><font size=2><b><% multilang("Wi-Fi Protected Setup Help"); %></b></p>
<p><font size=2><b><% multilang("Disable WPS"); %>:</b> <% multilang("Checking this box and clicking 'Save & Apply' will disable Wi-Fi Protected Setup. WPS is turned on by default."); %></p>
<p><font size=2><b><% multilang("WPS Status"); %>:</b> <% multilang("When AP's settings are factory default (out of box), it is set to open security and un-configured state. It will be displayed by 'WPS Status'. If it already shows 'Configured', some registrars such as Vista WCN will not configure AP. Users will need to go to the 'Save/Reload Settings' page and click 'Reset' to reload factory default settings."); %></p>
<p><font size=2><b><% multilang("Self-PIN Number"); %>:</b> "<% multilang("Self-PIN Number' is AP's PIN. Whenever users want to change AP's PIN, they could click 'Regenerate PIN' and then click 'Save & Apply'. Moreover, if users want to make their own PIN, they could enter four digit PIN without checksum and then click 'Save & Apply'. However, this would not be recommended since the registrar side needs to be supported with four digit PIN."); %></p>
<p><font size=2><b><% multilang("Push Button Configuration"); %>:</b> <% multilang("Clicking this button will invoke the PBC method of WPS. It is only used when AP acts as a registrar."); %></p>
<p><font size=2><b><% multilang("STOP WSC"); %>:</b> <% multilang("STOP WSC (Wi-Fi Simple Configuration)"); %></p>
<p><font size=2><b><% multilang("Client PIN Number"); %>:</b> <% multilang("It is only used when users want their station to join AP's network. The length of PIN is limited to four or eight numeric digits. If users enter eight digit PIN with checksum error, there will be a warning message popping up. If users insist on this PIN, AP will take it."); %></p>

</body>
</html>