<html>
<head>
<title>ipv6_wan Help</title>
<style type="text/css" id="mtmsheet">
</style>
<meta charset="UTF-8">
</head>
<body>
<p><font size=2><b><% multilang("IPV6 WAN SETTING Help"); %>:</b></p>
<p><font size=2><b><% multilang("Enable IPv6"); %>:</b> <% multilang("Enable or Disable IPv6"); %></p>
<p><font size=2><b><% multilang("Origin Type"); %>:</b> <% multilang("Configure the Origin Type to AUTO, STATIC or 6RD setting determined by your ISP"); %></p>
<p><font size=2><b><% multilang("WAN Link Type"); %>:</b><% multilang(" Configure the WAN Link Type to Ethernet or PPPoE setting determined by your ISP"); %></p>
<p><font size=2><b><% multilang("Stateless Address Auto Configuration"); %>:</b> <% multilang("It allows the various devices attached to an IPv6 network to connect to the Internet using the Stateless Auto Configuration without requiring any intermediate IP support in the form of a Dynamic Host Configuration Protocol (DHCP) server."); %></p>
<p><font size=2><b><% multilang("Stateful Address Auto Configuration"); %>:</b> <% multilang("Stateful Address Auto Configuration is the IPv6 equivalent of DHCP. A new protocol, called DHCPv6 (and based closely on DHCP), is used to pass out addressing and service information in the same way that DHCP is used in IPv4. This is called 'stateful' because the DHCP server and the client must both maintain state information to keep addresses from conflicting, to handle leases, and to renew addresses over time."); %></p>
<p><font size=2><b><% multilang("DUID"); %>:</b> <% multilang("The DHCP Unique Identifier (DUID) is used by a client to get an IP address from a DHCPv6 server."); %></p>
<p><font size=2><b><% multilang("PD Enable"); %>:</b> <% multilang("DHCPv6 PD (Prefix Delegation) is used to assign a network address prefix and automate configuration and provisioning of the public routable addresses for the network."); %> </p>
<p><font size=2><b><% multilang("Rapid-commit Enable"); %>:</b> <% multilang("Rapid-Commit; is the process (option) in which a Requesting Router (DHCP Client) obtains 'configurable information' (configurable parameters) from a Delegating Router (DHCP Server) by using a rapid DHCPv6 two-message exchange."); %></p>
<p><font size=2><b><% multilang("Configuring DNSv6"); %>:</b> <% multilang("Configure the DNSv6 setting determined by your ISP"); %></p>
<p><font size=2><b><% multilang("Attain DNS Automatically"); %>:</b> <% multilang("Attain DNS Automatically"); %></p>
<p><font size=2><b><% multilang("Set DNS Manually"); %>:</b> <% multilang("Set DNS Manually"); %> </p>
<p><font size=2><b><% multilang("Clone MAC Address"); %>:</b> <% multilang("Most Cable ISPs (Internet Service Provider) register the unique MAC Address from the wired connection on your MAIN COMPUTER - the last computer used to be connected with the Cable Modem and had Internet connection. If you add a router to the network, your ISP may not recognize the MAC address of the router and not allow it to connect. However, the device can 'clone' or replicate the registered MAC address of the MAIN COMPUTER. Then your ISP can release the Internet connection to the router and all the computers."); %></p>
<p><font size=2><b><% multilang("Enable MLD Proxy"); %>:</b> <% multilang("Multicast Listener Discovery (MLD) is a component of the Internet Protocol Version 6 (IPv6) suite. MLD is used by IPv6 routers for discovering multicast listeners on a directly attached link, much like Internet Group Management Protocol (IGMP) is used in IPv4."); %></p>

</body>
</html>