<html>
<head>
<title>radvd Help</title>
<style type="text/css" id="mtmsheet">
</style>
<meta charset="UTF-8">
</head>
<body>
<p><font size=2><b><% multilang("IPV6 RADVD SETTING Help"); %></b></p>
<p><font size=2><b><% multilang("Enable"); %>:</b> <% multilang("Enable or Disable IPV6 RADVD"); %></p>
<p><font size=2><b><% multilang("radvdinterfacename"); %>:</b> <% multilang("Configure the IPV6 RADVD interfacename"); %></p>
<p><font size=2><b><% multilang("MaxRtrAdvInterval"); %>:</b> <% multilang("Configure the IPV6 RADVD Maximum-Advertisement-Retrieve-Interval"); %></p>
<p><font size=2><b><% multilang("MinRtrAdvInterval"); %></b>: <% multilang("Configure the IPV6 RADVD Minimum-Advertisement-Retrieve-Interval"); %></p>
<p><font size=2><b><% multilang("MinDelayBetweenRAs"); %>:</b> <% multilang("Configure the IPV6 RADVD Minimum Delay between Router Advertisements"); %></p>
<p><font size=2><b><% multilang("AdvManagedFlag"); %>:</b> <% multilang("Configure the IPV6 RADVD Advertisement Managed Flag"); %></p>
<p><font size=2><b><% multilang("AdvOtherConfigFlag"); %>:</b> <% multilang("Configure the IPV6 RADVD Advertisement Other Config Flag"); %></p>
<p><font size=2><b><% multilang("AdvLinkMTU"); %>:</b> <% multilang("Configure the IPV6 RADVD Advertisement Link MTU"); %></p>
<p><font size=2><b><% multilang("AdvReachableTime"); %>:</b> <% multilang("Configure the IPV6 RADVD Advertisement Reachable Time"); %></p>
<p><font size=2><b><% multilang("AdvRetransTimer"); %>:</b> <% multilang("Configure the IPV6 RADVD Advertisement Retrans Timer"); %></p>
<p><font size=2><b><% multilang("AdvCurHopLimit"); %>:</b> <% multilang("Configure the IPV6 RADVD Advertisement Cur Hop Limit"); %></p>
<p><font size=2><b><% multilang("AdvDefaultLifetime"); %>:</b> <% multilang("Configure the IPV6 RADVD Advertisement Default Life time"); %></p>
<p><font size=2><b><% multilang("Configure the IPV6 RADVD Advertisement Default Preference"); %>:</b> <% multilang("Configure the IPV6 RADVD Advertisement Default Preference"); %></p>
<p><font size=2><b><% multilang("AdvSourceLLAddress"); %>:</b> <% multilang("Enable or Disable the IPV6 RADVD AdvSourceLLAddress"); %></p>
<p><font size=2><b><% multilang("UnicastOnly"); %>:</b> <% multilang("Enable or Disable the IPV6 RADVD Unicast Only"); %></p>
<p><font size=2><b><% multilang("prefix1, Enabled"); %>:</b> <% multilang("Enable or Disable IPV6 RADVD prefix1"); %></p>
<p><font size=2><b><% multilang("prefix"); %>:</b> <% multilang("Configure the IPV6 IPV6 RADVD prefix1 IP Address and Prefix Length"); %></p>
<p><font size=2><b><% multilang("AdvOnLinkFlag"); %>:</b> <% multilang("Enable or Disable the IPV6 RADVD prefix1 Advertisement on Link Flag"); %></p>
<p><font size=2><b><% multilang("AdvAutonomousFlag"); %>:</b> <% multilang("Enable or Disable the IPV6 RADVD prefix1 AdvAutonomousFlag"); %></p>
<p><font size=2><b><% multilang("AdvValidLifetime"); %>:</b> <% multilang("Enable or Disable the IPV6 RADVD prefix1 Advertisement Valid Life time"); %></p>
<p><font size=2><b><% multilang("AdvPreferredLifetime"); %>:</b> <% multilang("Enable or Disable the IPV6 RADVD prefix1 Advertisement Preferred Life time"); %></p>
<p><font size=2><b><% multilang("AdvRouterAddr"); %>:</b> <% multilang("Enable or Disable the IPV6 RADVD prefix1 Advertisement Router Address"); %></p>
<p><font size=2><b><% multilang("if6to4"); %>:</b> <% multilang("Enable or Disable the IPV6 RADVD prefix1 if6to4 interface"); %></p>
<p><font size=2><b><% multilang("prefix2, Enabled"); %>:</b> <% multilang("Enable or Disable IPV6 RADVD prefix2"); %></p>
<p><font size=2><b><% multilang("prefix"); %>:</b> <% multilang("Configure the IPV6 IPV6 RADVD prefix2 IP Address and Prefix Length"); %></p>
<p><font size=2><b><% multilang("AdvOnLinkFlag"); %>:</b> <% multilang("Enable or Disable the IPV6 RADVD prefix2 Advertisement on Link Flag"); %></p>
<p><font size=2><b><% multilang("AdvAutonomousFlag"); %>:</b> <% multilang("Enable or Disable the IPV6 RADVD prefix2 AdvAutonomousFlag"); %></p>
<p><font size=2><b><% multilang("AdvValidLifetime"); %>:</b> <% multilang("Enable or Disable the IPV6 RADVD prefix2 Advertisement Valid Life time"); %></p>
<p><font size=2><b><% multilang("AdvPreferredLifetime"); %>:</b> <% multilang("Enable or Disable the IPV6 RADVD prefix2 Advertisement Preferred Life time"); %></p>
<p><font size=2><b><% multilang("AdvRouterAddr"); %>:</b> <% multilang("Enable or Disable the IPV6 RADVD prefix2 Advertisement Router Address"); %></p>
<p><font size=2><b><% multilang("if6to4"); %>:</b> <% multilang("Enable or Disable the IPV6 RADVD prefix2 if6to4 interface"); %></p>

</body>
</html>