<html>
<head>
<title>wlsurvey Help</title>
<style type="text/css" id="mtmsheet">
</style>
<meta charset="UTF-8">
</head>
<body>
<p><font size=2><b><% multilang("Wireless Site Survey Help"); %></b></p>
<p><font size=2><b><% multilang("To access the Site Survey settings page"); %>:</b><br>
	1. <% multilang("From the head menu, click on Wlan1."); %><br>
  2. <% multilang("From the left-hand menu, click on Site Survey. The Site Survey page is displayed"); %>:
</p>
<p><font size=2><b><% multilang("Configure Wireless ISP + Wireless client + Site Survey"); %></b><br>
  1. <% multilang("From the head menu, click on SETUP."); %><br>
  2. <% multilang("From the left-hand Operation Mode menu, click on Wireless ISP Settings."); %><br>
  3. <% multilang("Config WAN Interface."); %><br>
  4. <% multilang("Click Save & Apply button."); %><br>
  5. <% multilang("Change setting successfully! Please wait 20 seconds..."); %><br>
  6. <% multilang("From the head menu, click on Wlan1."); %><br>
  7. <% multilang("From the left-hand menu, click on Basic Settings."); %><br>
  8. <% multilang("From the Mode drop-down list, select Client."); %><br>
  9. <% multilang("Enter SSID of the AP that you want to connect to for example AP_2.4G. If you don¡¦t know what the SSID of the AP that you want to connect to, please skip this step."); %><br>
  10. <% multilang("Click Save & Apply button."); %><br>
  11. <% multilang("Please wait 20 seconds ..."); %><br>
  12. <% multilang("From the head menu, click on Wlan1."); %><br>
  13. <% multilang("From the left-hand menu, click on Site Survey."); %><br>
  14. <% multilang("Click Site Survey button."); %><br>
  15. <% multilang("Now you could see the APs that scanned by the Wireless Gateway were listed below."); %><br>
  16. <% multilang("Click on the ratio of AP's SSID under the item Select that you want the Wireless Gateway to connect to."); %><br>
  17. <% multilang("Click Next button."); %><br>
  18. <% multilang("Click Connect button."); %><br>
  19. <% multilang("Please wait..."); %><br>
  20. <% multilang("Check on Add to Wireless Profile."); %><br>
  21. <% multilang("Click Reboot Now button."); %><br>
  22. <% multilang("Change setting successfully! Please wait 20 seconds..."); %>
</p>

</body>
</html>