<html>
<head>
<title>8021q_vlan Help</title>
<style type="text/css" id="mtmsheet">
</style>
<meta charset="UTF-8">
</head>
<body>
<p><font size=2><b><% multilang("802.1Q VLAN Help"); %></b></p>
<p><font size=2><b><% multilang("Enable 802.1Q VLAN"); %>:</b> <% multilang("Enable or Disable 802.1Q VLAN"); %></p>
<p><font size=2><b><% multilang("VLAN ID"); %>(1-4095):</b> <% multilang("Configure the VLAN ID"); %>(1-4095)</p>
<p><font size=2><b><% multilang("Forwarding Rule"); %>:</b> <% multilang("You can select NAT or Bridge"); %></p>
<p><font size=2><b><% multilang("Member"); %>:</b> <% multilang("Enable the checked Port as a Member"); %></p>
<p><font size=2><b><% multilang("Tagged"); %>:</b> <% multilang("Tagged or Untagged the Port"); %></p>

</body>
</html>