<html>
<head>
<title>ddns Help</title>
<style type="text/css" id="mtmsheet">
</style>
<meta charset="UTF-8">
</head>
<body>
<p><font size=2><b><% multilang("DDNS Help"); %></b></p>
<p><font size=2><b><% multilang("Enable DDNS"); %>:</b> <% multilang("Enable or Disable DDNS"); %></p>
<p><font size=2><b><% multilang("Service Provider"); %>:</b> <% multilang("You can select DynDNS or TZO"); %></p>
<p><font size=2><b><% multilang("Domain Name"); %>:</b> <% multilang("Enter the Domain Name"); %></p>
<p><font size=2><b><% multilang("User Name/Email"); %>:</b> <% multilang("Enter the User Name/Email"); %></p>
<p><font size=2><b><% multilang("Password/Key"); %>:</b> <% multilang("Enter the Password/Key"); %></p>

</body>
</html>