@charset "utf-8";
/* CSS Document */


.title1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17pt;
	COLOR: #23659f;
	margin-bottom: 0px;
	margin: 0;
}
.title2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14pt;
	COLOR: #C60000;
}

.banner {background:url(img/banner.jpg) no-repeat }

.banner p {
	margin-lefT: 25px;
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	margin-top: 8px;
}

.body_text {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
}


.icon_links img {
    opacity: 0.2;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}

.icon_blure img {
    opacity: 0.2;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}

.icon_links img:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}


.inner_box {
	background-color: #ededed;
	width: 750px;
	height: 450px;
	border-radius: 25px
}

.sub_inner_box {
	background-color: #ededed;
	width: 750px;
	height: 450px;
	border-radius: 25px
}

.inner_title {font-family:Arial, Helvetica, sans-serif;
	font-size: 15pt;
	margin-bottom: 0px;
	margin: 0;
}

.inner_text {font-family:Arial, Helvetica, sans-serif;
	font-size: 13pt;
	margin-bottom: 0px;
	margin: 0;
}

.inner_subtext {font-family:Arial, Helvetica, sans-serif;
	font-size: 9pt;
	margin-bottom: 0px;
	margin: 0;
}
.subinner_subtext {font-family:Arial, Helvetica, sans-serif;
	font-size: 7pt;
	margin-bottom: 0px;
	margin: 0;
}

.myButton {
	background-color:#ffffff;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #000;
	display:inline-block;
	cursor:pointer;
	color:#000;
	font-family:Arial;
	font-size:16px;
	padding:10px 30px;
	text-decoration:none;
}
.myButton:hover {
	background-color:#adadad; color:#FFF
}
.myButton:active {
	position:relative;
	top:1px;
}
.BluemyButton {
	background-color:#0067A5;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #000;
	display:inline-block;
	cursor:pointer;
	color:#fff;
	font-family:Arial;
	font-size:16px;
	padding:10px 30px;
	text-decoration:none;
}
.BluemyButton:hover {
	background-color:#0049A4; color:#FFF
}
.BluemyButton:active {
	position:relative;
	top:1px;
}

.WlsButton {
	width: 31px;
	height: 31px;
	background-color:#FFFFFF;
	background-image: url(img/wOff.png) ;
	background-repeat: no-repeat;	
	cursor:pointer;
	border-style:none;	
	text-decoration:none;
	
}
.WlsButton:hover {
	background-image: url(img/wOn.png) ;
	background-color:#FFFFFF;
}
.WlsButton:active {
	background-image: url(img/wOn.png) ;
	background-color:#FFFFFF;
}

.input_type_bold {
font-weight:bold;
}




header
{
	font-family: 'Lobster', cursive;
	text-align: center;
	font-size: 25px;	
}

#info
{
	font-size: 18px;
	color: #555;
	text-align: center;
	margin-bottom: 25px;
}

a{
	color: #074E8C;
}

.scrollbar
{
	margin-left: -70px;
	float: left;
	height: 300px;
	width: 650px;
	background: #ffffff;
	overflow-y: scroll;
	margin-bottom: 25px;
}

.force-overflow
{
	min-height: 450px;
}

#wrapper
{
	text-align: center;
	width: 500px;
	margin: auto;
}

/*
 *  STYLE 1
 */

#style-1::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

.inside td {border-bottom:1px solid #000}
