/* wifisharing start */
.wifisharing-container * {
	margin: 0;
	padding: 0;
}
.wifisharing-container a {
	text-decoration: none;
}
.wifisharing-container.hidden,
.wifisharing-container .hidden {
	display: none!important;
}

.wifisharing-container {
	position: relative;
	display: inline-block;
	text-align: left;
}

.wifisharing-container .wifisharing-sharing-btn {
	display: none;
}

.wifisharing-container .wifisharing-main-container {
	display: inline-block;
}

.wifisharing-container .wifisharing-delta-container {
	display: none;
}

.wifisharing-container .wifisharing-main-wrap {
	width: 293px;
	border: 1px solid #d8d8d8;
	border-radius: 5px;
	background-color: #ffffff;
}

.wifisharing-container .wifisharing-content {
	margin: 18px 15px 16px 18px;
}

.wifisharing-container .wifisharing-save-btn-container {
	border-top: 1px solid #d8d8d8;
	text-align: center;
	line-height: 16px;
	padding-top: 7px;
	padding-bottom: 9px;
}

.wifisharing-container .wifisharing-save-btn {
	font-size: 14px;
	color: #4acbd6;
	vertical-align: middle;
}

.wifisharing-container .wifisharing-qrcode-container,
.wifisharing-container .wifisharing-text-container {
	position: relative;
	display: inline-block;
	vertical-align: top;
}

.wifisharing-container .wifisharing-qrcode-container {
	width: 115px;
	line-height: 0;
	border-right: 1px dashed #e5e5e5;
}

.wifisharing-container .wifisharing-qrcode-wrap {
	width: 84px;
	height: 84px;
	display: inline-block;
}

.wifisharing-container .wifisharing-qrcode-wrap > table {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0 !important;
}

.wifisharing-container .wifisharing-text-container {
	width: 132px;
	padding-left: 12px;
	font-size: 12px;
	line-height: 14px;
}

.wifisharing-container .wifisharing-text-container .wifisharing-password-container {
	margin-top: 12px;
}

.wifisharing-container .wifisharing-text-container .wifisharing-no-password-content {
	margin-top: 30px;
}

.wifisharing-container .wifisharing-text-container p {
	width: auto;
	min-width: auto;
	text-align: left;
	display: block;
	white-space: normal;
	word-break: break-all;
	color: #36444b;
}

.wifisharing-container .wifisharing-text-container .wifisharing-ssid-label,
.wifisharing-container .wifisharing-text-container .wifisharing-password-label {
	margin-bottom: 6px;
}

.wifisharing-container .wifisharing-checkbox-container {
	position: absolute;
	top: 0;
}

.wifisharing-container .wifisharing-qrcode-checkbox-container {
	right: 12px;
}

.wifisharing-container .wifisharing-text-checkbox-container {
	right: 0;
}

.wifisharing-container label.wifisharing-checkbox-label {
	width: auto;
	padding: 0;
	display: inline-block;
	line-height: 22px;
	cursor: pointer;
}

/*.wifisharing-container label.wifisharing-checkbox-label .icon {
	background-position: -128px -21px;
	width: 14px;
	height: 14px;
	background: url(../img/icons.png) no-repeat -141px -1px;
	display: inline-block;
}

.wifisharing-container label.wifisharing-checkbox-label:hover .icon {
	background-position: -45px -1px;
}

.wifisharing-container label.wifisharing-checkbox-label.checked .icon,
.wifisharing-container label.wifisharing-checkbox-label.checked:hover .icon {
	background-position: -173px -1px;
}*/

.wifisharing-container .wifisharing-sharing-btn-container.disabled .wifisharing-sharing-btn,
.wifisharing-container .wifisharing-text-container.disabled p,
.wifisharing-container .wifisharing-save-btn-container.disabled .wifisharing-save-btn {
	color: #a7a9ac;
	cursor: default;
}

/* wifisharing popup style */
.wifisharing-container.popup .wifisharing-sharing-btn {
	padding: 2px 8px;
	line-height: 22px;
	cursor: pointer;
	color: #4acbd6;
	display: inline-block;
}

.wifisharing-container.popup .wifisharing-main-container {
	position: absolute;
	right: -86.5px;
	z-index: 1000;
	display: none;
}

.wifisharing-container.popup .wifisharing-delta-container {
	position: absolute;
	top: 1px;
	left: 139.5px;
	width: 16px;
	height: 8px;
	display: inline-block;
}

.wifisharing-container .wifisharing-delta-container:before,
.wifisharing-container .wifisharing-delta-container:after {
	position: absolute;
	content: '';
	border-top: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
}

.wifisharing-container .wifisharing-delta-container:before {
	top: -1px;
	border-bottom: 8px solid #d8d8d8;
}

.wifisharing-container .wifisharing-delta-container:after {
	top: 0;
	border-bottom: 8px solid #ffffff;
}

.wifisharing-container.popup .wifisharing-main-wrap {
	margin-top: 8px;
}

/* wireless-enable-container */

.wireless-enable-container {
	position: relative;
}

.qrcode-save-container {
	margin-top: 60px;
}

.qrcode-save-container .qrcode-save-introduction {
	width: 664px;
	margin: 0 auto 18px;
	text-align: center;
	line-height: 18px;
}

.qrcode-save-container .qrcode-list-container {
	font-size: 0;
	display: table;
	margin: 0 auto;
}

.qrcode-save-container .wifisharing-container+.wifisharing-container {
	margin-left: 20px;
}

.wifisharing-outer .checkbox-group-container label.checkbox-label {
	width: 164px;
}

/* wifisharing end */
