body{font-family:Tahoma;margin:0; padding:0;}
a:link{text-decoration:none; color:#344b57;font-weight:bold;  font-size:12px;}   
a:visited{text-decoration:none; color:#344b57;font-weight:bold;  font-size:12px;}   
a:hover{text-decoration:underline; color:#344b57; font-weight:bold; font-size:12px;}  

.top_left{background:url(top.png) no-repeat left;width:250px;height:66px;}
.top_right{background:url(topbg.png) repeat-x center;height:66px; font-size:12px;}
.top_wizard {padding-top:20px;}

.login_table { border:1px solid #CCCCCC}
.login_label { font-size:12px;}
.login_input { width:140px;}
.login_button { width:90px; font-size:12px;}



