a.top-btn#topLogout span.text {
    width: 80px;
}

a.top-btn#topLogout {
    width: 82px;
}

button.it-xxxl, button.xl.it-xxxl {
    width: 250px;
}
.select-title.xxxs.it-xxs {
    width: 115px;
}
.xxxl.it-xxxl .tp-select {
    width: 520px;
}
.xxxl.it-xxxl .select-icon {
    margin: 6px 0 0 516px;
}
.pure-form-aligned .pure-control-group label.label-title.s.it-xxs {
    width: 111px;
}

button#detect {/* wanBasic.htm, qsEwan.htm */
    width: 160px;
}
button#resetBtn{/* backNRestore.htm */
    width: 150px;
}
button#factoryBtn{/* backNRestore.htm */
    width: 270px;
}
table#table-virtual button#view{/* virtualserver.htm */
    white-space: normal;
    width: 165px;
    height: 42px;
}
table#table-triggering button#t_view{/* portTrigger.htm */
    white-space: normal;
    width: 165px;
    height: 42px;
}
button#t_viewdev /* parentCtrl.htm */
{
	width:190px;
}
/* for phone */
.top-titleBar-operationContainer a {
    font-size: 0.9rem;
}

/* for phone end */
