#top-con {
    /*width: 1080px;*/
}
div.top-nav ul li span {
    min-width: 160px;
}
#top-product {
    margin-left: 0;
    width: 185px;
}
a.top-btn#topLogout {
    width: 70px;
}
a.top-btn#topReboot {
    width: 80px;
}
#base-white {
    margin-left: 315px;
}

#con {
    width: 1000px;
}
#menu {
    width: 300px;
}
#menu li.ml1 {
    width: 302px;
}
#main {
    width: 670px;
    left: 330px;
}

button#detect {/* wanBasic.htm, qsEwan.htm */
    width: 120px;
}
button#resetBtn{/* backNRestore.htm */
    width: 160px;
}
button#view{/* virtualserver.htm */
    width: 200px;
}
button#t_view{/* portTrigger.htm */
    width: 200px;
}
button#t_viewdev /* parentCtrl.htm */
{
	width:200px;
}
button#disConn /* ethWan.htm */
{
	width:160px;
}
button#disConn2 /* ethWan.htm */
{
	width:160px;
}