#top-con {
    /*width: 1080px;*/
}

button#detect {/* wanBasic.htm, qsEwan.htm */
    width: 120px;
}
button#resetBtn{/* backNRestore.htm */
    width: 150px;
}
button#factoryBtn{/* backNRestore.htm */
    width: 150px;
}
button#view{/* virtualserver.htm */
    width: 200px;
}
button#t_view{/* portTrigger.htm */
    width: 200px;
}
button#t_viewdev /* parentCtrl.htm */
{
	width:200px;
}
button#disConn /* ethWan.htm */
{
	width:160px;
}
button#disConn2 /* ethWan.htm */
{
	width:160px;
}

/*parent control*/
#children-grid .internet-pause-icon .text{
    left: -19px;
}