# create RSA certs - Server

RANDFILE = mini_httpd.rnd

[ req ]
distinguished_name = req_dn
x509_extensions = v3_req
prompt 	=no

[ req_dn ]
countryName             = US

stateOrProvinceName     = California

localityName	     = San Jose

organizationName     = NETGEAR

organizationalUnitName = Home Consumer Products

commonName		   = www.routerlogin.net

emailAddress		= support@netgear.com

[ v3_req ]
keyUsage = keyEncipherment,dataEncipherment
extendedKeyUsage = serverAuth
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = www.routerlogin.net
DNS.2 = routerlogin.net
DNS.3 = www.orbilogin.com
DNS.4 = orbilogin.net
DNS.5 = routerlogin.com
DNS.6 = orbilogin.com
DNS.7 = www.routerlogin.com
DNS.8 = www.orbilogin.net

