MX  0   middle  1
CO  1   high    1
BR  0   middle  1
PY  1   high    1
PE  1   high    1
VE  1   high    1
EC  1   high    1
GT  1   high    1
PA  1   high    1
CR  1   high    1
SV  1   high    1
AR  1   high    1
CL  1   high    1
UY  1   high    1
BO  1   high    1
SG  0   middle  1
KR  1   high    1
MY  0   middle  1
ID  1   high    1
TH  0   middle  1
VN  0   middle  1
IN  0   middle  1
SA  0   middle  1
QA  0   middle  1
AE  0   middle  1
KW  0   middle  1
IR  0   middle  1
IQ  1   high    1
SY  1   high    1
EG  0   middle  1
JO  0   middle  1
DZ  0   middle  1
MA  1   high    1
TN  0   middle  1
YE  0   middle  1
LB  1   high    1
ZA  0   middle  1
PK  0   middle  1
BH  0   middle  1
TW  0   middle  1
HK  1   high    1
PH  1   high    1
AU  1   high    1
NZ  1   high    1
IL  0   middle  1
KH  1   high    1
