#top-con {
    /*width: 1080px;*/
}
div.top-nav ul li span {
    min-width: 200px;
}
#top-product {
    margin-left: 0;
    width: 185px;
}

#base-white {
    margin-left: 355px;
}
#con {
    width: 1200px;
}
#menu {
    width: 340px;
}
#menu li.ml1 {
    width: 342px;
}
#main {
    width: 670px;
    left: 360px;
}

button#detect {/* wanBasic.htm, qsEwan.htm */
    width: 160px;
}
button#resetBtn{/* backNRestore.htm */
    width: 270px;
}

button#view{/* virtualserver.htm */
    width: 200px;
}
button#t_view{/* portTrigger.htm */
    width: 200px;
}
button#t_viewdev /* parentCtrl.htm */
{
	width:200px;
}
button#pbcConn_2g /* wps.htm */
{
	width:160px;
}
button#pinConn_2g /* wps.htm */
{
	width:160px;
}
button#conn /* ethWan.htm */
{
	width:160px;
}
button#conn2 /* ethWan.htm */
{
	width:160px;
}

