/*div.top-nav ul li.selected span {
    color: #4D4D4D;
    background: url(../img/ie-05.png) no-repeat 0 -478px;
}*/
div.top-nav ul li {
    position: relative;
}

div.top-nav ul li span.text {
    /*padding: 0 12px 0 12px;*/
    box-sizing: border-box;
    /*margin: 0;*/
}
div.top-nav ul li span.corner-left {
    width: 12px;
    height: 7px;
    position: absolute;
    left: 0;
    top: -1px;
    /*z-index: -1;*/
}
div.top-nav ul li span.corner-right {
    width: 10px;
    height: 7px;
    position: absolute;
    right: 0;
    top:-1px;
    /*z-index: -1;*/
}
.top-btn {
    position: relative;
}
.top-btn span.corner-top-left, .top-btn span.corner-bot-left, .top-btn span.corner-top-right, .top-btn span.corner-bot-right {
    display: none;
}
.top-btn:hover span.corner-top-left, .top-btn:hover span.corner-bot-left, .top-btn:hover span.corner-top-right, .top-btn:hover span.corner-bot-right {
    display: block;
    width: 5px;
    height: 5px;
    position: absolute;
}
.top-btn:hover span.corner-top-left {
    background: url(../img/ie.png) no-repeat  -1px -272px #4acbd6;
    position: absolute;
    left: 0;
    top: 0;
}
.top-btn:hover span.corner-top-right {
    background: url(../img/ie.png) no-repeat  -53px -272px #4acbd6;
    position: absolute;
    right: 0;
    top: 0;
}
.top-btn:hover span.corner-bot-left {
    background: url(../img/ie.png) no-repeat  -1px -317px #4acbd6;
    position: absolute;
    left: 0;
    bottom: 0;
}
.top-btn:hover span.corner-bot-right {
    background: url(../img/ie.png) no-repeat  -53px -317px #4acbd6;
    position: absolute;
    right: 0;
    bottom: 0;
}
div.top-nav ul li.selected span.corner-left, div.top-nav.disabled ul li.selected span.corner-left {
    background: url(../img/ie.png) no-repeat #4acbd6 -1px -78px
}
div.top-nav ul li.selected span.corner-right, div.top-nav.disabled ul li.selected span.corner-right {
    background: url(../img/ie.png) no-repeat #4acbd6 -120px -78px
}

div.top-nav ul li.selected:hover span.corner-left, div.top-nav.disabled ul li.selected:hover span.corner-left {
    background: url(../img/ie.png) no-repeat #4acbd6 -1px -78px
}
div.top-nav ul li.selected:hover span.corner-right, div.top-nav.disabled ul li.selected:hover span.corner-right {
    background: url(../img/ie.png) no-repeat #4acbd6 -120px -78px
}

div.top-nav ul li:hover span.corner-left {
    background: url(../img/ie.png) no-repeat #4acbd6 -132px -77px;
}
div.top-nav ul li:hover span.corner-right {
    background: url(../img/ie.png) no-repeat #4acbd6 -252px -77px;
}
div.top-nav.disabled ul li:hover span.corner-left {
    background: transparent;
}
div.top-nav.disabled ul li:hover span.corner-right {
    background: transparent;
}
#menuTree li.ml1>a {
    background: url(../img/ie.png) no-repeat -191px -122px;
}
#menuTree li.ml1>a.sel {
    background: url(../img/ie.png) no-repeat -0px -174px;
}
#menuTree li.ml1>a.clicked {
    /*background: url(../img/ie.png) no-repeat -0px -174px;*/
}
#menuTree li.ml1 ul a, #menuTree li.ml1 ul a.sel {
    background-color: transparent;
}
#menuTree ul.mu2 {
    left: 1px;
    filter: alpha(opacity=88);
}

#menuTree ul.mu2:after {
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: url(../img/ie.png) no-repeat #4acbd6 -192px -162px;
    filter: alpha(opacity=15);
}
div.msg-container.widget-container {
    padding: 0;
    background: none;
    background-color: transparent;
}
div.msg-container div.msg-wrap {
    background-color: #fff;
}
div.msg-container div.msg-btn-container {
    background-color: #fff;
    margin: 0;
    padding: 0 26px 19px 0;
}
div.tips-content-container, div.tips-content-container.grey {
    padding: 0;
    background: transparent;
}
div.tips-content-wrap {
    background-color: #fff;
    padding: 10px;
}
.grey div.tips-content-wrap {
    background-color: #e9e9ea;
}
div.position-top-left,
div.position-top-right,
div.position-bottom-left,
div.position-bottom-right {
    position: absolute;
    width: 17px;
    height: 11px;
}
div.position-top-left {
    top: 8px;
    left: 4px;
    background: url(../img/ie-06.png) no-repeat 0px -56px;
}
div.position-top-right {
    top: 7px;
    right: -1px;
    background: url(../img/ie-06.png) no-repeat 0px -38px;
}
div.position-bottom-left {
    bottom: 9px;
    left: 3px;
    background: url(../img/ie-06.png) no-repeat 0px -76px;
}
div.position-bottom-right {
    bottom: 9px;
    right: -1px;
    background: url(../img/ie-06.png) no-repeat 0px -95px;
}
div.position-top-center {
    margin: 0 16px 0 17px;
    height: 13px;
    background: url(../img/ie-01.png) no-repeat 0px 0px;
}
div.position-bottom-center {
    margin: 0 16px 0 17px;
    height: 14px;
    background: url(../img/ie-01.png) no-repeat center bottom;
}
div.position-center-left {
    padding-left: 11px;
    background: url(../img/ie-02.png) no-repeat 0px 0px;
}
div.position-center-right {
    padding-right: 11px;
    background: url(../img/ie-02.png) no-repeat center right;
}
.help-content-container div.position-center-right {
    padding-right: 15px;
}
.help-content-container div.position-top-right, .help-content-container div.position-bottom-right {
    right: 0;
}
div.help-content-container-wrap {
    height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 384px;
    background-color:#fff;
    padding: 28px 12px 38px 22px;
}
div.help-container div.help-content-container span.help-content-delta {
    top:4px;
    right: 21px;
}
div.help-content-container {
    padding: 0;
    background: none;
    background-color: transparent;
    top:50px;
    right: -9px;
}
div.help-content-container div.msg-wrap {
    background-color: #fff;
}
div.help-content-container div.msg-btn-container {
    background-color: #fff;
    margin: 0;
    padding: 0 26px 19px 0;
}
/*css for toastGlobal*/
.global-toast-wrapper {
    padding: 0;
    border: 0;
    box-shadow: none;
    background: transparent;
}
.global-toast-inner {
    background: #fff;
    padding: 10px 12px;
}

/*for widget error tips shadow*/
.shadow-top {
    background: url("../img/ie-01.png") repeat-x 0 -6px;
    top: -13px;
    left: 0;
    height: 13px;
    margin: 0 17px 0 17px;
}
.shadow-bot {
    background: url("../img/ie-01.png") repeat-x center bottom;
    bottom: -13px;
    left: 0;
    height: 13px;
    margin: 0 17px 0 17px;
}
.shadow-top-left, .shadow-top-right, .shadow-bot-left, .shadow-bot-right {
    position: absolute;
    width: 17px;
    height: 11px;
    background: url(../img/ie-06.png) no-repeat 0px -56px;
}
.shadow-top-left {
    background-position: 0px -56px;
    left: 4px;
    top: 4px;
}
.shadow-top-right {
    background-position: 0px -38px;
    right: 0;
    top: 3px;
}
.shadow-bot-left {
    background-position: 0px -76px;
    left: 4px;
    bottom: 8px;
}
.grey.shadow-bot-left {
    background-position: 0px -141px;
}
.shadow-bot-right {
    background-position: 0px -95px;
    right: 0;
    bottom: 8px;
}
.grey.shadow-bot-right {
    background-position: 0px -121px;
    right: 0;
    bottom: 8px;
}
.shadow-left {
    padding-left: 11px;
    background: url(../img/ie-02.png) no-repeat 0px 0px;
}
.shadow-right {
    padding-right: 11px;
    background: url(../img/ie-02.png) no-repeat center right;
}
div.widget-error-tips span.widget-error-tips-delta, span.icon-delta {
    top:  5px;
}
div.widget-error-tips div.widget-error-tips-wrap {
    border: none;
}
/*end*/
div.button-container button.green.pure-button {
    padding: 0;
    font-size: 14px;
    border-style:none;
    position: relative;
}

div.msg-btn-container div.button-container button.button-button {
    padding: 0;
    background-color: transparent;
}

button.tp-btn-custom, button.pure-button, div.button-container button.button-button {
    height: 30px;
    line-height: 30px;
    padding: 0;
}

div.button-container button span {
    display: block;
}
div.button-container button.pure-button.green[disabled], div.button-container button.pure-button.green[disabled]:hover {
    background: url(../img/ie-05.png) no-repeat left 0px transparent;
    filter:progid:DXImageTrasform.Microsoft.AlphaImageLoader(src="/img/ie-05.png", enabled=true, sizingMethod=scale);
}
div.button-container button.pure-button.green[disabled] span, div.button-container button.pure-button.green[disabled]:hover span {
    background: url(../img/ie-05.png) no-repeat right -74px transparent;
}
div.button-container button.pure-button.green {
    background: url(../img/ie-05.png) no-repeat left -179px transparent;
    filter:progid:DXImageTrasform.Microsoft.AlphaImageLoader(src="/img/ie-05.png", enabled=true, sizingMethod=scale);
}

div.button-container button.pure-button.green span {
    margin-left: 4px;
    background: url(../img/ie-05.png) no-repeat right -253px transparent;
}
div.button-container button.pure-button.green:hover {
    background: url(../img/ie-05.png) no-repeat left -323px transparent;
    filter:progid:DXImageTrasform.Microsoft.AlphaImageLoader(src="/img/ie-05.png", enabled=true, sizingMethod=scale);
}
div.button-container button.pure-button.green:hover span {
    background: url(../img/ie-05.png) no-repeat right -397px transparent;
}

div.button-container button.blue.pure-button span {
    font-size: 14px;
    display: block;
    margin-left:5px;
    position: relative;
}
div.button-container button.pure-button.blue[disabled], div.button-container button.file-button[disabled], div.button-container button.pure-button.blue[disabled]:hover, div.button-container button.file-button[disabled]:hover {
    background: url(../img/ie-05.png) no-repeat left 0px transparent;
    filter:progid:DXImageTrasform.Microsoft.AlphaImageLoader(src="/img/ie-05.png", enabled=true, sizingMethod=scale);
}
div.button-container button.pure-button.blue[disabled] span, div.button-container button.file-button[disabled] span, div.button-container button.pure-button.blue[disabled]:hover span, div.button-container button.file-button[disabled]:hover span {
    background: url(../img/ie-05.png) no-repeat right -74px transparent;
}
div.button-container button.pure-button.blue, div.button-container button.file-button {
    margin-left: 4px;
    /*background: url(../img/ie-05.png) no-repeat left -141px transparent;*/
    background: url(../img/ie-05.png) no-repeat left -179px transparent;
    filter:progid:DXImageTrasform.Microsoft.AlphaImageLoader(src="/img/ie-05.png", enabled=true, sizingMethod=scale);
}
div.button-container button.pure-button.blue span, div.button-container button.file-button span {
    margin-left: 4px;
    /*background: url(../img/ie-05.png) no-repeat right -215px transparent;*/
    background: url(../img/ie-05.png) no-repeat right -253px transparent;
}
div.button-container button.pure-button.blue:hover, div.button-container button.file-button:hover {
    /*background: url(../img/ie-05.png) no-repeat left -287px transparent;*/
    background: url(../img/ie-05.png) no-repeat left -323px transparent;
    filter:progid:DXImageTrasform.Microsoft.AlphaImageLoader(src="/img/ie-05.png", enabled=true, sizingMethod=scale);
}
div.button-container button.pure-button.blue:hover span, div.button-container button.file-button:hover span {
    /*background: url(../img/ie-05.png) no-repeat right -361px transparent;*/
    background: url(../img/ie-05.png) no-repeat right -397px transparent;
}
div.button-group-container ul.button-group-container li button.button-group-button span {
    color:#ffffff;
}
div.button-group-container.off.disabled div.button-group-wrap ul.button-group-container li button.button-group-button.fst span {
    color:#f2f2f2;
}
div.button-group-container.on.disabled div.button-group-wrap ul.button-group-container li button.button-group-button.lst span {
    color:#f2f2f2;
}
div.widget-container.msg-container div.msg-wrap a {
    margin: 10px 10px 0 0;
}
div.button-group-container.on ul.button-group-container {
    background: url(../img/icons.png) no-repeat -391px -202px transparent;
}
div.button-group-container.off ul.button-group-container {
    background: url(../img/icons.png) no-repeat -259px -202px transparent;
}
div.button-group-container.on.disabled ul.button-group-container {
    background: url(../img/icons.png) no-repeat -391px -202px transparent;
}
div.button-group-container.off.disabled ul.button-group-container {
    background: url(../img/icons.png) no-repeat -259px -202px transparent;
}
div.button-group-container.on ul.button-group-container li button.button-group-button.lst, 
div.button-group-container.on ul.button-group-container li button.button-group-button.fst, 
div.button-group-container.off ul.button-group-container li button.button-group-button.fst, 
div.button-group-container.off ul.button-group-container li button.button-group-button.lst {
    background-color: transparent;
}
div.msg-container-wrapper {
    padding: 0;
    background: none;
    background-color: transparent;
    box-shadow:none;
}
/*for input*/
.pure-form input[type="text"].tp-input-text, .pure-form input[type="password"].tp-input-text {
    padding-top: 0;
    padding-bottom: 0;
    height: 32px;
    line-height: 32px;
}
div.input-wrapper{
    display: inline-block;
    position: relative;
    border: 1px solid #e6e6e6;
}

div.input-wrapper span.corner-left, div.tpAddress-wrapper span.corner-left, div.tpPassword span.corner-left{
    width: 5px;
    height: 32px;
    background: url("../img/ie-border-radius.png") -3px -1px #fff;
    position: absolute;
    left: -2px;
    top: -1px;
}
div.input-wrapper span.corner-right, div.tpAddress-wrapper span.corner-right, div.tpPassword span.corner-right{
    width: 5px;
    height: 32px;
    background: url("../img/ie-border-radius.png") -20px -1px #fff;
    position: absolute;
    right: -1px;
    top: -1px;
}
div.input-wrapper.focus {
    border-color: #4acbd6;
}
div.input-wrapper.focus span.corner-left, div.tpAddress-wrapper.focus span.corner-left, div.tpPassword.focus span.corner-left{
    background-position: -3px -36px;
}
div.input-wrapper.focus span.corner-right, div.tpAddress-wrapper.focus span.corner-right, div.tpPassword.focus span.corner-right {
    background-position: -20px -36px;
}
.pure-form div.input-wrapper input[type="text"].tp-input-text, .pure-form div.input-wrapper input[type="password"].tp-input-text {
    margin: -1px;
    border: 0;
}
.pure-form div.input-wrapper input[type=text]:focus, .pure-form div.input-wrapper input[type=password]:focus {
    outline: 0;
    border: 0;
    margin: -1px;
}

div.search-input-wrapper span.corner-top-right,div.search-input-wrapper span.corner-top-left,div.search-input-wrapper span.corner-bot-left,div.search-input-wrapper span.corner-bot-right {
    display: inline-block;
    position: absolute;
    width: 5px;
    height: 5px;
    background: url("../img/ie-border-radius.png") #4acbd6;
}
div.search-input-wrapper span.corner-top-left {
    top: 0;
    left: 0;
    background-position: -33px -123px;
}
div.search-input-wrapper span.corner-top-right {
    top: 0;
    right: 0;
    background-position: -50px -123px;
}
div.search-input-wrapper span.corner-bot-left {
     bottom: 0;
     left: 0;
     background-position: -33px -150px;
 }
div.search-input-wrapper span.corner-bot-right {
    bottom: 0;
    right: 0;
    background-position: -50px -150px;
}
.focus div.search-input-wrapper {
    border: 1px solid #4acbd6;
}
.pure-form input[type="text"][disabled].tp-input-text {
    background-color: transparent;
}
/*for networkmap*/
.corner-top-left, .corner-top-right, .corner-bot-left, .corner-bot-right {
    display: inline-block;
    position: absolute;
    width: 10px;
    height: 10px;
    background: url("../img/ie-border-radius.png") #fff;
}

.map_wrap .corner-top-left {
    background-position: -33px -44px;
    left: -1px;
    top: -1px;
}

.map_wrap .corner-top-right {
    background-position: -62px -44px;
    top: -1px;
    right: -1px;
}

.map_wrap .corner-bot-left {
    background-position: -33px -68px;
    bottom: -1px;
    left: -1px;
}

.map_wrap .corner-bot-right {
    background-position: -62px -68px;
    bottom: -1px;
    right: -1px;
}
/*for status*/
.content .corner-top-left {
    background-position: -33px -4px;
    left: 0px;
    top: 0px;
}

.content .corner-top-right {
    background-position: -62px -4px;
    top: 0px;
    right: 0px;
}
.content .corner-bot-left {
    background-position: -33px -68px;
    bottom: 0px;
    left: 0px;
}

.content .corner-bot-right {
    background-position: -62px -68px;
    bottom: 0px;
    right: 0px;
}

/*for table*/
.pure-table .corner-top-left {
    background-position: -33px -44px;
    left: 0px;
    top: 0px;
}

.pure-table .corner-top-right {
    background-position: -62px -44px;
    top: 0px;
    right: 0px;
}

.pure-table .corner-bot-left {
    background-position: -33px -68px;
    bottom: 0px;
    left: 0px;
}

.pure-table .corner-bot-right {
    background-position: -62px -68px;
    bottom: 0px;
    right: 0px;
}

.editor-container .corner-bot-left {
    background-position: -32px -108px;
    bottom: 0px;
    left: 0px;
    z-index: 1;
}

.editor-container .corner-bot-right {
    background-position: -63px -108px;
    bottom: 0px;
    right: 0px;
    z-index: 1;
}

/*tpSelect*/
.tp-select .corner-top-left, .disabled .tp-select:hover .corner-top-left {
    background-position: -3px -1px;
    left: -1px;
    top: -1px;
}

.tp-select .corner-top-right, .disabled .tp-select:hover .corner-top-right {
    background-position: -15px -1px;
    top: -1px;
    right: -1px;
}
.tp-select .corner-bot-left, .disabled .tp-select:hover .corner-bot-left {
    background-position: -3px -23px;
    bottom: -1px;
    left: -1px;
}

.tp-select .corner-bot-right, .disabled .tp-select:hover .corner-bot-right {
    background-position: -15px -23px;
    bottom: -1px;
    right: -1px;
}
.tp-select:hover .corner-top-left, .tp-select.expanded .corner-top-left {
    background-position: -3px -36px;
}
.tp-select:hover .corner-top-right, .tp-select.expanded .corner-top-right {
    background-position: -15px -36px;
}
.tp-select:hover .corner-bot-left, .tp-select.expanded .corner-bot-left {
    background-position: -3px -58px;
}
.tp-select:hover .corner-bot-right, .tp-select.expanded .corner-bot-right {
    background-position: -15px -58px;
}

.top-country .tp-select .corner-top-left {
    background-position: -3px -142px;
    background-color: transparent;
    left: -1px;
    top: -1px;
}

.top-country .tp-select .corner-top-right {
    background-position: -15px -142px;
    background-color: transparent;
    top: -1px;
    right: -1px;
}
.top-country .tp-select .corner-bot-left {
    background-position: -3px -160px;
    background-color: transparent;
    bottom: -1px;
    left: -1px;
}

.top-country .tp-select .corner-bot-right {
    background-position: -15px -160px;
    background-color: transparent;
    bottom: -1px;
    right: -1px;
}
.top-country .tp-select:hover .corner-top-left, .top-country .tp-select.expanded .corner-top-left {
    background-position: -3px -142px;
    background-color: transparent;
}
.top-country .tp-select:hover .corner-top-right, .top-country .tp-select.expanded .corner-top-right {
    background-position: -15px -142px;
    background-color: transparent;
}
.top-country .tp-select:hover .corner-bot-left, .top-country .tp-select.expanded .corner-bot-left {
    background-position: -3px -160px;
    background-color: transparent;
}
.top-country .tp-select:hover .corner-bot-right, .top-country .tp-select.expanded .corner-bot-right {
    background-position: -15px -160px;
    background-color: transparent;
}
.top-country .top-country-select .select-box {
    border-color: #00a2aa;
}
.top-country .top-country-select .tp-select:hover .select-box, .top-country .top-country-select .tp-select.expanded .select-box{
    border-color: #00a2aa;
}

div.inline {
	vertical-align: middle;
}
