a.top-btn#topLogout span.text {
    width: 95px;
}
a.top-btn#topLogout {
    width: 96px;
}

a.top-btn#topReboot span.text {
    width: 135px;
}
a.top-btn#topReboot{
    width: 136px;
}

a.top-btn#topUpdate span.text {
    width: 50px;
}
a.top-btn#topUpdate {
    width: 51px;
}

#base-white {
    margin-left: 355px;
}
#con {
    width: 1200px;
}
#menu {
    width: 340px;
}
#menu li.ml1 {
    width: 342px;
}
#main {
    width: 670px;
    left: 360px;
}

button#detect {/* wanBasic.htm, qsEwan.htm */
    width: 180px;
}
button#login_dyndns {/* ddns.htm */
    width: 140px;
}
button#logout_dyndns {/* ddns.htm */
    width: 140px;
}
button#login_noip {/* ddns.htm */
    width: 140px;
}
button#logout_noip {/* ddns.htm */
    width: 140px;
}
button#resetBtn{/* backNRestore.htm */
    width: 220px;
}
button#disConn /* ethWan.htm */
{
	width:160px;
}
button#disConn2 /* ethWan.htm */
{
	width:160px;
}