! -*- ospf -*-
!
! OSPFd sample configuration file
!
!
hostname ospfd
password zebra
!enable password please-set-at-here
!
router ospf
!  network 192.168.1.0/24 area 0
!
interface lo
 ip ospf cost 1
 ip ospf hello-interval 10
 ip ospf dead-interval 40
 ip ospf retransmit-interval 5
 ip ospf priority 1
 ip ospf transmit-delay 1
# ip ospf instance-id 0
log stdout
