/*
*包含浏览器reset和基本常用的css
*/

/*CSS reset*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td{
    margin:0;
    padding: 0;
    font-family: Arial Regular,Helvetica,Arial;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-text-size-adjust: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
fieldset, img {
    border: 0;
}
input[type="text"], input[type="button"], input[type="submit"], input[type="reset"], textarea {
    -webkit-appearance: none;
}
address, caption, cite, code, dfn, em, strong, th, var {
    font-style: normal;
    font-weight: normal;
}
ol, ul {
    list-style: none;
}
caption, th {
    text-align: left;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}
q:before, q:after {
    content: ''
}
abbr, acronym {
    border:0
}
a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    font-size: 13px;
}
/*common*/
.nd{
    display: none;
}
.mtNo {
    margin-top: -1px;
}
.mt5 {
    margin-top: 5px;
}
.mt6 {
    margin-top: 6px;
}
.mt7 {
    margin-top: 7px;
}
.mt8 {
    margin-top: 8px;
}
.mt9 {
    margin-top: 9px;
}
.mt10 {
    margin-top: 10px;
}
.mt11 {
    margin-top: 11px;
}
.mt12 {
    margin-top: 12px;
}
.mt13 {
    margin-top: 13px;
}
.mt14 {
    margin-top: 14px;
}
.mt15 {
    margin-top: 15px;
}
.mt16 {
    margin-top: 16px;
}
.mt17 {
    margin-top: 17px;
}
.mt18 {
    margin-top: 18px;
}
.mt19 {
    margin-top: 19px;
}
.mt20 {
    margin-top: 20px;
}
.mt21 {
    margin-top: 21px;
}
.mt22 {
    margin-top: 22px;
}
.mt23 {
    margin-top: 23px;
}
.mt24 {
    margin-top: 24px;
}
.mt25 {
    margin-top: 25px;
}
.mb10 {
    margin-bottom: 10px;
}
.mb15 {
    margin-bottom: 15px;
}
.mb20 {
    margin-bottom: 20px;
}
.pb26 {
    padding-bottom: 26px;
}
.pr5 {
	padding-right: 5px;
}
.s {
    width: 100px;
}
.m {
    width: 200px;
}
.l {
    width: 300px;
}
.floatRight {
    float: right
}
/*full的简写*/
.fu {
    width: 100%;
}
.hidden {
    overflow: hidden;
}
