/* cloud security */
div.shield-wrapper {
	font-size: 0px;
	position: relative;
}
div.shield-icon {
	display: inline-block;
	vertical-align: top;
	width: 190px;
	height: 190px;
	margin: 28px 80px 9px 95px;
	background: url(../img/homecare.png) no-repeat -156px -2px;
}
div.shield-detail {
	display: inline-block;
	vertical-align: top;
	width: 299px;
}
div.history {
	position: absolute;
	top: 0px;
	right: 0px;
	cursor: pointer;
}
div.history span.icon {
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(../img/homecare.png) no-repeat -100px -4px;
}
div.history:hover span.icon{
	background: url(../img/homecare.png) no-repeat -124px -4px;
}
div.history span.text {
	font-size: 15px;
	color: #4acbd6;
	padding-left: 6px;
}
div.history:hover span.text {
	opacity: 0.7;
}
div.msg-container.cloud-security {
	width: 797px;
	/*height: 668px;*/
	max-width: none;
}
div.msg-container.cloud-security div.msg-content-wrap {
    margin: 20px 0px 48px 32px;
}
div.msg-container.cloud-security div.msg-content-wrap div.title {
    padding-bottom: 7px;
    border-bottom: 1px solid #a7a9ac;
    margin: 0px 87px 0px 0px;
    line-height: 1;
}
div.msg-container.cloud-security div.title span.msg-title {
	font-size: 15px;
    color: #36444b;
}
div.msg-container.cloud-security div.title a.delete-btn {
	float: right;
	text-decoration: none;
}
div.msg-container.cloud-security div.title a.delete-btn span.icon {
	width: 18px;
	height: 18px;
	display: inline-block;
	margin-right: 4px;
	background: url(../img/icons.png) no-repeat -121px -21px;
}
div.msg-container.cloud-security div.title a.delete-btn:hover span.icon {
	background: url(../img/icons.png) no-repeat -121px -21px;
}
div.msg-container.cloud-security div.title a.delete-btn.disabled span.icon {
	background: url(../img/icons.png) no-repeat -81px -21px;
}
div.msg-container.cloud-security div.title a.delete-btn span.text {
	font-size: 12px;
    color: #c11c66;
}
div.msg-container.cloud-security div.title a.delete-btn:hover span.text {
	opacity: 0.7;
}
div.msg-container.cloud-security div.title a.delete-btn.disabled span.text {
	opacity: 1;
    color: #b3b3b3;
}
div.msg-container.cloud-security div.msg-content-container div.alert-info-item-wrapper {
	height: 555px;
	overflow-y: scroll;
	padding-right: 87px;
}
div.msg-container.cloud-security div.msg-content-container div.alert-info-item {
	border-bottom: 1px solid #a7a9ac;
	margin-left: 17px;
}
div.msg-container.cloud-security div.msg-content-container div.alert-info-item:last-child {
	border: 0px;
}
div.msg-container.cloud-security div.msg-content-container div.alert-info-item span.icon {
	display: inline-block;
	width: 32px;
	height: 37px;
	margin: 49px 37px 50px 27px;
    vertical-align: top;
}
div.msg-container.cloud-security div.msg-content-container div.info-detail {
	display: inline-block;
	width: 550px;
    margin-top: 25px;
    position: relative;
    color: #a7a9ac;
    line-height: 1;
}
div.msg-container.cloud-security div.msg-content-container div.info-detail span {
	display: block;
	margin-bottom: 6px;
	color: #a7a9ac;
}
div.msg-container.cloud-security div.msg-content-container div.info-detail span.device-name {
	font-size: 14px;
    color: #36444b;
    margin-bottom: 6px;
}
div.msg-container.cloud-security div.msg-content-container div.info-detail span.time {
	position: absolute;
    right: 0;
    top: 0;
}
div.msg-container.cloud-security div.msg-content-container div.info-detail span.device-owner {
	margin-bottom: 18px;
}
div.msg-container.clear-history-size, div.msg-container.clear-record-size {
	width: 398px;
}
div.protect-days {
	margin-top: 75px;
	margin-bottom: 20px;
	font-size: 0px;
}
div.protect-days span.digit {
	display: inline-block;
	line-height: 52px;
	font-size: 52px;
	color: #4acbd6;
}
div.protect-days span.days {
	display: inline-block;
    font-size: 27px;
    color: #a7a9ac;
    vertical-align: bottom;
    padding-left: 5px;
}
div.shield-detail span.caption {
	display: inline-block;
	width: 200px;
	font-size: 12px;
	font-family: arial;
	color: #36444b;
	margin-bottom: 28px;
	line-height: 17px;
}
div.shield-wrapper.dangerous div.shield-icon {
	background: url(../img/homecare.png) no-repeat -350px -2px;
}
div.shield-wrapper.dangerous div.protect-days {
	margin-top: 64px;
}
div.shield-wrapper.dangerous div.protect-days span.digit {
	display: none;
}
div.shield-wrapper.dangerous div.protect-days span.days {
	padding-left: 0px;
    font-size: 21px;
    color: #4acbd6;
}
div.button-container.start-security {
	display: none;
	margin-left: 154px;
}
div.shield-wrapper.dangerous div.button-container.start-security {
	display: block;
}
div.shield-wrapper.dangerous div.shield-detail span.caption {
	width: 234px;
}
a.trendmicro-logo {
	display: block;
	width: 72px;
	height: 24px;
	margin: 0;
	background: url(../img/homecare.png) no-repeat -2px -115px;
	cursor: pointer;
}
div.notification-type span.icon{
	display: inline-block;
	width: 32px;
	height: 37px;
	margin: 11px 41px 33px 41px;
    vertical-align: top;
}
div.notification-type.site-block span.icon, div.msg-container.cloud-security div.msg-content-container div.alert-info-item.alert-site-block span.icon {
	background: url(../img/homecare.png) no-repeat -6px -27px;
}
div.notification-type.intrusion-prevent span.icon, div.msg-container.cloud-security div.msg-content-container div.alert-info-item.alert-intrusion-prevent span.icon {
	background: url(../img/homecare.png) no-repeat -46px -27px;
}
div.notification-type.device-block span.icon, div.msg-container.cloud-security div.msg-content-container div.alert-info-item.alert-device-block span.icon {
	background: url(../img/homecare.png) no-repeat -86px -27px;
}
div.function {
	display: inline-block;
	width: 457px;
	vertical-align: top;
}
div.function span.title {
	display: block;
    font-family: arial;
    padding: 4px 0 13px 0;
    font-size: 15px;
}
div.function span.text {
	display: block;
    font-family: arial;
    line-height: 14px;
    color: #a7a9ac;
}
div.cloud-security-switch {
	display: inline-block;
	float: right;
}
div.database {
    text-align: center;
    margin-top: 175px;
    font-family: arial;
    color: #a7a9ac;
}
div.database.updating span.icon {
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(../img/loading.gif) no-repeat;
	margin-right: 5px;
}
/* QoS Application Priority */
#application-kinds{
	font-size: 0px;
}
#application-kinds div.priority{
	width: 116px;
	padding: 7px 0px 45px 0px;
	display: inline-block;
	text-align: center;
	vertical-align: top;
	cursor: pointer;
}
#application-kinds div.priority.no-priority{
	margin-left: -20px;
}
#application-kinds div.priority.custom{
	margin-right: -20px;
}
#application-kinds div.priority span.icon{
	display: inline-block;
	width: 52px;
	height: 52px;
	margin: 22px 30px;
}
#application-kinds div.priority.no-priority span.icon{
	background:url(../img/qos.png) no-repeat -2px -84px;
}
#application-kinds div.priority.no-priority.click span.icon{
	background:url(../img/qos.png) no-repeat -64px -84px;
}
#application-kinds div.priority.game-priority span.icon{
	width: 56px;
	height: 52px;
	margin: 22px 28px;
	background:url(../img/qos.png) no-repeat -126px -84px;
}
#application-kinds div.priority.game-priority.click span.icon{
	background:url(../img/qos.png) no-repeat -192px -84px;
}
#application-kinds div.priority.media-priority span.icon{
	background:url(../img/qos.png) no-repeat -64px -146px;
}
#application-kinds div.priority.media-priority.click span.icon{
	background:url(../img/qos.png) no-repeat -2px -146px;
}
#application-kinds div.priority.web-priority span.icon{
	background:url(../img/qos.png) no-repeat -128px -146px;
}
#application-kinds div.priority.web-priority.click span.icon{
	background:url(../img/qos.png) no-repeat -194px -146px;
}
#application-kinds div.priority.netchat-priority span.icon{
	background:url(../img/qos.png) no-repeat -2px -208px;
}
#application-kinds div.priority.netchat-priority.click span.icon{
	background:url(../img/qos.png) no-repeat -64px -208px;
}
#application-kinds div.priority.custom span.icon{
	background:url(../img/qos.png) no-repeat -128px -208px;
}
#application-kinds div.priority.custom.click span.icon{
	background:url(../img/qos.png) no-repeat -194px -208px;
}
#application-kinds div.priority span.text{
	font-size: 13px;
	color: #36444b;
	line-height: 16px;
	text-align: center;
}
#application-kinds div.priority.click span.text{
	color: #4acbd6;
}
#application-kinds span.gap{
	display: inline-block;
	width: 1px;
	height: 24px;
	background-color: #cccccc;
	margin-top: 43px;
}

#application-priority-level{
	border-top: 1px solid #cccccc;
	padding: 62px 0 41px 0;
	font-size: 0px;
}
#application-priority-level #priority-level-data{
	font-size: 0px;
}
#priority-level-data, #priority-level-labels{
	display: inline-block;
	vertical-align: top;
	position: relative;
}
#priority-level-labels{
	width: 104px;
}
#priority-level-labels div.item{
	margin-bottom: 14px;
}
#priority-level-labels span.bullet{
	display: inline-block;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: #a7a9ac;
}
#priority-level-labels span.text{
	font-size: 12px;
	margin-left: 14px;
}
#priority-level-labels div.prior span.bullet{
	background-color: #ffcb00;
}
#priority-level-labels div.normal span.bullet{
	background-color: #4acbd6;
}
#priority-level-labels div.restrictive span.bullet{
	background-color: #00a3df;
}

.priority-level-item{
	display: inline-block;
	position: relative;
}
.priority-level-item span.line{
	display: block;
	width: 3px;
	margin: 0 43px;
}
.priority-level-item span.slider{
	width: 25px;
	height: 25px;
	border-radius: 50%;
	display: block;
	position: absolute;
	cursor: pointer;
	z-index: 99;
}
.priority-level-item span.line-above{
	background-color: #f1f1f2;
}
.priority-level-item span.line-below{
	background-color: #dcddde;
}
.priority-level-item.inopreable span.slider{
	background-color: #a7a9ac;
	top: 0;
    left: 32px;
}
.priority-level-item.inopreable span.line-above{
	height: 145px;
}
.priority-level-item.inopreable span.line-below{
	height: 0px;
}
.priority-level-item.prior span.line-above{
	height: 0px;
}
.priority-level-item.prior span.line-below{
	height: 145px;
}
.priority-level-item.prior span.slider{
	background-color: #ffcb00;
	top: 0;
    left: 32px;
}
.priority-level-item.normal span.line-above{
	height: 73px;
}
.priority-level-item.normal span.line-below{
	height: 72px;
}
.priority-level-item.normal span.slider{
	background-color: #4acbd6;
	top: 60px;
    left: 32px;
}
.priority-level-item.restrictive span.line-above{
	height: 145px;
}
.priority-level-item.restrictive span.line-below{
	height: 0px;
}
.priority-level-item.restrictive span.slider{
	background-color: #00a3df;
	top: 120px;
    left: 32px;
}

#priority-level-data span.link{
	width: 85px;
	height: 3px;
	background-color: #e4f7f9;
	display: block;
	position: absolute;
	transform-origin: left top;
}

#priority-level-data div.priority-level-item span.text{
	display: block;
	font-size: 12px;
	width: 89px;
	margin-top: 18px;
	text-align: center;
}

div.msg-container.change-alert-size {
    width: 400px;
    background-color: white;
}
div.msg-container.change-alert-size div.msg-btn-container {
    text-align: center;
    margin-right: 0px; 
    margin-bottom: 19px;
}


/*QoS Device Priority*/
#device-priority{
	margin-top: 38px;
}
div.device-type-container {
	position: relative;
}
div.device-type-container span.icon {
    display: inline-block;
    width: 48px;
    height: 48px;
}
div.device-type-container span.icon.pc {
	background: url(../img/qos.png) no-repeat 0px -270px;
}
div.device-type-container span.icon.phone {
	background: url(../img/qos.png) no-repeat -100px -270px;
}
div.device-type-container span.icon.laptop {
	background: url(../img/qos.png) no-repeat -200px -270px;
}
div.device-type-container span.icon.tablet {
	background: url(../img/qos.png) no-repeat -50px -320px;
}
div.device-type-container span.icon.entertainment {
	background: url(../img/qos.png) no-repeat -150px -320px;
}
div.device-type-container span.icon.printer {
	background: url(../img/qos.png) no-repeat 0px -370px;
}
div.device-type-container span.icon.iot_device {
	background: url(../img/qos.png) no-repeat -100px -370px;
}
div.device-type-container span.icon.other {
	background: url(../img/qos.png) no-repeat -200px -370px;
}
div.device-type-container span.icon.enable.pc {
	background: url(../img/qos.png) no-repeat -50px -270px;
}
div.device-type-container span.icon.enable.phone {
	background: url(../img/qos.png) no-repeat -150px -270px;
}
div.device-type-container span.icon.enable.laptop {
	background: url(../img/qos.png) no-repeat 0px -320px;
}
div.device-type-container span.icon.enable.tablet {
	background: url(../img/qos.png) no-repeat -100px -320px;
}
div.device-type-container span.icon.enable.entertainment {
	background: url(../img/qos.png) no-repeat -200px -320px;
}
div.device-type-container span.icon.enable.printer {
	background: url(../img/qos.png) no-repeat -50px -370px;
}
div.device-type-container span.icon.enable.iot_device {
	background: url(../img/qos.png) no-repeat -150px -370px;
}
div.device-type-container span.icon.enable.other {
	background: url(../img/qos.png) no-repeat 0px -420px;
}
div.switch-button-container a.switch-button-btn.off span.switch-button-btn-wrap span.switch-button-btn-slider{
	left: 0;
	right: inherit;
}
div.switch-button-container a.switch-button-btn.on span.switch-button-btn-wrap span.switch-button-btn-slider{
	right: 0;
	left: inherit;
}
table#device-priority-grid{
	border: 0;
}
table#device-priority-grid div.grid-container div.grid-header-container{
	border: 0;
	font-family: Arial;
}
table#device-priority-grid th.table-head span{
	font-size: 14px;
    font-family: Arial;
}
table#device-priority-grid th,
table#device-priority-grid td{
	border-left: none;
	border-right: none;
}
/*table#device-priority-grid div.grid-container div.grid-content-container table tr.grid-content-tr{
	border-top: 1px solid #999999;
	border-bottom: 1px solid #999999;
}
table#device-priority-grid div.grid-container div.grid-content-container table td.grid-content-td{
	border-left: 0;
	border-right: 0;
	border-top: 1px solid #999999;
}*/
table#device-priority-grid div.device-info-container.widget-container{
	width: 152px;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    text-align: left;
}
table#device-priority-grid div.device-info-container span{
	display: inline-block;
}
table#device-priority-grid div.device-info-container span.name{
	width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: left;
	text-indent: 2px;
	overflow: hidden;
	font-size: 15px;
	font-family: Arial;
	float: left;
	color: #36444b;
	margin-bottom: 8px;
	line-height: 17px;
}
table#device-priority-grid div.device-info-container span.mode{
	width: 30px;
	height: 14px;
	background: url(../img/qos.png) no-repeat -57px -424px;
    	line-height: 14px;
}
table#device-priority-grid div.device-info-container span.mode.show_24G{
	background: url(../img/qos.png) no-repeat -57px -425px;
}
table#device-priority-grid div.device-info-container span.mode.show_51G{
	background: url(../img/qos.png) no-repeat -125px -447px;
}
table#device-priority-grid div.device-info-container span.mode.show_52G{
	background: url(../img/qos.png) no-repeat -91px -425px;
}
table#device-priority-grid div.device-info-container span.mode.show_LAN{
	background: url(../img/qos.png) no-repeat -91px -447px;
}
table#device-priority-grid div.device-info-container span.mode.show_offline{
	background: url(../img/qos.png) no-repeat -125px -425px;
}
table#device-priority-grid div.device-info-container span.mac{
	font-family: Arial;
	color: #a7a9ac;
	margin-left: 5px;
	line-height: 14px;
}
table#device-priority-grid span.icon{
	display: inline-block; 
}
table#device-priority-grid span.text{
	display: inline-block;
	width: 60px;
}
table#device-priority-grid div.speed-upload-container,
table#device-priority-grid div.speed-download-container{
	line-height: 18px;
}
table#device-priority-grid div.speed-upload-container span.icon{
	width: 9px;
	height: 15px;
	background: url(../img/qos.png) no-repeat -201px -47px;
}
table#device-priority-grid div.speed-download-container span.icon{
	width: 9px;
	height: 15px;
	background: url(../img/qos.png) no-repeat -182px -47px;
}
table#device-priority-grid div.switch-button-container{
	margin-bottom: 0px;
}
table#device-priority-grid div.switch-button-container a.switch-button-btn span.switch-button-btn-wrap{
	width: 28px;
	height: 17px;
}
table#device-priority-grid div.switch-button-container a.switch-button-btn span.switch-button-btn-wrap span.switch-button-btn-slider{
	width: 13px;
	height: 13px;
	margin: 2px;
}
table#device-priority-grid div.time-remaining{
	color: #a7a9ac;
	font-family: Arial;
	margin-top: 5px;
}
table#device-priority-grid div.combobox-container div.widget-wrap{
	border: 0;
}
table#device-priority-grid div.combobox-container div.widget-wrap input.combobox-text{
	width: 55px;
	color: #36444b;
	font-size: 15px;
	font-family: Arial;
	padding: 0;
	cursor: pointer;
}
table#device-priority-grid div.combobox-container div.widget-wrap a.combobox-switch span.icon {
    display: block;
    width: 8px;
    height: 5px;
    margin: 10.5px auto;
    background: url(../img/qos.png) no-repeat -164px -59px;
}
table#device-priority-grid div.combobox-container.focus div.widget-wrap a.combobox-switch span.icon {
	background-position: -164px -48px;
}
table#device-priority-grid div.combobox-container div.combobox-wrap ul.combobox-list li label.combobox-label{
	padding-left: 0;
}
table#device-priority-grid div.combobox-container div.combobox-wrap div.combobox-list-wrap{
	width: 74px;
	top: 30px;
	left: 2px;
}
table#device-priority-grid div.combobox-container div.combobox-wrap ul.combobox-list li label.combobox-label{
	height: auto;
    line-height: 16px;
}
table#device-priority-grid div.combobox-container div.combobox-wrap ul.combobox-list li label.combobox-label span.text{
	display: inline-block;
    width: 45px;
    border-bottom: 1px solid #a7a9ac;
    padding: 4px 0px 3px 0px;
}
table#device-priority-grid div.combobox-container div.combobox-wrap ul.combobox-list li:first-child label.combobox-label span.text{
	padding-top: 7px;
}
table#device-priority-grid div.combobox-container div.combobox-wrap ul.combobox-list li:last-child label.combobox-label span.text{
	padding-bottom: 7px;
}
table#device-priority-grid div.combobox-container div.combobox-wrap ul.combobox-list li:last-child label.combobox-label span.text{
	border-bottom: 0;
}
table#device-priority-grid div.combobox-container div.combobox-wrap ul.combobox-list li:hover label.combobox-label {
	color:#ffcb00;
	background-color: #ffffff;
}
table#device-priority-grid div.combobox-container div.combobox-wrap ul.combobox-list li.selected label.combobox-label {
	color:#ffcb00;
	background-color: #ffffff;
}
table#device-priority-grid div.combobox-container div.combobox-wrap ul.combobox-list li.selected:hover label.combobox-label {
	color:#ffcb00;
	background-color: #ffffff;
}
table#device-priority-grid div.combobox-container div.combobox-wrap ul.combobox-list li:hover label.combobox-label span.text,
table#device-priority-grid div.combobox-container div.combobox-wrap ul.combobox-list li.selected label.combobox-label span.text,
table#device-priority-grid div.combobox-container div.combobox-wrap ul.combobox-list li.selected:hover label.combobox-label span.text
{
	color:#ffcb00;
	cursor:pointer;
}
table#device-priority-grid div.time-period-line span {
    display: inline-block;
    width: 8px;
    height: 3px;
    background-color: #a7a9ac;
}

/**/
div.switch-button-container a.switch-button-btn{
	display: inline-block;
}
div.switch-button-container a.switch-button-btn.on span.switch-button-btn-wrap,
div.switch-button-container a.switch-button-btn.off span.switch-button-btn-wrap{
	border: 0;
    background: #4acbd6;
    border-radius: 12px;
    display: inline-block;
}
div.switch-button-container a.switch-button-btn.off span.switch-button-btn-wrap{
	background: #a7a9ac;
}
div.switch-button-container a.switch-button-btn span.switch-button-btn-wrap span.switch-button-btn-slider{
	position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    background-color: #ffffff;
    border: 0;
    margin: 3px;
    width: 19px;
    height: 19px;
    background: #fff;
    border-radius: 50%;
}
table#device-priority-grid div.combobox-container{
	margin:0;
}
div.widget-container div.widget-wrap-outer div.combobox-wrap{
	position: relative;
}
a.combobox-switch{
	display: inline-block;
}
ul.combobox-list{
	list-style: none;
	padding: 0;
}
ul.combobox-list{
	line-height: 18px;
}
table#device-priority-grid input.combobox-text{
	border: none;
	box-shadow: none;
}
input.combobox-checkbox.hidden{
	display: none;
}
div.combobox-container div.combobox-wrap div.combobox-list-wrap{
	display: none;
	position: absolute;
	z-index: 99;
	background: #FFFFFF;
	box-shadow: 1px 1px 5px #898989;
	border-radius: 5px;
}
div.hidden{
	display: none;
}
/**/

/*basic qos page*/
#app_priority_container h3,
#client_priority_container h3{
	visibility: hidden;
}
#client_priority_container #device-priority{
	margin-top: 0;
}

div.alert-info-item-wrapper div.no-record-wrapper {
    display: none;
}
div.alert-info-item-wrapper.no-record div.no-record-wrapper {
    display: block;
    text-align: center;
}
div.no-record-wrapper span.icon {
    width: 52px;
    height: 48px;
    display: inline-block;
    background: url(../img/no-record.png) no-repeat;
    margin: 132px 0px 32px 0px;
}
div.no-record-wrapper span.no-record-text {
    display: block;
    font-size: 15px;
    color: #36444b;
    font-family: arial;
}
div.speed-upload-container span, div.speed-download-container span {
	display: inline-block;
	vertical-align: top;
}
table#device-priority-grid div.speed-upload-container span.text, 
table#device-priority-grid div.speed-download-container span.text {
	width: 45px;
	text-align: right;
}
div#internet-shield {
	margin-bottom: 27px;
}

div#device-priority-grid td.grid-content-td.grid-content-td-trafficUsage {
	font-size: 0px;
}
div#device-priority-grid td.grid-content-td.grid-content-td-trafficUsage span {
	font-size: 12px;
	display: inline-block;
}
table#device-priority-grid span.text.usage {
	width: 45px;
	text-align: right;
}
div#device-priority-grid td.grid-content-td.grid-content-td-timePeriod div.combobox-container,
div#device-priority-grid td.grid-content-td.grid-content-td-timePeriod div.combobox-container input:hover {
	cursor: pointer;
}
div#device-priority-grid div.grid-content-container-outer div.grid-content-container table {
	padding-bottom: 80px;
}