table {
    color: rgb(77, 77, 77);
}
thead tr {
    background: none repeat scroll 0% 0% rgb(250, 250, 250);
    height: 42px;
    background-color: transparent;
    /*border-bottom: 1px solid rgb(217, 217, 217);*/
}
tbody tr {
    background-color: #fff;
    height: 42px;
    background-color: transparent;
}
tr.edit-tr {
    /*border: 1px solid rgb(150, 204, 86);*/
    color: #ccc;
}

.pure-table tr.edit-tr .first-child {
    border-left:1px solid #4acbd6;
}
.pure-table tr.edit-tr .last-child {
    border-right: 1px solid #4acbd6;
}
table.pure-table div.pure-control-group {
    /*height: 100%;*/
}
table.pure-table input.checkbox-checkbox[type="checkbox"] + label.checkbox-label {
    min-height: 100%;
    line-height: 100%;
    padding: 0 0 0 20px;
    /*margin: 0 0 -3px 0;*/
    height: 13px;
}
table.pure-table tr.editor-container input[type="checkbox"].checkbox-checkbox + label.checkbox-label span.icon {
    margin-right: 6px;
}
table.pure-table tr.editor-container td {
    text-align: left;
    /*border-color: rgb(150, 204, 86);*/
    border:1px solid #4acbd6;
    padding-left: 40px;
    border-top-color: #ccc;
}
table.pure-table td, table.pure-table th {
    padding: 6px 3px;
}
span.table-icon {
    background: url(../img/icons.png) no-repeat scroll -198px -432px transparent;
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-left: 5px;
    margin-right: 4px;
    cursor: pointer;
}

div.table-btn .inline:hover {
    opacity: 0.7;
    /*filter: alpha(opacity=70);*/
}
span.table-grid-icon:hover {
    opacity: 0.7;
    /*filter: alpha(opacity=70);*/
}
span.table-grid-icon {
    background: url(../img/icons.png) no-repeat -54px -36px;
    display: inline-block;
    width: 18px;
    height: 21px;
    cursor: pointer;
    margin: 0px 3px;
}
span.enable-icon {
    background-position: -298px -42px;
    width: 16px;
}
span.disable-icon {
    background-position: -319px -42px;
    width: 20px;
}
span.inactive-icon {
    background-position: -468px -24px;
    width: 16px;
}
span.inactive-disable-icon {
    background-position: -486px -24px;
    width: 20px;
}
span.safely-remove-icon {
    background-position: -342px -22px;
}
span.edit-modify-icon {
    background-position: -398px 0px;
}
span.connect-icon {
    background-position: -442px -20px;
}
span.disconnect02-icon { /* for ac3200 */
    background-position: -82px -21px;
    height: 19px;
}
span.edit-trash-icon {
    background-position: -222px -20px;
}
span.close-icon {
    background-position: -302px -22px;
}
span.add-icon {
    cursor: pointer;
    background-position: -262px -22px;
}
span.delete-icon {
    cursor: pointer;
    background-position: -121px -22px;
}
span.reset-icon {
    cursor: pointer;
    background-position: -362px -22px;
}
span.clock-icon {
    background-position: -42px -20px;
}
span.delete-all-icon {
    background-position: -122px -22px;
}
span.refresh-icon {
    cursor: pointer;
    background-position: -82px -42px;
}
span.block-icon {
    background-position: -443px -22px;
}
span.conn-status { /* for ac3200 */
    background: url('../img/icons-02.png') no-repeat scroll -18px -1px transparent;
    width: 18px;
    height: 16px;
    display: inline-block;
}
span.disconn-status {
    cursor: pointer;
    background-position: -302px -20px;
}
span.play-icon {
    background: url("../img/icons.png") no-repeat scroll -306px -1214px;
    cursor: pointer;
    display: inline-block;
    height: 18px;
    margin-left: 5px;
    margin-right: 4px;
    width: 18px;
}
span.noplay-icon {
    background: url("../img/icons.png") no-repeat scroll -427px -1214px;
    cursor: pointer;
    display: inline-block;
    height: 18px;
    margin-left: 5px;
    margin-right: 4px;
    width: 18px;
}
label.table-icon-text {
    color: #4acbd6;
    cursor: pointer;
}
tr.head {
    /*background-color: #fafafa;
    border-bottom: 1px solid #d9d9d9;
    border-top: 1px solid #d9d9d9;*/
    color: #36444b;
}
tr.editor-container {
    border: 1px solid #4acbd6;
    text-align: left;
    display: table-row;
}
tr.editor-container > td {
    border: 1px solid #4acbd6;
}
th, td {
    text-align: center;
}
tr.edit-td-top td, tr.edit-td-top th.edit-td-top {
    border-bottom: 1px solid #4acbd6;
}
div.table-op {
    margin-bottom: 8px;
    position: relative;
    text-align: right;
    width: 100%;
}
div.table-btn {
    display: inline-block;
    text-align: right;
    margin-right: 8px;
    vertical-align: middle;
}
div.table-note {
    display: inline-block;
    margin: 0;
    float: left;
}
div.table-note span {
    vertical-align: bottom;
}
th.table-head, td.table-content {
    vertical-align: middle;
    text-align: center;
    font-weight: normal;
}
td.table-content {
    word-wrap: break-word;
    word-break: break-all;
}
div.table-bottom-pages {
    position: relative;
    padding: 0px;
    margin-top: 10px;
    text-align: right;
    line-height: 20px;
    vertical-align: middle;
}
div.table-bottom-pages span {
    display: inline-block;
    line-height: 21px;
    height: 21px;
    padding: 0px 5px;
    cursor: pointer;
}
div.table-bottom-pages span.page {
    background: url("../img/icons.png") no-repeat scroll -3px -146px;
    height: 22px;
    margin-left: 2px;
    width: 14px;
    display: inline-block;
    cursor: pointer;
}
div.table-bottom-pages span.page.right {
    background-position: -289px -120px;
}
div.table-bottom-pages span.page.gray {
    background-position: -237px -120px;
}
div.table-bottom-pages span.page.right.gray {
    background-position: -367px -120px;
}
span.click-page {
    color: #4acbd6;
}
div.keyword {
    margin: 5px 5px;
    display: inline-block;
}
div.div-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #36444b;
    opacity: 0.2;
    filter: alpha(opacity=20);
    z-index: 710;
    display: block;
}
div.table-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #36444b;
    opacity: 0.2;
    filter: alpha(opacity=20);
    z-index: 789;
    display: none;
    border-radius: 0 0 5px 5px ;
}
div.table-mask + div.table-mask {
    border-radius: 5px 5px 0 0;
}
table.sche tr.block, table.sche tr th.block {
    height: 49px;
}
table.sche tr.blockex, table.sche tr th.blockex {
    height: 10px;
}
table.sche tr, table.cale tr {
    height: 21px;
    width: 33px;
}
table.sche th {
    border: 0px solid #999;
    font-family: "Arial";
    font-weight: normal;
    font-size: 12px;
    text-align: center;
    padding: 0;
    height: 18px;
    width: 33px;
}
table.cale th.sel {
    background: #4acbd6;
}
table.cale th {
    border: 1px solid #999;
    font-family: "Arial";
    font-weight: normal;
    font-size: 12px;
    text-align: center;
    padding: 0;
    height: 18px;
    width: 33px;
    cursor: pointer;
}
table.cale td {
    border: 1px solid #999;
    padding: 0;
    height: 18px;
    width: 11px;
    cursor: pointer;
}
table.cale span {
    float: left;
    height: 18px;
    width: 93px;
    padding-left: 14px;
    margin: 1px 0 1px 1px;
    cursor: pointer;
}
table.cale span.sel {
    background: #4acbd6;
}
span.timeSelOrange {
    background: #ffcb00;
}
div.on-mask {
    z-index: 952;
    display: inline-block;
}
span.conn-status { /* for ac3200 */
    background: url('../img/icons-02.png') no-repeat scroll -18px -1px transparent;
    width: 18px;
    height: 16px;
    display: inline-block;
}
span.conn-opt {
    color: #599E00;
    cursor: pointer;
}
span.conn-opt-disabled {
    color: #b3b3b3;
    cursor: pointer;
}
div.btn-right, div.inline-btn-right {
    text-align: right;
    margin: 16px 35px 16px 0;
}
div.inline-btn-right.mr0 {
    margin-right: 0;
}
div.inline-btn-right2 {
    text-align: right;
    margin-left: 30px;
    margin-bottom: 15px;
}