@charset "utf-8";
/* CSS Document */
html{
	font-size: 16px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", Arial, Hiragino, Verdana, sans-serif;
	height: 100%;
	margin: 0;
	padding: 0;

	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;

	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-overflow-scrolling: touch;

	-webkit-user-select:none;
	-moz-user-select:none;
	-o-user-select:none;
	user-select:none;
}

/* layout */
body{
	/*position: relative;*/
}
h1,h2,h3,h4,h5{
	font-weight: normal;
}
button{
	outline: none;
	cursor: pointer;
}
button,
input{
	font-family: Hiragino, Verdana, Arial, sans-serif;
	border: 0px none;
	outline: none;
	font-size: 0.95rem;/*1rem;*/
	line-height: 1rem;
}
button{
	background-color: transparent;
	padding: 0;
	text-align: center;
}

a{
	text-decoration: none;
}

.hidden{
	display: none!important;
}
.left{

}
.right{
	float: right;
}

header.main-header{
	position: fixed;

	width: 100%;
	top: 0;
	left: 0;
	z-index: 7;
}
header.main-header.absolutePos{
	position:absolute;
}
div.main-header-banner{
	text-align: center;
}
div.module-container{
	/*max-width: 1024px;*/
	min-width: 320px;

	margin: 0 auto;
	padding-top: 2.5rem;
}

div.form-container div.form-header-container{
	position: fixed;
	top: 2.5rem;
	left: 0;
	width: 100%;

	/*max-width: 1024px;*/
	z-index: 2;
}

div.widget-jump-container div.widget-jump-target-content{
	/*max-width: 1024px;*/
}

.clearfix:after{
	content: "";
	display: block;
	clear:both;
	height: 0;
}
.clearfix{
	zoom:1;
}