#top-con {
    /*width: 1080px;*/
}
a.top-btn#topLogout span.text {
    width: 90px;
}

a.top-btn#topLogout {
    width: 92px;
}
div.select-title.T_conntype {
	width: 210px;
}

/*
div.mode-change span.first-mode, div.mode-change span.second-mode,  div.mode-change span.third-mode{
    padding: 3px 1px;
    font-size: 9px;
}
*/
span#status_guest_title.T_c_wlguest{
	margin-left: -5px;
}
span#conn_status_guest_2g{
	margin-left: -5px;
}
span#conn_status_guest_5g{
	margin-left: -5px;
}
span#conn_status_guest_5g_2{
	margin-left: -5px;
}

button#detect {/* wanBasic.htm, qsEwan.htm */
    width: 140px;
}
button#GetPCTime {/* time.htm */
    width: 160px;
}
button#resetBtn{/* backNRestore.htm */
    width: 150px;
}
button#factoryBtn{/* backNRestore.htm */
    width: 150px;
}
button#view{/* virtualserver.htm */
	width:200px;
    height: 42px;
}
button#t_view{/* portTrigger.htm */
	width:200px;
    height: 42px;
}
button#t_viewdev /* parentCtrl.htm */
{
    width: 195px;
    height: 42px;
    white-space: normal;
}
button#login_dyndns {/* ddns.htm */
    width: 120px;
}
button#logout_dyndns {/* ddns.htm */
    width: 120px;
}
button#login_noip {/* ddns.htm */
    width: 120px;
}
button#logout_noip {/* ddns.htm */
    width: 120px;
}