/* port-triggering */
#table-triggering.pure-table-bordered tbody>tr.editor-container:last-child td,
table#table-virtual.pure-table tr#edit-container-virtual.editor-container td {
    padding-left: 20px
}

#edit-container-triggering .pure-control-group label.label-title,
#edit-container-triggering .select-container .select-title,
#edit-container-virtual .pure-control-group label.label-title,
#edit-container-virtual .select-container .select-title {
    width: 170px;
}

#edit-container-triggering div.textbox-tips {
    width: auto;
}