.top-country {
    margin-left: 20px;
}
.pure-form-aligned .pure-control-group label.label-title.s {
    width: 91px;
}
.pure-form-aligned .pure-control-group label.label-title.ru-m {
    width: 145px;
}
.pure-form-aligned .pure-control-group label.label-title.ru-l {
    width: 218px;
}
.pure-form-aligned .pure-control-group label.label-title.xl, .pure-form-aligned .pure-control-group label.label-title.ru-xl {
    width: 278px;
}
.pure-form-aligned .pure-control-group label.label-title.xxl, .pure-form-aligned .pure-control-group label.label-title.ru-xxl {
    width: 318px;
}
.pure-form-aligned .pure-control-group label.label-title.xxxl, .pure-form-aligned .pure-control-group label.label-title.ru-xxxl {
    width: 348px;
}
.pure-form-aligned .pure-control-group label.label-title.ru-xxxxl {
    width: 398px;
}
.device-detail-form .label-container {
	width:271px;
}
div.map-router-connect {
}
div.map-router-tip {
    right: -95px;
}
div.map-router-tip div.map-router-wrap {
    width: 50px;
}
div.map-router-tip div.map-router-bar {
    left: 52px;
}
div.content div.mode-change {
    left: 192px;
}
.top-titleBar-operationContainer a {
	font-size: 0.9rem;
}
button.ru-l {
    width: 132px;
}
button.ru-xl {
    width: 150px;
}
button.ru-xxl {
    width: 270px;
}
button.xxxl, button.ru-xxxl {
    width: 300px;
}
button.xxxxl, button.ru-xxxxl {
    width: 330px;
}
div.mode-change {
    width: 120px;
}
div.mode-change span.first-mode, div.mode-change span.second-mode {
    padding: 3px 1px;
    font-size: 9px;
}
div.widget-container div.widget-fieldlabel-wrap {
    width: 278px;
}
.select-title.l, .select-title.ru-l {
    width: 252px;
}
.select-title.xl, .select-title.ru-xl {
    width: 278px;
}
.select-title.xxl, .select-title.ru-xxl {
    width: 322px;
}
.select-title.ru-xxxl, .select-title.xxxl {
    width: 351px;
}
.select-title.ru-xxxxl {
    width: 402px;
}
.ru-xl .tp-select, .ru-xl.xxl .tp-select {
    width: 200px;
}
.ru-xxl .tp-select {
    width: 300px;
}
.ru-hide {
    display: none !important;
}
button span {
    text-align: center;
    color: #fff;
}
button.ru-len-auto {
    width: auto;
}
.top-titleBar-operationContainer a {
    font-size: 0.8rem;
}
.top-titleBar h1 {
    padding: 0 75px;
}
#bot_con span#bot_sver {
	margin-left: 25px;
}
#bot_con span#bot_hver {
	margin-left: 15px;
}
#table-triggering.pure-table-bordered tbody>tr.editor-container:last-child td,
table#table-virtual.pure-table tr#edit-container-virtual.editor-container td {
    padding-left: 30px
}
#edit-container-triggering .pure-control-group label.label-title,
#edit-container-triggering .select-container .select-title,
#edit-container-virtual .pure-control-group label.label-title,
#edit-container-virtual .select-container .select-title {
    width: 115px;
}
#edit-container-triggering div.textbox-tips {
    width: auto;
}
span#t_status {
    display: block;
    margin-top: 15px;
}
