#top-con {
    /*width: 1200px;*/
}
#base-white {
    margin-left: 355px;
}
#top-con.singleLanguage {
    /*width: 1200px;*/
}
.top-country {
    margin-left: 20px;
}
#top-con div.top-nav ul li span {
    /*min-width: 125px;*/
    /*padding: 0 10px;*/
    width: 155px;
    word-wrap: break-word;
    line-height: 17px;
}
 #top-product {
    margin-left: 0;
    width: 185px;
}
div.top-nav {
    margin: 36px 0 0 20px;
    /*width: 600px;*/
}
a.top-btn#topReboot span.text {
    width: 100px;
}

a.top-btn#topReboot {
    width: 102px;
}
#con {
    width: 1200px;
}
#menu {
    width: 340px;
}
#menu li.ml1 {
    width: 342px;
}
#main {
    width: 690px;
    left: 350px;
}
.pure-form-aligned .pure-control-group label.label-title.s {
    width: 91px;
}
.pure-form-aligned .pure-control-group label.label-title.ru-m {
    width: 145px;
}
.pure-form-aligned .pure-control-group label.label-title.ru-l {
    width: 218px;
}
.pure-form-aligned .pure-control-group label.label-title.xl, .pure-form-aligned .pure-control-group label.label-title.ru-xl {
    width: 278px;
}
.pure-form-aligned .pure-control-group label.label-title.xxl, .pure-form-aligned .pure-control-group label.label-title.ru-xxl {
    width: 318px;
}
.pure-form-aligned .pure-control-group label.label-title.xxxl, .pure-form-aligned .pure-control-group label.label-title.ru-xxxl {
    width: 348px;
}
.pure-form-aligned .pure-control-group label.label-title.ru-xxxxl {
    width: 398px;
}
div.map-router-connect {
}
div.map-router-tip {
    right: -95px;
    width: 180px;
}
div.map-router-tip div.map-router-wrap {
    width: 50px;
}
div.map-router-tip div.map-router-bar {
    left: 52px;
}
div.pure-g div.pure-u-1-2 div.content {
    width: 330px;
}
div.pure-g div.pure-u-1-1 div.content {
    width: 664px;
}
button.ru-l {
    width: 132px;
}
button.ru-xl {
    width: 150px;
}
button.ru-xxl {
    width: 270px;
}
button.xxxl, button.ru-xxxl {
    width: 300px;
}
button.xxxxl, button.ru-xxxxl {
    width: 330px;
}
div.mode-change {
    width: 180px;
}
div.mode-change span.first-mode, div.mode-change span.second-mode,  div.mode-change span.third-mode{
    padding: 3px 1px;
    font-size: 9px;
}
div.widget-container div.widget-fieldlabel-wrap {
    width: 278px;
}
.select-title.l, .select-title.ru-l {
    width: 252px;
}
.select-title.xl, .select-title.ru-xl {
    width: 282px;
}
.select-title.xxl, .select-title.ru-xxl {
    width: 322px;
}
.select-title.ru-xxxl, .select-title.xxxl {
    width: 351px;
}
.select-title.ru-xxxxl {
    width: 402px;
}
.ru-xl .tp-select, .ru-xl.xxl .tp-select {
    width: 200px;
}
.ru-xl .select-icon {
    margin: 6px 0 0 196px;
}
.ru-xxl .tp-select {
    width: 300px;
}
.ru-xxl .select-icon {
    margin: 6px 0 0 294px;
}
.ru-hide {
    display: none !important;
}
/* for status.htm */
div.map-panel-cnt {
    margin-left: -30px;
}
div.pure-g div.pure-u-1-2 div.content {
    width: 356px;
}
/* iptv.htm */
/*
div#internetVPrior.inline {
	margin-left: -20px;
}

label#internetVPriCon.inline {
	margin-left: -20px;
	width:10px;
}
*/
button#detect {/* wanBasic.htm, qsEwan.htm */
    width: 140px;
}
button#refresh{/* backNRestore.htm */
    width: 100px;
}
button#GetPCTime {/* time.htm */
    width: 100px;
}
button#GetTime {/* time.htm */
    width: 260px;
}
div.button-container + #t_status {/* time.htm */
    display: block;
    margin: 1em 0;
}
button#t_backup{/* backNRestore.htm */
    width: 200px;
}
button#resetBtn{/* backNRestore.htm */
    width: 300px;
}
button#t_testInternet{
	width: 300px;
}
button.T_conn{/* ethWan.htm */
	width: 130px;
}
button.T_disconn{/* ethWan.htm */
	width: 130px;
}
button#t_save{/* log.htm */
    width: 210px;
}
button#export{/* openvpnServer.htm */
	width: 140px;
}
.pure-form-aligned .pure-control-group label.label-title.l.T_swver {/* softup.htm */
	width: 275px;
}
.pure-form-aligned .pure-control-group label.label-title.l.T_hwver {/* softup.htm */
	width: 275px;
}
