<div class="main-page">
	<div class="form-container">
		<div form-header title="LAN.TITLE">
			<div button position="right" text="FORM.SAVE" ng-model="form.submitBtn" on-click="save()"></div>
		</div>
		<div class="form-content-container">
			<div class="fieldset-container">
				<div class="fieldset-content-container">
					<div class="display-border-bottom" display-field label="LAN.MAC_ADDRESS" ng-model="form.data.macaddr"></div>
					<div ip-field label="LAN.IP_ADDRESS" ng-model="form.data.ipaddr"></div>
					<div class="combo-subnet-mask" combo-field label="LAN.SUBNET_MASK" ng-model="form.data.mask_type"></div>
					<div ip-field ng-model="form.data.custom_value"></div>
				</div>
			</div>
		</div>
		<div class="page-msg">
			<div message id="lan-pro-msg">
				<div progress-bar ng-model="lanProgressBar" class="" speed="{{lanProgressBar.speed}}" width="210" max="100" fn="lanProgressBar.fn()"></div>
			</div>
		</div>
	</div>
</div>

