<div ng-hide="href!=''" class="widget-nav-container" ng-controller="buttonGroup">
	<div orientate>
		<div class="widget-nav-content">
			<div class="widget-nav-background">
				<div class="widget-nav-inner-background widget-nav-inner-background-1"></div>
				<div class="widget-nav-inner-background widget-nav-inner-background-2"></div>
			</div>
			<div class="widget-nav-center-container popping">
				<div class="widget-nav-center-container-wrapper"></div>
				<div class="widget-nav-center-background"></div>
				<div class="widget-nav-center" ng-click="switchHref('status')">
					<div class='widget-nav-center-text' translate>{{productName}}</div>
				</div>
			</div>
			<div ng-controller="networkInternet" class="widget-nav-layer0-left widget-nav-icon-container {{noUSB}}" ng-click="switchHref('internet')">
				<div class="widget-nav-layer0-center-icon widget-nav-icon" ng-class="checkInternet">
					<div class='widget-nav-text'><span translate>NETWORK.INTERNET</span></div>
				</div>
			</div>
			<div class="widget-nav-layer0-center widget-nav-icon-container {{noUSB}}" ng-click="switchHref('wireless')">
				<div class="widget-nav-layer0-left-icon widget-nav-icon">
					<div class='widget-nav-text'><span translate>NETWORK.WIRELESS</span></div>
				</div>
			</div>
			<div class="widget-nav-layer1-left widget-nav-icon-container {{noUSB}}" ng-click="switchHref('guest')">
				<div class="widget-nav-layer0-right-icon widget-nav-icon">
					<div class='widget-nav-text'><span translate>NETWORK.GUEST_NETWORK</span></div>
				</div>
			</div>
			<div class="widget-nav-layer1-right widget-nav-icon-container" ng-click="switchHref('usb')" ng-if="noUSB !== 'noUSB'">
				<div class="widget-nav-layer1-left-icon widget-nav-icon">
					<div class='widget-nav-text'><span translate>NETWORK.USB_DEVICES</span></div>
				</div>
			</div>
			<div class="widget-nav-layer0-right widget-nav-icon-container {{noUSB}}" ng-click="switchHref('access')">
				<div class="widget-nav-layer1-right-icon widget-nav-icon">
					<div class='count'><div ng-bind='device_num||0'></div></div>
					<div class='widget-nav-text'><span translate>NETWORK.ACCESS_DEVICES</span></div>
				</div>
			</div>
		</div>
		<div button class="visit-choose"  ng-model="form.switchDevice" text="NETWORK.SWITCHTOPC" on-click="switchToPC()"></div>
	</div>
</div>
<div ng-switch class="widget-network-container" on="href">
	<!-- route status -->
	<div class="main-page form-container" ng-controller="routerStatus" ng-switch-when="status">
		<form novalidate name="status" class="form-horizontal">
			<div form-header title="{{formData.model.data}}">
				<div button cls="button-back" icon-cls="back-button" position="left" text="FORM.BACK" on-click="back()"></div>
			</div>
			<div class="form-content-container">
				<div class="fieldset-container">
					<div class="fieldset-content-container non-editable">
						<div label="NETWORK.MODEL" separator=":" display-field ng-model="formData.model"></div>
						<div label="NETWORK.INTERNET_STATUS" separator=":" display-field ng-model="formData.internet_status"></div>
						<div label="NETWORK.CONN_TYPE" separator=":" display-field ng-model="form.data.wan_ipv4_conntype"></div>
						<div class="column column-4" label="NETWORK.FIRMWARE_VERSION" separator=":" display-field ng-model="formData.firmware_version"></div>
						<div class="column column-4" label="NETWORK.HARDWARE_VERSION" separator=":" display-field ng-model="formData.hardware_version"></div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<!-- internet-->
	<div class="main-page form-container" ng-switch-when="internet">
		<form novalidate name="internet" class="form-horizontal">
			<div form-header title="NETWORK.INTERNET">
				<div button cls="button-back" icon-cls="back-button" position="left" text="FORM.BACK" on-click="back()"></div>
				<!-- <div button position="right" text="FORM.EDIT" on-click="edit('/internet')"></div> -->
			</div>
			<div class="form-content-container">
				<div class="fieldset-container">
					<div class="fieldset-content-container non-editable">
						<div label="NETWORK.MAC_ADDRESS" separator=":" display-field ng-model="form.data.wan_macaddr"></div>
						<div label="NETWORK.IP_ADDRESS" separator=":" display-field ng-model="form.data.wan_ipv4_ipaddr"></div>
						<div label="NETWORK.SUBNET_MASK" separator=":" display-field ng-model="form.data.wan_ipv4_netmask"></div>
						<div label="NETWORK.DEFAULT_GATEWAY" separator=":" display-field ng-model="form.data.wan_ipv4_gateway"></div>
						<div label="NETWORK.PRIMARY_DNS" separator=":" display-field ng-model="form.data.wan_ipv4_pridns"></div>
						<div label="NETWORK.SECOND_DNS" separator=":" display-field ng-model="form.data.wan_ipv4_snddns"></div>
						<div label="NETWORK.CONN_TYPE" separator=":" display-field ng-model="form.data.wan_ipv4_conntype"></div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<!-- wireless-->
	<div class="main-page form-container" ng-switch-when="wireless">
		<form novalidate name="wireless" class="form-horizontal">
			<div form-header title="NETWORK.WIRELESS">
				<div button cls="button-back" icon-cls="back-button" position="left" text="FORM.BACK" on-click="back()"></div>
				<!-- <div button position="right" text="FORM.EDIT" on-click="edit('/wireless')"></div> -->
			</div>
			<div class="form-content-container">
				<div class="fieldset-container">
					<div legend-field title="NETWORK.WIRELESS_24GHZ"></div>
					<div class="fieldset-content-container">
						<div label="NETWORK.WIRELESS_RADIO" separator=":" display-field ng-model="form.data.wireless_2g_enable"></div>
						<div class="column column-3" label="NETWORK.SSID" separator=":" display-field ng-model="form.data.wireless_2g_ssid"></div>
						<div label="NETWORK.MODE" separator=":" display-field ng-model="form.data.wireless_2g_hwmode"></div>
						<div label="NETWORK.CHANNEL" separator=":" display-field ng-model="form.data.wireless_2g_channel"></div>
					</div>
				</div>
				<div class="fieldset-container">
					<div legend-field title="NETWORK.WIRELESS_5GHZ_1"></div>
					<div class="fieldset-content-container">
						<div label="NETWORK.WIRELESS_RADIO" separator=":" display-field ng-model="form.data.wireless_5g_enable"></div>
						<div class="column column-3" label="NETWORK.SSID" separator=":" display-field ng-model="form.data.wireless_5g_ssid"></div>
						<div label="NETWORK.MODE" separator=":" display-field ng-model="form.data.wireless_5g_hwmode"></div>
						<div label="NETWORK.CHANNEL" separator=":" display-field ng-model="form.data.wireless_5g_channel"></div>
					</div>
				</div>

				<div class="fieldset-container">
					<div legend-field title="NETWORK.WIRELESS_5GHZ_2"></div>
					<div class="fieldset-content-container">
						<div label="NETWORK.WIRELESS_RADIO" separator=":" display-field ng-model="form.data.wireless_5g_2_enable"></div>
						<div class="column column-3" label="NETWORK.SSID" separator=":" display-field ng-model="form.data.wireless_5g_2_ssid"></div>
						<div label="NETWORK.MODE" separator=":" display-field ng-model="form.data.wireless_5g_2_hwmode"></div>
						<div label="NETWORK.CHANNEL" separator=":" display-field ng-model="form.data.wireless_5g_2_channel"></div>
					</div>
				</div>

			</div>
		</form>
	</div>
	<!-- Guest Network-->
	<div class="main-page form-container" ng-switch-when="guest">
		<form novalidate name="guest" class="form-horizontal">
			<div form-header title="NETWORK.GUEST_NETWORK">
				<div button cls="button-back" icon-cls="back-button" position="left" text="FORM.BACK" on-click="back()"></div>
				<!-- <div button position="right" text="FORM.EDIT" on-click="edit('/guest')"></div> -->
			</div>
			<div class="form-content-container">
				<div class="fieldset-container">
					<div legend-field title="NETWORK.GUEST_24GHZ"></div>
					<div class="fieldset-content-container">
						<div label="NETWORK.WIRELESS_RADIO" separator=":" display-field ng-model="form.data.guest_2g_enable"></div>
						<div class="column column-3" label="NETWORK.SSID" separator=":" display-field ng-model="form.data.guest_2g_ssid"></div>
						<div label="NETWORK.ALLOW_GUEST_TO_SEE" separator=":" display-field ng-model="form.data.guest_isolate"></div>
					</div>
				</div>
				<div class="fieldset-container">
					<div legend-field title="NETWORK.GUEST_5GHZ_1"></div>
					<div class="fieldset-content-container">
						<div label="NETWORK.WIRELESS_RADIO" separator=":" display-field ng-model="form.data.guest_5g_enable"></div>
						<div class="column column-3" label="NETWORK.SSID" separator=":" display-field ng-model="form.data.guest_5g_ssid"></div>
						<div label="NETWORK.ALLOW_GUEST_TO_SEE" separator=":" display-field ng-model="form.data.guest_isolate"></div>
					</div>
				</div>
				<div class="fieldset-container">
					<div legend-field title="NETWORK.GUEST_5GHZ_2"></div>
					<div class="fieldset-content-container">
						<div label="NETWORK.WIRELESS_RADIO" separator=":" display-field ng-model="form.data.guest_5g_2_enable"></div>
						<div class="column column-3" label="NETWORK.SSID" separator=":" display-field ng-model="form.data.guest_5g_2_ssid"></div>
						<div label="NETWORK.ALLOW_GUEST_TO_SEE" separator=":" display-field ng-model="form.data.guest_isolate"></div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<!-- USB Disk-->
	<div class="main-page form-container" ng-switch-when="usb">
		<form novalidate name="usb" class="form-horizontal">
			<div form-header title="NETWORK.USB_DEVICES">
				<div button cls="button-back" icon-cls="back-button" position="left" text="FORM.BACK" on-click="back()"></div>
				<!-- <div button position="right" text="FORM.EDIT" on-click="edit('/usb')"></div> -->
			</div>
			<div class="form-content-container" ng-class="(form.data.printer==false)&&(form.data.usb_storages.data==false)?'both_no_usb':''">
				<div class="fieldset-container" ng-if="!noPrinter">
					<div legend-field title="NETWORK.PRINT_SERVER"></div>
					<div class="fieldset-content-container" ng-class="form.data.printer==false?'no_usb':''">
						<div class="no_usb_placeholder" translate>NETWORK.NO_USB_DEVICES</div>
						<div client-field type="printer" ng-model="form.data.printer" type="print" ></div>
					</div>
				</div>
				<div class="fieldset-container">
					<div legend-field title="NETWORK.USB_DISK"></div>
					<div class="fieldset-content-container" ng-class="form.data.usb_storages.data==false?'no_usb':''">
						<div class="no_usb_placeholder" translate>NETWORK.NO_USB_DEVICES</div>
						<div client-field type="usb" ng-model="form.data.usb_storages.data"></div>
					</div>
				</div>
			</div>
		</form>
	</div>
	
	<!-- Access Devices-->
	<div class="main-page form-container" ng-switch-when="access">
		<form novalidate name="access" class="form-horizontal">
			<div form-header title="NETWORK.CONNECTED_DEVICES">
				<div button cls="button-back" icon-cls="back-button" position="left" text="FORM.BACK" on-click="back()"></div>
				<!-- <div button position="right" text="FORM.EDIT" class="hidden" on-click="edit('/parental')"></div> -->
			</div>
			<div class="form-content-container" ng-class="(form.data.access_devices_wireless_host.data==false)&&(form.data.access_devices_wireless_guest.data==false)&&(form.data.access_devices_wired.data==false)?'both_no_device':''">
				<div class="fieldset-container">
					<div legend-field title="NETWORK.WIRELESS_CLIENTS_HOST"></div>
					<div class="fieldset-content-container" ng-class="(form.data.access_devices_wireless_host.data==false)?'no_device':''">
						<div class="no_device_placeholder" translate>NETWORK.NO_DEVICE</div>
						<div client-field type="client" ng-model="form.data.access_devices_wireless_host.data"></div>
					</div>
				</div>
				<div class="fieldset-container">
					<div legend-field title="NETWORK.WIRELESS_CLIENTS_GUEST"></div>
					<div class="fieldset-content-container" ng-class="(form.data.access_devices_wireless_guest.data==false)?'no_device':''">
						<div class="no_device_placeholder" translate>NETWORK.NO_DEVICE</div>
						<div client-field type="client" ng-model="form.data.access_devices_wireless_guest.data"></div>
					</div>
				</div>
				<div class="fieldset-container">
					<div legend-field title="NETWORK.WIRED_CLIENTS"></div>
					<div class="fieldset-content-container" ng-class="(form.data.access_devices_wired.data==false)?'no_device':''">
						<div class="no_device_placeholder" translate>NETWORK.NO_DEVICE</div>
						<div client-field type="client" ng-model="form.data.access_devices_wired.data"></div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>