/* CSS Document */
* { 
	font-family:Tahoma
}
td {
	font-size: 12px; color: #344b57; font-family:Tahoma
}
body {
    font-size: 12px; font-family:Tahoma
}
.button {
	font-size: 12px; font-family:Tahoma; width:100px; cursor:pointer
}
.button2 {
	font-size: 24px; font-family:Tahoma; width:230px; height:50px; font-weight:bold; cursor:pointer
}
.button3 {
	font-size: 12px; font-family:Tahoma; width:180px; cursor:pointer
}
.button4 {
	font-size: 12px; font-family:Tahoma; width:180px; height:30px; cursor:pointer
}
.button5 {
	font-size: 12px; font-family:Tahoma; width:70px; cursor:pointer
}
.table {
	border: #1651ab 1px solid; list-style-position: inside; font-size: 12px; width-space: normal; list-style-type: circle
}
.title {
	font-weight:bold; font-size:14px; color:#344b57
}
.title2 {
	background-color:#dcdcdc; height:25px; font-weight:bold;
}
.title3 {
	height:25px; font-weight:bold;
}
.title4 {
	background-color:#dddddd; height:25px; font-weight:bold;
}
.thead {
	width:30%; color:#344b57
}
.thead2 {
	width:30%; color:#344b57
}
.thead3 {
	width:180px; color:#344b57; text-align:right;
}
.thead4 {
	width:120px; color:#344b57; text-align:right; font-weight:bold;
}
.tcenter {
	color:#344b57; font-weight:bold;
}

#wps_progress_bar {
	width:250px; height:15px; border:1px solid #888888;
}

#loading {
   	width:300px; height:121px; background-image:url(../style/wait_bg.gif); color:#344b57; position:absolute; left:50%; top:50%; margin-top:-150px; margin-left:-250px; text-align:center; font-family:Tahoma; font-weight:bold;
}

blockquote {
	font-size: 12px; color: #344b57; font-family:Tahoma
}
p {
	font-size: 12px; color: #344b57; font-family:Tahoma
}

h2 {
	font-weight:bold; font-size:14px;
}

.tt {
	margin-left:-45px;
}
.hidden{display:none;}