/*
div.top-nav ul li span.text {
    width: 136px;
}
*/
.top-control {
  margin-right: 0px;
}

a.top-btn#topLogout span.text {
    width: 80px;
}

a.top-btn#topLogout {
    width: 82px;
}

a.top-btn#topReboot span.text {
    width: 80px;
}

a.top-btn#topReboot {
    width: 82px;
}


button#detect {/* wanBasic.htm, qsEwan.htm */
    width: 180px;
}
button#GetPCTime {/* time.htm */
    width: 180px;
}
button#resetBtn{/* backNRestore.htm */
    width: 150px;
}
button#factoryBtn{/* backNRestore.htm */
    width: 260px;
}
button.zone{
		width: 260px;
}
button#t_testInternet{
	width: 200px;
}
table#table-virtual button#view{/* virtualserver.htm */
    white-space: normal;
    width: 165px;
    height: 42px;
}
table#table-triggering button#t_view{/* portTrigger.htm */
    white-space: normal;
    width: 165px;
    height: 42px;
}
button#t_viewdev /* parentCtrl.htm */
{
	width:210px;
}

/* time.htm */
/*.pure-form-aligned .pure-control-group label.label-title.s {
  width: 110px;
}
.select-title.xxxs {
  width: 114px;
}
*/

button#conn /* ethWan.htm */
{
	width:120px;
}
button#conn2 /* ethWan.htm */
{
	width:120px;
}
button#disConn /* ethWan.htm */
{
	width:120px;
}
button#disConn2 /* ethWan.htm */
{
	width:120px;
}.pure-form-aligned .pure-control-group label.label-title.l { /* openvpn*/
  width: 200px;
}
/*parent control*/
#children-grid .internet-pause-icon .text{
    left: -10px;
}