div.top-nav ul li span.text {
    width: 120px;
}
.top-control {
	margin-left: -20px;
	margin-right: 0px;
}
.top-btn {
  margin-right: 0px;
}

a.top-btn#topLogout span.text {
    width: 75px;
}
a.top-btn#topLogout {
    width: 76px;
}

a.top-btn#topReboot span.text {
    width: 115px;
}
a.top-btn#topReboot{
    width: 116px;
}

a.top-btn#topUpdate span.text {
    width: 50px;
}
a.top-btn#topUpdate {
    width: 51px;
}

button#detect {/* wanBasic.htm, qsEwan.htm */
    width: 180px;
}
button#login_dyndns {/* ddns.htm */
    width: 140px;
}
button#logout_dyndns {/* ddns.htm */
    width: 140px;
}
button#login_noip {/* ddns.htm */
    width: 140px;
}
button#logout_noip {/* ddns.htm */
    width: 140px;
}
button#resetBtn{/* backNRestore.htm */
    width: 150px;
}
button#factoryBtn{/* backNRestore.htm */
    width: 220px;
}
button#disConn /* ethWan.htm */
{
	width:160px;
}
button#disConn2 /* ethWan.htm */
{
	width:160px;
}
button#restoreTimePicker {
    min-width: 230px;
}
/*parent control*/
#children-grid .internet-pause-icon .text{
    left: -15px;
}