#top-con {
    /*width: 1080px;*/
}

/*
div.mode-change span.first-mode, div.mode-change span.second-mode,  div.mode-change span.third-mode{
    padding: 3px 1px;
    font-size: 10px;
}
*/

button#resetBtn{/* backNRestore.htm */
    width: 150px;
}
button#factoryBtn{/* backNRestore.htm */
    width: 300px;
}
/* iptv.htm */
.checkbox-label[for="iptvQtagEn"] span.text {
	width: 50px !important;
	display: inline-block;
	line-height: 14px !important;
}
button#view{/* virtualserver.htm */
    width:160px;
    height: 42px;

}
button#t_view{/* portTrigger.htm */
   	width:160px;
    height: 42px;

}
button#t_viewdev /* parentCtrl.htm */
{
	width:190px;
}

div.file-button-container button.file-button {
    min-width: 100px;
}
