@media screen and (min-width: 1024px) {
	.wifisharing-container.after-input {
		margin-bottom: 12px;
		margin-left: 37%;
	}
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
	#system-log-information .information-panel-tbar-container a.operation-btn + a.operation-btn {
		display: block;
	}

	#connected-clients-grid .grid-header-6 span.content {
		white-space: normal;
		word-break: break-all;
	}
}
