#top-con {
    /*width: 1080px;*/
}
.top-control {
    left: 810px;
}
.crowded-3 .top-control {
    left: 790px;
}
.crowded-4 .top-control {
    left: 755px;
}
.crowded-4 .top-country-select .tp-select {
    width: 90px;
}
div.top-nav ul li span.text {
    width: 140px;
}
h4.status span.conn-status {
    margin-left: 5px;
}
.top-country {
    margin-left: 10px;
}
.crowded-4 .top-country {
    margin-left: 0px;
}
/*css for de-button*/
button.de-lm {
    width: 101px;
}
button.de-l {
    width: 132px;
}

button.de-ll {
    width: 135px;
}
button.de-xl {
    width: 150px;
}
button.de-xxl {
    width: 180px;
}
button.xxxxl {
    width: 351px;
}
#menuTree li.ml2 a {
    padding-left: 64px;
}
#menu li.ml2 a span.text:before {
    left: 57px;
}
.pure-form-aligned .pure-control-group label.label-title.break-all-de{
    word-break:break-all;
}
/*css for  select*/
.select-title.time-separater {
    width: auto;
    min-width: 20px;
}
/*css for select end*/
/*css for mobile*/


/*css for German*/
#top-menuList {
     min-width: 175px;
 }
.top-titleBar-operationContainer a {
    font-size: 14px;
}
.top-titleBar h1 {
    font-size: 15px;
    padding: 0 80px;
}

@media screen and (max-width:397px){
    .top-titleBar-operationContainer a {
        font-size: 13px;
    }
    .top-titleBar h1 {
        font-size: 14px;
        padding: 0 70px;
    }
}

@media screen and (max-width:336px){
    .top-titleBar-operationContainer a {
        font-size: 12px;
    }
    .top-titleBar h1 {
        font-size: 13px;
        padding: 0 70px;
    }
}